// В этом файле должны быть стили для БЭМ-блока menu-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.action-btn {

  $block-name: &; // #{$block-name}__element

  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 0;

    svg {
      fill: none;
    }
  }

  &--user {
      border-radius: 50%;
      &:hover {
        background-color: $tw-gray-100;
      }
  }

  &--search {
      border-radius: 50%;
      &:hover {
        background-color: $tw-gray-100;
      }
  }
}
