// В этом файле должны быть стили для БЭМ-блока article-preview, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article-preview {

  $block-name: &; // #{$block-name}__element

  $items2-width: 700px;

  &.slider__item {
    flex-shrink: 0;

    .index & {
      @media (min-width: $items2-width) {
        display: flex !important;
      }
    }
  }

  &__title {
    color: $tw-black;
  }

  &__list-wrapper {
    position: relative;
  }

  &__list {
    @media (min-width: $items2-width) {
      display: flex;
    }

    @media (min-width: $screen-xxl) {
      @at-root .index &.not-first-page {
        .tns-slide {
          width: 380px !important;
        }
      }

      @at-root .index & {
        display: flex;
      }
    }
  }

  &__list.lg_grid & {
    height: 100%;

    @media (min-width: $screen-lg) {
      display: none;

      &:nth-child(-n+3) {
        display: block;
      }

      &:nth-child(3n-2) {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &:nth-child(3n-1) {
        grid-column-start: 3;
        grid-column-end: 4;
      }

      &:nth-child(3n) {
        grid-column-start: 5;
        grid-column-end: 6;
      }
    }
  }

  &__list--show-all.lg_grid & {
    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__inner {
    border-radius: 4px;
    border: 1px solid $tw-gray-200;
    overflow: hidden;

    .index & {
      @media (max-width: $screen-xxl - 1) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    @media (min-width: $items2-width) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @media (min-width: $screen-xxl) {
      flex-direction: row;
    }

    #{$block-name}__list.lg_grid & {
      margin-bottom: 30px;
    }
  }

  &__img {
    max-width: 100%;
    height: 169px;
    overflow: hidden;

    .index & {
      flex-grow: 1;
    }

    #{$block-name}--inner & {
      height: 300px;
    }

    @media (min-width: 381px) {
      height: 240px;
    }

    @media (min-width: 480px) {
      height: 335px;
    }

    @media (min-width: $screen-xl) {
      height: 380px;
    }

    .index & {
      @media (min-width: $screen-xxl) {
        height: 100%;
      }
    }

    // @media (min-width: $screen-md) {
    //   height: auto;
    // }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $transition-time-img;

      #{$block-name}__img:hover & {}
    }
  }

  // &__content {
  //   display: none;
  // }

  &__text {
    padding: 20px 30px 30px;

    .index & {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: start;
    }

    // #{$block-name}--inner & {
    //   padding: 20px 0;
    // }


    @media (min-width: $items2-width) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & .btn {
        margin-top: auto;
      }
    }

    @media (min-width: $screen-xxl) {
      padding-left: 40px;
    }

    .index & {
      @media (min-width: $items2-width) {
        flex-grow: 1;
      }
    }
  }


  .tns-controls {
    position: absolute;
    top: -60px;
    right: 0;

    @media (min-width: $screen-md) {
      top: -70px;
    }

    & button {
      background-color: $tw-gray-100;

      &::before {
        @include sprite($arrow-right-black-long);
      }
    }
  }

  .cure .article-preview__list {
    display: none;

    &:nth-child(-n+3) {
      display: block;
    }

    &--show-all {
      display: block !important;
    }
  }

}
