// В этом файле должны быть стили для БЭМ-блока question, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.question {

  $block-name:                &; // #{$block-name}__element

  &__item {
    padding-bottom: 30px;
    padding-right: 30px;
    border-bottom: 1px solid $tw-gray-200;
    transition: transform $transition-time;

    #{$block-name}__item-wrapper--open & {
      transform: translateX(30px);
      border-color: transparent;
    }
  }

  &__item-wrapper {
    padding-top: 30px;
    border-radius: 10px;
    overflow: hidden;

    &--open {
      background-color: $tw-gray-200;
    }
  }

  &__header {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__content {
    padding-top: 20px;
    p {
      margin-bottom: 10px;
    }
  }


  &__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;

    span {
      padding-right: 30px;
    }

    svg {
      flex-shrink: 0;
      margin-top: 0.7em;
      margin-left: 20px;
      transition: transform $transition-time;

      #vert {
        display: none;
      }

      #{$block-name}__item-wrapper--open & {
        transform: translateX(-30px);
      }
    }

    &.collapsed {
      svg {
        #vert {
          display: block;
        }
      }
    }
  }

  &__collapse-inner {
    padding-top: 10px;
    padding-right: 30px;
  }

}
