// В этом файле должны быть стили для БЭМ-блока cart-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-page {

  $block-name: &; // #{$block-name}__element

  @media (min-width: $screen-lg) {
    margin-bottom: 34px;
  }

  #bx-soa-tanais-order-form {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: 1fr 20px 365px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 1fr 48px 400px;
    }
  }

  #bx-soa-tanais-order {
    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  #bx-soa-total {
    width: 100% !important;

    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-end: 5;
    }
  }

  .tanais-order .tanais-main-block {
    padding-right: 0 !important;
  }

  .section__title--product-info {
    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-bottom: 40px;
    }
  }

  &__location {
    @media (min-width: $screen-lg) {
      margin-bottom: 40px;
    }
  }

  &__location-address {
    .tanais-form-group {
      width: 100%;
    }
  }

  &__buyer-info {
    margin-top: 65px;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      display: grid;
      grid-template-columns: 1fr 20px 1fr;
      margin-top: 10px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 1fr 32px 1fr;
    }

    .bx_soa_location {
      @media (min-width: $screen-lg) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }

  .section__title--buyer-info {
    margin-bottom: 0;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: 0;
      margin-bottom: 10px;
      @apply text-36px;
    }
  }

  .bx-soa-section {
    box-shadow: none !important;
    margin-bottom: 0;
  }

  .bx-soa-section-title {
    font-family: 'Circe';
    font-weight: 400;
  }

  .bx-soa-section-title-text {
    @apply text-2xl;

    @media (min-width: $screen-lg) {
      @apply text-36px;
    }
  }

  .bx-sls .dropdown-block {
    padding-left: 16px;
    border-color: $tw-gray-200;
    border-radius: 4px;
    box-shadow: none;
  }

  &__back {
    margin-right: auto;
    color: $tw-blue_link;

    span {
      border-bottom: 1px solid transparent;
    }

    &:hover,
    &:focus,
    &:active {
      color: $tw-blue_link;

      span {
        border-color: $tw-blue_link;
      }
    }
  }

  &__pane {
    display: flex;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(229, 242, 251, 0.5);

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-bottom: 30px;
    }
  }

  .bx-soa-pp-company-smalltitle {
    font-family: 'Circe';
    font-weight: 400;
    @apply text-lg;
    color: $tw-black;
  }

  .bx-soa-pp-company-smalldescr {
    margin-top: 10px !important;
    font-size: 14px;
    line-height: 18px;
    color: $tw-gray-500;

    p:last-child {
      margin-bottom: 0;
    }
  }

  #bx-soa-delivery {
    margin-top: 20px;
    box-shadow: none !important;
    background-color: $tw-gray-70;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: start;
      margin-top: 0;
    }

    .bx-soa-section-title-container {
      padding-top: 20px !important;
      background-color: $tw-gray-70;

      @media (min-width: $screen-lg) {
        margin-bottom: 20px !important;
      }
    }

    .bx-soa-pp-desc-container {
      padding-left: 30px !important;
    }


    .bx-soa-pp-delivery-cost {
      display: flex;
      line-height: 28px;
      font-weight: 700;
      color: $tw-gray-500;
      flex-grow: 1;

      &::after {
        content: '';
        display: block;
        margin: 0 3px 8px;
        border-bottom: 1px dashed $tw-gray-300;
        flex-grow: 1;
        order: -1;
      }
    }

    .bx-soa-pp-company-graf-container .style-checkbox {
      top: 12px !important;
    }
  }

  &__cost {
    display: flex;
    width: 100%;
  }

  #bx-soa-paysystem {
    margin-top: 40px;
    box-shadow: none !important;
    background-color: $tw-gray-70;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: start;
    }

    .bx-soa-section-title-container {
      padding-top: 20px !important;
      background-color: $tw-gray-70;

      @media (min-width: $screen-lg) {
        margin-bottom: 20px;
      }
    }
  }


  .bx-soa-pp .bx-soa-pp-company {
    margin-bottom: 10px;
    z-index: 1 !important;
  }

  .tanais-form-group.person-type {
    display: flex;
    margin-bottom: 35px;
    border-bottom: 1px solid $tw-gray-200;

    input {
      display: none;
    }

    label {
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
      padding-bottom: 10px;
      white-space: nowrap;
      font-size: 16px;
      line-height: 26px;
      color: $tw-black;

      @media (min-width: $screen-lg) {
        padding-top: 22px;
        padding-bottom: 22px;
        @apply text-lg;
      }
    }

    .tanais-radio-inline {
      margin-bottom: -1px !important;

      &:first-child {
        label {
          padding-left: 0 !important;
          padding-right: 10px !important;

          @media (min-width: $screen-lg) {
            padding-left: 30px !important;
            padding-right: 30px !important;
          }
        }
      }

      &:nth-child(2) {
        label {
          padding-left: 10px !important;
          padding-right: 0 !important;

          @media (min-width: $screen-lg) {
            padding-left: 30px !important;
            padding-right: 30px !important;
          }
        }

      }

      label {
        border: none !important;
      }

      &.checked {
        label {
          border: none !important;
          border-radius: 0 !important;
          border-bottom: 1px solid $tw-black !important;
        }
      }
    }

  }

  //Покупатель
  #bx-soa-properties {
    margin-top: 40px;
  }

  #bx-soa-properties .bx-soa-section-title-container {
    padding-left: 0;
    margin-bottom: 35px;
    background-color: transparent !important;
  }

  #bx-soa-properties .tanais-form-group {
    position: relative;
    margin-bottom: 30px;

    &.bx-soa-customer-field:last-child {
      display: flex;
      align-items: start;
      margin-bottom: 20px;

      label {
        position: static;
        display: block;
        width: 95%;
        transform: none;
        z-index: 0;

        &::after {
          position: static !important;
          margin-left: 5px;
        }
      }

      .soa-property-container {
        margin-right: 5px;
        line-height: 22px;
        order: -2;
      }
    }

    input,
    textarea {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      min-height: 100%;
      margin: 0;
      border: 1px solid $tw-gray-100;
      border-radius: $border-radius;
      padding: 10px;
      @apply text-base #{!important};
      font-family: inherit;
      color: $tw-black;
      background-color: #fff;
      -moz-appearance: textfield; // stylelint-disable-line
      appearance: textfield;
    }

    textarea {
      height: 130px !important;
    }
  }

  #bx-soa-properties .tanais-form-group,
  .bx_soa_location .tanais-form-group {

    .bx-soa-custom-label,
    .bx-soa-customer-label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 15px 0 4px !important;
      @apply text-sm;
      color: $tw-gray-500;
      background-color: #fff;
      transform: translateY(-50%);
      z-index: 10;

      &::after {
        content: '\002A';
        position: absolute;
        right: 5px;
        top: 0;
        // font-family: 'Montserrat';
        color: $tw-red-900;
      }
    }

    .bx-sls .bx-ui-sls-container {
      min-height: 51px;
    }

  }

  .bx-soa-location-input-container {
    margin-bottom: 25px;
  }

  .bx-soa-coupon {
    padding-top: 0;

    &.bx-soa-coupon--bonus {
      display: none;
    }
  }

  .bx-soa-coupon-block {
    position: relative;
  }

  .bx-soa-coupon-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: $tw-green-500;
    border-radius: 10px;
    background-image: url('#{$path-images}/check-2-white.svg');
    background-size: 15px 12px;
    transform: translateY(-50%);

    &:hover {
      transition: none;
      // background-color: #02c094;
      background-color: #018d6d;
    }
  }

  .bx-soa-coupon-input .tanais-form-control {
    min-height: 51px;
  }

  #bx-soa-delivery,
  #bx-soa-paysystem {
    background-color: $tw-gray-70;
  }

  #bx-soa-delivery .bx-soa-section-content,
  #bx-soa-paysystem .bx-soa-section-content {
    padding-top: 0 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-bottom: 30px !important;
  }

  #bx-soa-paysystem .bx-soa-section-content {
    padding-left: 56px !important;
  }


  #bx-soa-paysystem {
    .bx-soa-pp-company-smalldescr {
      margin-top: 0 !important;
    }

    .bx-soa-pp-company {
      margin-bottom: 20px;
    }
  }

  .bx-soa-pp-item-container {
    padding-left: 0;
  }

  .bx-soa-pp-company-inner-block {
    padding-left: 26px;
  }

  .bx-soa-pp-item-container .bx-soa-pp-company-graf-container .style-checkbox,
  .bx-soa-pp-item-container .bx-selected .bx-soa-pp-company-graf-container .style-checkbox {
    @include field-radio-circle;
    position: absolute;
    top: 4px;
    left: -26px;

    &::after {
      @include field-radio-dot;
    }
  }

  .bx-soa-pp-item-container .bx-selected .bx-soa-pp-company-graf-container .style-checkbox::after {
    opacity: 1;
  }

  /*!!! Промокод*/
  .bx-soa-coupon-input input[type="text"].tanais-form-control {
    padding-left: 18px;
    font-size: 16px;
    line-height: 31px;
    border: none;

    &::placeholder {
      color: $tw-gray-500;
    }
  }

  .bx-soa-coupon-block {
    border-radius: 10px;
    overflow: hidden;
  }

  &__buyer {
    box-shadow: none !important;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 40px;
    }

    .bx-soa-section-title-container {
      padding: 0 !important;
      margin-bottom: 14px;

      @media (min-width: $screen-lg) {
        margin-bottom: 20px;
      }
    }


    .bx-soa-customer {
      @media (min-width: $screen-lg) {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;

        .tanais-form-group {
          &:nth-child(2n-1) {
            grid-column-start: 1;
            grid-column-end: 2;
          }

          &:nth-child(2n) {
            grid-column-start: 3;
            grid-column-end: 4;
          }
        }
      }

      @media (min-width: $screen-xxl) {
        grid-template-columns: 1fr 32px 1fr;
      }
    }

    .btn--submit {
      margin-left: auto;
      padding: 7px 20px;
    }
  }

  // &__aside {
  //   margin-top: 60px;

  //   @media (min-width: $screen-lg) {
  //     grid-column-start: 3;
  //     grid-column-end: 4;
  //     grid-row-start: 2;
  //     grid-row-end: 8;
  //     margin-top: 0;
  //   }

  .bx-soa-cart-total {
    padding: 0 !important;
    box-shadow: none !important;
  }

  .bx-soa-cart-total-data,
  .bx-soa-cart-total-form {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: none;
    background-color: $tw-gray-70;

    .bx-total-coupon-container {
      margin-top: 20px;
    }
  }

  .bx-soa-cart-total-data {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .bx-soa-cart-total-line {
    margin-bottom: 9px;
    border-bottom-style: dashed;
  }

  .bx-soa-cart-total-line-total {
    margin-top: 0;
    margin-bottom: 15px !important;

    .bx-soa-cart-d {
      @apply text-xl #{!important};
      color: $tw-black;
    }
  }

  .bx-soa-cart-t,
  .bx-soa-cart-d {
    background-color: $tw-gray-70;
  }

  .bx-soa-cart-t {
    @apply text-base;
  }

  .btn-order-one-click {
    margin-bottom: 10px;
    @include btn-regular;
    order: -1;

    @media (min-width: $screen-xxl) {
      margin: 0;
      margin-right: 10px;
    }
  }

  .btn-order-save {
    @include btn-regular;
    background-color: $tw-blue_link;
    color: #fff;
    border-color: $tw-blue_link;

    @media (min-width: $screen-xxl) {
      margin: 0;
    }
  }

  .bx-soa-cart-total-button-container {
    @media (min-width: $screen-xxl) {
      display: flex;
    }
  }

  .bx-soa-sidebar {
    height: auto;
  }


  //Форма корзины в сайдбаре

  .bx-soa-cart-total.bx-soa-cart-total-fixed {
    position: static;
  }

  .bx-soa-cart-total.bx-soa-cart-total-bottom {
    opacity: 1 !important;
  }

  .bx-soa-cart-total-form {
    .btn-default {
      @include btn-regular;
      background-color: $tw-blue_link;
      color: #fff;
      border-color: $tw-blue_link;
    }

    .bx-soa-cart-total-form-close-btn::before,
    .bx-soa-cart-total-form-close-btn::after {
      background: $tw-black;
    }

    // .bx-soa-cart-total-form-field span i {
    //   font-family: 'Montserrat';
    // }
  }

  .tanais-order .btn.btn-outline-primary {
    color: $tw-black;
    border-color: $tw-black;
  }

  &__bonus {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__bonus-img {
    width: 127px;
    height: 106px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bonus-text {
    line-height: 24px;
  }

  .bx-authform-starrequired {
    display: none;
  }

  #bx-soa-tanais-order .tanais-form-control {
    height: auto !important;
    background-color: #fff !important;
    border: 1px solid $tw-gray-200 !important;
    border-radius: 4px !important;
  }

  .bx-soa-tooltip.bx-soa-tooltip-danger .tooltip-inner {
    height: 100% !important;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0 5px;
  }

  .bx-sls .bx-ui-sls-pane {
    top: auto !important;
  }

  .bx-sls .dropdown-icon {
    display: none !important;
  }

  .bx-soa-tooltip.bx-soa-tooltip-static {
    position: absolute;
    top: 100%;
  }

  .bx-sls .dropdown-fade2white {
    top: 1px !important;
    bottom: 1px !important;
    height: auto !important;
  }

  .tanais-order .bx-sls .bx-ui-sls-clear {
    margin-top: 0 !important;
    top: 50%;
    transform: translateY(-50%);
  }

  .tanais-order #bx-soa-delivery .bx-soa-pp-company-graf-container .bx-soa-pp-company-smalltitle span,
  .tanais-order #bx-soa-delivery .bx-soa-pp-company-graf-container .bx-soa-pp-delivery-cost {
    background-color: $tw-gray-70 !important;
  }


  .bx-soa-section-content {
    padding: 0 !important;
  }

  .bx-soa-section-title-icon {
    display: none !important;
  }

  .soa-property-container.has-soa-action-button .btn {
    display: flex;
    align-items: center;
  }

  //Город
  .tanais-order .bx-sls .bx-ui-sls-route,
  .tanais-order .bx-sls .bx-ui-sls-fake {
    height: 100% !important;
    font-size: 16px;
    line-height: 26px;
  }

  #bx-soa-orderSave .btn {
    border-radius: 78px;

    &:hover,
    &:focus,
    &:active {
      background-color: #14142b;
    }
  }

  // Поле-счетчик
  #tanais-basket-root .basket-item-amount-filed {
    font-weight: 400 !important;
    border: none !important;
    background-color: transparent !important;
  }

  //
  .btn--angle-left {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 7px;
      left: 12px;
      top: 50%;
      color: #007cd3;
      background-image: url('/img/angle-left.svg');
      transform: translateY(-75%);
    }
  }

  //  Корзина кнопки
  .tanais-order .btn.btn-default,
  .tanais-order .btn.btn-outline-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: #14142b !important;
    }
  }

  #bx-soa-tanais-order-form .bx-soa-custom-label {
    display: block;

    .bx-authform-starrequired {
      // order: -2;

      &~a {
        padding-left: 5px;
        font-size: 14px !important;
        font-weight: 700;
        text-decoration: underline;

        // order: -2 !important;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
    }
  }

  //Купон (промокод)
  .bx-soa-coupon-item {
    display: block;
    margin-top: 15px;
  }

  .bx-soa-coupon-item > div {
    position: relative;
    border: 1px dashed #14142B;
    background-color: #fff;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;

    &:first-of-type {
      padding-top: 22px;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-top-width: 1px;
    }

    &:last-of-type {
      padding-bottom: 22px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      border-bottom-width: 1px;

      .bx-soa-coupon-delete {
        bottom: 22px;
      }
    }
  }


  .bx-soa-coupon {

    &.bx-soa-coupon--bonus {
      display: block;
      position: relative;
    }
  }

  .bx-soa-coupon-block {
    padding: 0;
    border-radius: 10px;
    border: none;
    overflow: hidden;
  }

  .bx-soa-coupon-bonus-name {
    color: $tw-gray-500;
    line-height: 1.2;
  }

  .bx-soa-coupon-bonus-value {
    color: $tw-gray-500;
    font-weight: 700;
    line-height: 1.2;
  }

  .bx-soa-coupon-title-bonus {
    margin-bottom: 5px;
    @apply text-xl;
    color: $tw-black;
  }

  .bx-soa-coupon-delete {
    position: absolute;
    display: block;
    width: auto;
    margin-left: 0;
    top: auto;
    bottom: 0;
    right: 30px;
    color: $tw-red-900;
    line-height: 1.1;
    border-bottom: 1px dashed $tw-red-900;
    background-image: none;
    background: none;
  }

  .soa-property-container.has-soa-address-suggest .soa-suggests-container {
    left: 0;
    z-index: 15;
  }

  .bx-soa-cart-total-ghost {
    display: none !important;
  }
}
