//- Все примеси в этом файле должны начинаться c имени блока (cart-page)

mixin cart-page(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cart-page--' + modsList[i].trim();
      }
    }

  .cart-page(class=allMods)&attributes(attributes)
    block



