//- Все примеси в этом файле должны начинаться c имени блока (modal)

mixin modal(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' modal--' + modsList[i].trim();
      }
    }

  .modal.modal--regular(class=allMods id=props.id)&attributes(attributes)
    .modal__overlay(tabindex='-1' data-modal-close)
      .modal__container(role='dialog' aria-modal='true' aria-labelledby= props.title)
        header.modal__header
          .modal__title= props.title
          +close({title: 'Закрыть'})(class="modal__close" aria-label="Close modal" data-modal-close)
        .modal__inner
          block


