// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 10;


  &--main {
    .page-header__inner & {
      margin-right: auto;
    }
  }

  &__inner {
    .js .nav--mobile & {
      display: block !important;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;

      & #{$block-name}__list--lvl-2 {
        max-height: 0;
      }
    }

    .js .nav--mobile.main-nav--open & {
      max-height: 1000px;
      transition: max-height 0.6s;
      box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.16);

      & #{$block-name}__list--lvl-2 {
        max-height: none;
      }
    }
  }


  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    @media (min-width: $screen-xxl) {

      .nav--main & {
        min-width: 710px;
        display: flex;
        justify-content: space-between;
      }
    }

    .nav--add & {
      padding-top: 15px;
    }

    .nav--mobile & {
      padding-top: 60px;
      max-height: 400px;
      overflow-y: scroll;
    }

    .nav--main &--lvl-2 {
      min-width: 260px;
      padding-bottom: 30px;
    }

    &--lvl-2 {
      border-radius: 8px;
    }

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS
      .js .nav--main & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: 0;
        }
      }

      .js .nav--main.main-nav--open & {
        max-height: 1000px;
        transition: max-height 0.6s;

        &--lvl-2 {
          max-height: none;
        }
      }
    }

    // открытие/закрытие меню только в случае работающего JS
    .js .nav--add & {
      position: absolute;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;

      &--lvl-2 {
        max-height: 0;
      }
    }

    .js .nav--add.main-nav--open & {
      max-height: 1000px;
      transition: max-height 0.6s;

      &--lvl-2 {
        max-height: none;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {

      .nav--main & {
        display: flex;
        flex-wrap: wrap;

        &--lvl-2 {
          display: block;
        }

        &--lvl-3 {
          display: block;
        }
      }
    }
  }


  &__item {
    position: relative;

    &--active {

      &>#{$block-name}__link {
        // stylelint-disable-line  selector-combinator-blacklist
        color: #000;
      }
    }

    &--has-child {

      &>#{$block-name}__link span {
        position: relative;
        padding-right: 10px;

        &::after {
          @include arrow-down;

          // .nav--mobile & {
          //   top: 0.6em;
          //   transform: rotate(-135deg);
          // }
        }
      }

      @at-root &#{$block-name}__item--lvl-2 {

        &::after {
          transform: rotate(135deg) translateY(70%);
        }
      }
    }

    .nav--main & {

      & span {
        position: relative;
        display: flex;
        flex-direction: column;
      }

      & span::before {
        content: attr(data-content);
        font-size: inherit;
        font-weight: 700;
        height: 0;
        overflow: hidden;
        white-space: nowrap;
      }

      &--lvl-2 {
        font-size: 16px;
        line-height: 30px;
        color: $tw-gray-500;
      }
    }

    // .nav--mobile & {
    //   &--show-child > .main-nav__link span::after {
    //     transform: rotate(45deg) translateY(70%);
    //     right: -3px;
    //   }
    // }
  }

  &__sublist-header {
    position: relative;
    display: flex;
    padding: 0.5em 0.9em;
    padding-top: 20px; //для выадашек главного меню
    padding-left: 30px; //для выадашек главного меню
    font-weight: 700;
    cursor: pointer;


    span {
      position: relative;
      padding-right: 10px;

      &::after {
        @include arrow-down;
        transition: transform $transition-time;

        .nav--main #{$block-name}__item--show-child>&,
        .nav--main #{$block-name}__item:hover & {
          transform: translateY(-50%) rotate(180deg);
        }
      }

    }

  }

  &__link {
    display: block;
    padding: 0.5em 0.9em;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      opacity: 0.5;
      text-decoration: none;
    }

    @media (min-width: $screen-lg) {
      padding-right: 0.7em;
      padding-left: 0.7em;
    }

    @media (min-width: $screen-xl) {
      padding-right: 0.9em;
      padding-left: 0.9em;
    }

    .nav--add & {
      white-space: nowrap;
    }

    .nav--mobile & {
      padding: 0.65em 0.9em;
    }

    &--lvl-2 {
      white-space: nowrap;

      .nav--main & {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 30px;

        @media (max-width: ($menu-desktop-width - 1)) {
          padding-left: 2em;
        }
      }

      .nav--mobile & {
        padding-left: 2em;
      }
    }

    &--lvl-3 {
      white-space: nowrap;

      .nav--main & {
        @media (max-width: ($menu-desktop-width - 1)) {
          padding-left: 3em;
        }
      }

      .nav--mobile & {
        padding-left: 3em;
      }
    }
  }

  &__sublist-wrapper {

    .nav--main & {
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    .nav--mobile & {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity $transition-time;
    }

    &--lvl-2 {

      @media (min-width: $screen-lg) {
        padding-bottom: 0;
      }

      //выпадашка главного меню
      .nav--main & {
        @media (min-width: $menu-desktop-width) {
          position: absolute;
          z-index: 1;
          top: -11px;
          left: -14px;
          height: 0;
          opacity: 0;
          overflow: hidden;
          transition: opacity $transition-time;
        }
      }

      // stylelint-disable
      .nav--main #{$block-name}__item--show-child>&,
      .nav--main #{$block-name}__item:hover & {
        @media (min-width: $menu-desktop-width) {
          height: auto;
          overflow: visible;
          opacity: 1;

          span::after  {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .nav--mobile #{$block-name}__item--show-child>& {
        height: auto;
        overflow: visible;
        opacity: 1;
      }

      // stylelint-enable
    }

    &--lvl-3 {

      padding-top: 5px;
      padding-bottom: 5px;

      @media (min-width: $screen-lg) {
        padding-top: 0;
        padding-bottom: 0;
      }

      .nav--main &,
      .nav--mobile & {
        @media (min-width: $menu-desktop-width) {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 100%;
          opacity: 0;
          height: 0;
          overflow: hidden;
          transition: opacity $transition-time;
          // stylelint-enable
        }
      }

      // stylelint-disable
      .nav--main #{$block-name}__item--show-child>&,
      .nav--mobile #{$block-name}__item--show-child>& .nav--main #{$block-name}__item--lvl-2:hover & {
        @media (min-width: $menu-desktop-width) {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }
  }



  // переключатель

  &__toggler {
    display: inline-block;
    border: none;
    background: none;
    z-index: 12;

    .nav--main & {
      @media (min-width: $menu-desktop-width) {
        display: none;
      }

    }

    .no-js & {
      display: none;
    }
  }
}


@media (max-width: $screen-xl - 1) {
  .main--nav {
    width: 100%;
  }
}


.nav {
  @apply text-lg text-black py-0;


  &--aside {
    font-size: 18px;

    & .main-nav__link {
      padding-left: 60px;
    }
  }

  &--main {
    margin-right: auto;
  }

  &--mobile {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  &__info {
    padding: 0 0.9em;
    padding-bottom: 30px;
    margin-top: 55px;
  }
}
