-
  var mainMenu = [
    {
      "id": "0",
      "name": "Каталог",
      "url": "/catalog",
      "childs": [
        {
          "id": "0-0",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-10",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-20",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
        {
          "id": "0-30",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-40",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-50",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
        {
          "id": "0-60",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-70",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-80",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
      ]
    },
    {
      "id": "10",
      "name": "Всё о лечении",
      "url": "/cure"
    },
    {
      "id": "20",
      "name": "О компании",
      "url": "/about",
      "childs": [
        {
          "id": "20-0",
          "name": "Наша дятельность",
          "url": "about/1",
          // "childs": [{
          //   "id": "30-0-0",
          //   "name": "О компании 1.1",
          //   "url": "about/1.1",
          // }]
        },
        {
          "id": "20-10",
          "name": "Учёный совет",
          "url": "about/2",
        },
        {
          "id": "20-20",
          "name": "Клинические базы",
          "url": "about/3"
        },
        {
          "id": "20-30",
          "name": "Спортивные базы",
          "url": "about/3"
        },
        {
          "id": "20-40",
          "name": "История",
          "url": "about/3"
        },
        {
          "id": "20-50",
          "name": "Нематериальные активы",
          "url": "about/3"
        },
        {
          "id": "20-60",
          "name": "Патенты и свидетельства",
          "url": "about/3"
        },
        {
          "id": "20-70",
          "name": "Образование и обучение",
          "url": "about/3"
        },
        {
          "id": "20-80",
          "name": "Новости",
          "url": "about/3"
        },
      ]
    },
      {
      "id": "30",
      "name": "Отзывы",
      "url": "/reviews"
    },
      {
      "id": "40",
      "name": "Контакты",
      "url": "/contacts"
    },

  ];

  var asideMenu = [
    {
      "id": "0",
      "name": "Оплата",
      "url": "/pay"
    },
    {
      "id": "10",
      "name": "Доставка",
      "url": "/delivery",
    },
    {
      "id": "20",
      "name": "Гарантия",
      "url": "/garanty"
    },
    {
      "id": "30",
      "name": "Тест-драйв",
      "url": "/test-drive"
    },
    {
      "id": "40",
      "name": "Trade-in",
      "url": "/tradein"
    },
    {
      "id": "50",
      "name": "Сервис",
      "url": "/service"
    },
    {
      "id": "60",
      "name": "Сотрудничество",
      "url": "/coop"
    },
  ];


  var mobileMenu = [
    {
      "id": "0",
      "name": "Каталог",
      "url": "/catalog",
      "childs": [
        {
          "id": "0-0",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-10",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-20",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
        {
          "id": "0-30",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-40",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-50",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
        {
          "id": "0-60",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-70",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-80",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
      ]
    },
    {
      "id": "10",
      "name": "Технологии",
      "url": "/tech"
    },
    {
      "id": "20",
      "name": "Всё о лечении",
      "url": "/cure"
    },
    {
      "id": "30",
      "name": "О компании",
      "url": "/about",
      "childs": [
        {
          "id": "30-0",
          "name": "О компании 1",
          "url": "about/1",
          // "childs": [{
          //   "id": "30-0-0",
          //   "name": "О компании 1.1",
          //   "url": "about/1.1",
          // }]
        },
        {
          "id": "30-10",
          "name": "О компании 2",
          "url": "about/2",
        },
        {
          "id": "30-20",
          "name": "О компании 3",
          "url": "about/3"
        },
      ]
    },
      {
      "id": "40",
      "name": "Отзывы",
      "url": "/reviews"
    },
      {
      "id": "50",
      "name": "Контакты",
      "url": "/contacts"
    },
    {
      "id": "60",
      "name": "Сервис",
      "url": "/service"
    },
    {
      "id": "70",
      "name": "Покупателям",
      "url": "/customers",
    },
    {
      "id": "80",
      "name": "Сотрудничество",
      "url": "/work"
    },
  ];
