-
  var mainMenu = [
    {
      "id": "0",
      "name": "Каталог",
      "url": "/catalog",
      "childs": [
        {
          "id": "0-0",
          "name": "Каталог 1",
          "url": "catalog/1"
        },
        {
          "id": "0-10",
          "name": "Каталог 2",
          "url": "catalog/2",
        },
        {
          "id": "0-20",
          "name": "Каталог 3",
          "url": "catalog/3"
        },
      ]
    },
    {
      "id": "10",
      "name": "Технологии",
      "url": "/tech"
    },
    {
      "id": "20",
      "name": "Всё о лечении",
      "url": "/cure"
    },
    {
      "id": "30",
      "name": "Отзывы",
      "url": "/reviews"
    },
    {
      "id": "30",
      "name": "О компании",
      "url": "/about",
      "childs": [
        {
          "id": "30-0",
          "name": "О компании 1",
          "url": "about/1"
        },
        {
          "id": "30-10",
          "name": "О компании 2",
          "url": "about/2",
        },
        {
          "id": "30-20",
          "name": "О компании 3",
          "url": "about/3"
        },
      ]
    },
  ];

  var addMenu = [
    {
      "id": "0",
      "name": "Доп 1",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Доп 2",
      "url": "/pages",
    },
    {
      "id": "20",
      "name": "Доп 3",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
  ];
