// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    position: relative;
  }

  &__controls {

  }
}


.tns-controls {

  &--center {
     position: absolute;
     left: 0;
     right: 0;
     top: 50%;
     transform: translateY(-50%);

     .tns-controls__btn {
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        z-index: 10;
     }

     .tns-controls__btn--prev {
        left: -15px;

        svg {
          transform: rotate(180deg);
        }
     }
     .tns-controls__btn--next {
        right: -15px;
     }
  }
}

.tns-controls button {
  @include btn;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 40px;
  border: solid 1px #bababa;
  border-radius: 0;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;


  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: $tw-gray-200;
  }


}

// &__pagination.swiper-pagination,
.tns-nav {
  position: absolute;
  bottom: 24px;
  left: $grid-gutter-width;

  @media (min-width: $screen-md) {
    bottom: 16px;
  }
}

// &__pagination.swiper-pagination-bullets {
//   bottom: 24px;

//   @media (min-width: $screen-md) {
//     bottom: 16px;
//   }
// }

// &__pagination .swiper-pagination-bullet,
.tns-nav button {}

.tns-nav button[data-controls=next] {
  margin-left: 10px;
}

.tns-nav .tns-nav-active {
  background-color: #fc0202;
}

/*! Чтобы слайдер внутри grid растягивался по высоте*/
.tns-outer {
  height: 100%;
}

.tns-ovh {
  height: 100%;
}

.tns-inner {
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
}

.tns-slider {
  display: flex;
  height: 100%;
  padding-bottom: 1px;
}
