// В этом файле должны быть стили для БЭМ-блока fragment-special, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fragment-special {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  padding-left: 30px;
  @apply text-lg;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: $tw-green-500;
  }

  @media (min-width: $screen-lg) {
    padding-left: 40px;
    @apply text-xl;
  }

  .info-card__add & {
    margin-top: 48px;
    margin-bottom: 40px;
    @apply text-xl;
  }
}
