// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line
    width: device-width;
  }
}


/* stylelint-disable */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe_Regular.woff2') format('woff2'),
       url('../fonts/Circe_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe_Bold.woff2') format('woff2'),
       url('../fonts/Circe_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;

    // &::before {
    //   z-index: -1;
    //   position: absolute;
    //   left: 0;
    //   top: -2600px; //catalog mobile
    //   top: -1180px; //new mobile
    //   top: -1504px; //new mobile whitout image
    //   top: -1324px; //product 1440
    //   top: -1668px; //service mobile
    //   top: -2545px; //service 1440
    //   // top: -3185px; //catalog main
    //   // top: -140px; //main test features
    //   // top: 32px; //mobile test features
    //   // top: -10px; //mobile-menu
    //   // top: -815px; //vacancies
    //   // top: -275px;
    //   //top: -5280px;
    //   content: url('../screens/main.jpg');
    //   opacity: 0.4;
    // }
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__main {
    margin-top: 60px;

    @media (min-width: $screen-xl) {
      margin-top: 90px;
    }
  }


}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-size: $font-size;
  @apply leading-normal;
  @apply font-sans;
  text-align: left;
  @apply text-gray-500;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noscroll {
  overflow: hidden;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1 {

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: $tw-black;
}


h1,
h2 {
  margin-top: 1.2em;
  font-size: 24px;
  line-height: 34px;
  @media (min-width: $screen-lg) {
    font-size: 32px;
    line-height: 38px;
  }
  @media (min-width: $screen-xxl) {
    font-size: 48px;
    line-height: 58px;
  }
}

h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}


code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}



.section-main {

}


.section {

  &__title {
    font-size: 24px;
    line-height: 34px;
    color: $tw-black;

    @media (min-width: $screen-md) {
      font-size: 30px;
      line-height: 40px;
    }

    @media (min-width: $screen-xl) {
      font-size: 40px;
      line-height: 48px;
    }

    @media (min-width: $screen-xxl) {
      font-size: 48px;
      line-height: 58px;
    }

    .section--info & {
      margin-bottom: 0;

      @media (min-width: $screen-xxl) {
        margin-top: 65px;
        margin-bottom: 8px;
      }
    }

    .section--service & {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__container,
  &__container.container {
    @media (min-width: $screen-xl) {
      padding-left: 140px;
      max-width: $screen-xxl;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: $screen-xxl) {
      padding-right: 164px;
      .section--catalog & {
        padding-right: 180px;
        padding-left: 175px;
      }
      .section--info & {
        padding-left: 0;
      }
      .section--service & {
        padding-left: 0;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &--features {
  }

  &--catalog,
  &--info,
  &--reviews {
    .tns-controls  {
      position: absolute;
      right: 0;
      top: 10px;

      @media (min-width: $screen-xxl) {
        top: 30px;
      }

      & button {
        background-color: $tw-gray-100;
        &::before {
          @include sprite($arrow-right-black-long);
        }
      }
    }
  }

  &--info .tns-controls {
    @media (min-width: $screen-xxl) {
      top: 95px;
      right: 18px;
    }

    button[data-controls="next"] {
      @media (min-width: $screen-xxl) {
        margin-left: 20px;
      }
    }
  }

  // &--info {
  //   .section__header {
  //     position: absolute;
  //     right: 350px;
  //     z-index: 10;
  //   }

  //   .tns-controls {
  //     z-index: 10;
  //   }
  // }
}


@include sprites($spritesheet-sprites);

