// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    // stylelint-disable-line
    width: device-width;
  }
}

/* stylelint-disable */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe_Regular.woff2') format('woff2'),
    url('../fonts/Circe_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe_Bold.woff2') format('woff2'),
    url('../fonts/Circe_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* stylelint-enable */

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 360px;
  min-height: 100%;

  &.index {

    //!!!
    @media (min-width: $onepage-width) {
      height: 100%;
      overflow: hidden;
    }
  }

  &::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: -1504px; //new mobile whitout image
    top: -1800px; //new 1440
    top: -1324px; //product 1440
    top: -1668px; //service mobile
    top: -1140px; //reviews mobile
    top: -1245px; //prodcut-info mobile
    top: -1160px; // areas mobile
    top: -1155px; // articles mobile
    top: -872px; //fotter mobile
    top: -1332px; //new 1440
    top: -1462px; // areas 1440
    top: -1725px; //catalog main
    top: -1920px; //service 1440
    top: -2115px; //reviews 1440
    top: -2330px; // articles 1440
    top: -2395px; //footer 1440
    top: 1270px; //features page
    top: 2950px; //catalog page
    top: 3642px; //service page
    top: 4333px; //reviews page
    top: 1885px; //news page
    top: -170px; //features 1440
    top: -2600px; //catalog mobile
    top: -63px; //news widthoug align-items: center
    top: -1290px; //articles mobile
    top: -1250px; //footer mobile
    top: -1230px; //news mobile
    top: 54px; //animation block mobile
    top: 28px; //animation block mobile 2
    top: -1770px; //animation page
    top: -47px; //contacts wide
    top: -6px; //contacts mobile
    top: 0;
    left: 0; //product.jpg
    // top: -58px;
    // left: 64px;//footer main
    // top: -140px; //main test features
    // top: 32px; //mobile test features
    // top: -10px; //mobile-menu
    // top: -815px; //vacancies
    // top: -275px;
    //top: -5280px;
    // content: url('../screens/delivery-page.jpg');
    opacity: 1;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;

  }

  &__footer-wrapper {
    flex-shrink: 0;
    background-color: $tw-slate;

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
    }
  }

  &__main {
    margin-top: 60px;

    @media (min-width: $screen-xl) {
      margin-top: 90px;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  // display: flex; // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  // flex-direction: column; // и прижимаем footer в IE 10-11
  // margin: 0;
  // min-height: 100%;
  // word-break: break-word;
  // font-size: $font-size;
  // line-height: 26px;
  // @apply font-sans;
  // text-align: left;
  // @apply text-gray-500;
  // background-color: $body-bg;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  @apply text-base;
  @apply text-gray-500;

  .index & {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: $onepage-width) {
      //!!!
      height: 100%;
      overflow: hidden;
    }
  }
}

.modal-open {
  overflow: hidden;
}

.wrapper {

  padding-top: 60px;

  @media (min-width: $onepage-width) {
    height: 100% !important;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 70px;
  }

  @media (min-width: $screen-xxl) {
    padding-top: 90px;

    .screen-low & {
      padding-top: 80px;
    }
  }
}

.noscroll {
  overflow: hidden;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0; // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible; // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto; // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  // fill: currentColor;
  // stroke: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }

  &.angle-down {
    fill: transparent;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  background-color: transparent;
  transition-time: $transition-time;
  transition-property: color, opacity;

  &:hover,
  &:focus {
    color: inherit;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0; // Проблема Firefox
  overflow: visible; // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1 {}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: $tw-black;
}


h1,
h2 {
  margin-top: 1.2em;
  font-size: 24px;
  line-height: 34px;

  @media (min-width: $screen-lg) {
    font-size: 32px;
    line-height: 38px;
  }

  @media (min-width: $screen-xxl) {
    font-size: 48px;
    line-height: 58px;
  }
}

h3 {
  font-size: $font-size-h3;
}

// stylelint-disable-line
h4 {
  font-size: $font-size-h4;
}

// stylelint-disable-line
h5 {
  font-size: $font-size-h5;
}

// stylelint-disable-line
h6 {
  font-size: $font-size-h6;
}

// stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  //!!! http://clagnut.com/blog/2395
  // hyphens: auto;
  // hyphenate-limit-chars: 6 3 3;
  // hyphenate-limit-lines: 2;
  // hyphenate-limit-last: always;
  // hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}


code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.slider {

  &__item {
    padding-bottom: 1px;
    // display: none !important;

    // &:first-child {
    //   display: inline-block !important;
    // }
  }

  // .tns-slider &__item {
  //   display: inline-block !important;
  // }

}

// .section-main {
//   @media (min-width: $screen-lg) {
//     height: calc(100vh - 90px);
//     min-height: 600px;

//     &.section--catalog {
//       min-height: 700px;
//     }

//     &.section--service {
//       min-height: 770px;
//     }

//     &.section--reviews .section__content {
//       min-height: 680px;
//     }

//     &.section--info {
//       min-height: 700px;
//     }
//   }
// }


body {}

.section {

  @media (min-width: $onepage-width) {
    overflow: hidden;
  }


  &__container {
    // NOT height: 100% or height: 100vh !!!
  }

  &__content {
    // height: 100%; !!! ???
  }


  &__inner {

    //!!! Нельзя делать display: flex на мобильных - расползается слайдер reviews
    @media (min-width: $screen-lg) {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 24px;
    line-height: 34px;
    color: $tw-black;

    @media (min-width: $screen-md) {
      font-size: 40px;
      line-height: 48px;
    }

    // @media (min-width: $screen-xl) {
    //   font-size: 40px;
    //   line-height: 48px;
    // }

    @media (min-width: $screen-lg) {
      font-size: 48px;
      line-height: 58px;
      margin-left: -0.05em;
    }

    .section--info & {
      margin-bottom: 0;
      margin-top: 60px;

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }

      @media (min-width: $screen-xxl) {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }

    .section--service & {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .section--reviews & {
      margin-bottom: 5px;
    }
  }

  &__container,
  &__container[class$=container],
  &__container.container {

    @media (min-width: $screen-xl) {
      padding-left: 64px;
      padding-right: 140px;
      max-width: $screen-xxl;
      margin-left: auto;
      margin-right: auto;

      // .section--info & {
      //   padding-left: 0;
      // }

      .section--service & {
        padding-left: 0;
      }
    }

    .section--info & {
      @media (min-width: $screen-md) {
        padding-left: 0;
        max-width: none;
      }

      @media (min-width: $screen-lg) {
        height: 100%;
      }


      @media (min-width: $screen-3xl) {
        max-width: $screen-3xl;
      }
    }

    @media (min-width: $screen-xxl) {
      padding-left: 175px;
      padding-right: 164px;
    }
  }

  &--features {
    .section__title {
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: $screen-md) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width: $screen-lg) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (min-width: $screen-xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }



  &--catalog,
  &--info,
  &--reviews,
  &--articles,
  &--area {
    .tns-controls {
      position: absolute;
      right: 0;
      top: 10px;

      & button {
        background-color: $tw-gray-100;

        &::before {
          @include sprite($arrow-right-black-long);
        }
      }
    }
  }

  &--area {
    .tns-controls {
      top: 0;
    }

    @media (min-width: $onepage-width) {
      .section__content {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  &--service {
    @media (min-width: $onepage-width) {
      .section__content {
        height: 100%;
      }
    }
  }

  &--catalog {
    .tns-controls {
      top: 10px;

      @media (min-width: $screen-xxl) {
        top: 20px;
        right: 0;
      }
    }

    .section__title {
      margin-top: 0;

      @media (min-width: $onepage-width) {
        grid-row-start: 1;
        grid-row-end: 2;

        .screen-low & {
          margin-bottom: 0;
        }
      }
    }

    .section__content {
      max-height: 100%;
    }

    .product-catalog .btn {
      @media (min-width: $onepage-width) {
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: flex-start;
      }
    }
  }



  &--articles {

    @media (min-width: $onepage-width) {
      .section__content {
        height: 82%;
        display: flex;
        flex-direction: column;
      }

      .btn {
        align-self: flex-start;
      }

      .article-preview__list-wrapper {
        // flex-grow: 1;
        height: 82%;
      }

    }

    .tns-controls {
      top: -70px;
      right: 0;

      @media (min-width: $screen-xxl) {
        top: -90px;
        right: 0;
      }
    }
  }



  &--info {
    .tns-controls {
      @media (min-width: $screen-xxl) {
        top: 90px;
        right: 12px;
      }

      @media (min-width: $onepage-width) {
        .screen-low & {
          top: 40px;
        }
      }
    }

    .section__title {
      @media (min-width: $onepage-width) {
        .screen-low & {
          margin-top: 0;
        }
      }
    }

  }


  &--reviews {
    position: relative;

    .section__header {
      @media (min-width: $screen-xxl) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .tns-controls {
      top: -110px;
      right: 20px;

      @media (min-width: $screen-lg) {
        top: -115px;
      }

      @media (min-width: $onepage-width) {
        .screen-low & {
          top: -85px;
        }
      }

      @media (min-width: $screen-xxl) {
        top: -105px;

      }
    }

    .section__title {
      @media (min-width: $onepage-width) {
        .screen-low & {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      @media (min-width: $screen-xxl) {
        margin-top: 0;
      }

    }

    .section__content {

      @media (min-width: $onepage-width) {
        .screen-low & {
          margin-top: 0;
        }
      }

      @media (min-width: $screen-xxl) {
        margin-top: 20px;
      }
    }

  }


  &--reviews-product-page {
    max-width: 998px;

    @media (min-width: $screen-lg) {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      margin-right: -20px;
    }

    .tns-controls {
      top: -130px;
    }

    .section__subtitle {
      span {
        display: none;

        @media (min-width: $screen-lg) {
          display: inline;
          width: auto;
        }
      }
    }

  }


  &--structure {
    .screen-low & .section__title {
      margin-top: 0;
      margin-bottom: 0;
    }

    @media (min-width: $onepage-width) {
      .section__content {
        padding-bottom: 30px;
      }
    }
  }

  &--office {
    @media (min-width: $screen-lg) {
      margin-bottom: 64px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 32px;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 40% 1fr;
    }
  }

}

//section


.product-catalog {
  position: relative;

  @media (min-width: $onepage-width) {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto;
  }

  .tns-outer {
    overflow: hidden;
  }

  .tns-ovh {
    max-height: 100%;
    height: auto;
  }
}

.inline-svg-sprite {
  display: none;
}


@include sprites($spritesheet-sprites);
