design/
old/
build/*
archive/
!build/readme.md
test.html
test.css
temp.*
temp2.*
notes
tmp/
src/misc/

src/pug/mixins.pug
src/js/entry.js
src/scss/style.scss

src/blocks/sprite-svg/img/sprite.svg
src/blocks/sprite-png/sprite-png.scss
src/blocks/sprite-png/img/sprite-*.png
src/img/3d/new/

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
