//- Все примеси в этом файле должны начинаться c имени блока (product-actions)

mixin product-actions(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-actions('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-actions--' + modsList[i].trim();
      }
    }

  .product-actions(class=allMods)&attributes(attributes)
    +btn('Подробнее','regular')(class="border-gray-200")
    +btn(
      '<svg class="icon" width="18" height="18"><use xlink:href="img/sprite.svg#cart"></use></svg> <span>Купить</span>',
      'regular, icon, cart-add')(data-content="Добавлено")
    +btn('','fav, fav-add')
      +svg('heart-full','',{width: '22', height: '21'})
    +btn('','compare, compare-add')
      +svg('arrows-left-right','',{width: '18', height: '23'})
