// В этом файле должны быть стили для БЭМ-блока product-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-actions {

  // В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
  // модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
  // Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

  $block-name: &; // #{$block-name}__element

  display: flex;
  margin-top: 16px;

  .product-info & {
    margin-top: 5px;

    @media (min-width: $screen-md) {
      margin-top: auto;
    }

    @media (min-width: $screen-lg) {
      margin-top: 5px;
    }


    .btn--regular {
      padding: 7px 16px;
    }

    @media (min-width: $screen-xl) {
      .btn--fav {
        margin-right: 8px;
        }
      }
  }

  .product-card  & {
    margin-top: 18px;

    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 10px;
      }
    }

  }



  .btn {
    flex-shrink: 0;
    margin-right: 6px;

    @media (min-width: $screen-xl) {
      margin-right: 10px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    // .product-card & {

    //   &:last-of-type {
    //     margin-right: 0;
    //   }
    // }
  }

  .btn--fav {
    margin-left: auto;
    font-size: 20px;
    line-height: 1;
    margin-right: 3px;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.3;
    }

    .product-card & {
      svg {
        width: 21px;
        height: 19px;
      }

      @media (min-width: $screen-xl) {
        margin-right: 8px;
      }
    }
  }

  .btn--in-fav {

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  .btn--compare {

    &:hover,
    &:focus,
    &:active {
      opacity: 0.3;
    }
  }

  .btn--in-compare {

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  .btn--compare {
    font-size: 20px;
    line-height: 1;

    @media (min-width: $screen-xxl) {
      margin-right: 5px !important;
    }

    .product-info & {
      @media (min-width: $screen-xxl) {
        margin-right: 18px !important;
      }
    }
  }


  .product-card & {
    .btn--regular {
      padding: 7px 15px;
      margin-right: 9px;

      @media (min-width: $screen-xxl) {
        margin-right: 12px;
      }
    }

    .btn--compare {
      @media (min-width: $screen-xxl) {
        margin-right: 10px !important;
      }
    }

    .btn--cart-add {
      padding: 7px 16px;
    }
  }



}


.tooltip {

  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    padding-bottom: 10px;
    border-bottom: 1px solid $tw-gray-200;

    &:last-child {
      padding-top: 10px;
      padding-bottom: 0;
      border: none;
    }
  }

  a {
    color: inherit;
  }

  &--actions {
    min-width: 175px;
    padding: 10px 16px;
    @apply text-base;
    font-weight: 400;
    color: $tw-gray-500;

    span {
      font-weight: 700;
      color: $tw-blue;
    }
  }
}
