//- Все примеси в этом файле должны начинаться c имени блока (pay-cards)

mixin pay-cards(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pay-cards--' + modsList[i].trim();
      }
    }

  .pay-cards(class=allMods)&attributes(attributes)
    block


mixin pay-cards-item(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pay-cards--' + modsList[i].trim();
      }
    }

  a.pay-cards__item(class=allMods)&attributes(attributes)
    img(src=props.url)

