//- Все примеси в этом файле должны начинаться c имени блока (my-order)

mixin my-order(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' my-order--' + modsList[i].trim();
      }
    }

  .my-order(class=allMods)&attributes(attributes)
    .my-order__inner
      block
