// В этом файле должны быть стили для БЭМ-блока author, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.author {

  $block-name: &; // #{$block-name}__element

  display: flex;
  align-items: center;

  &__img {
    width: 87px;
    height: 87px;
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .cure__consult & {
      @media (min-width: $screen-xxl) {
        margin-right: 21px;
      }
    }
  }

  &__text {
    @apply text-sm;
    color: $tw-gray-500;
  }

  &__name {
    color: $tw-black;
  }

  &__phone {
    @apply text-xl;
    color: $tw-black;

    a {
      color: $tw-black;
    }
  }

  &__email {
    a {
      color: $tw-black;
    }
  }

  &--ask-doctor {
    margin-bottom: 20px;

    #{$block-name}__img {

      .ramform & {
        margin-right: 20px !important;

        @media (min-width: $screen-md) {
          margin-right: 0 !important;
        }
      }
    }

    .ramform & {
      display: flex;

      @media (min-width: $screen-md) {
        flex-direction: column;
      }
    }

    #{$block-name}__info {
      .ramform & {
        text-align: left;

        @media (min-width: $screen-md) {
          text-align: center;
        }
      }
    }

    @media (min-width: $screen-lg) {
      flex-direction: column;

      #{$block-name}__img {
        width: 180px;
        height: 180px;
        margin-right: 30px;
        margin-bottom: 20px;
        border-radius: 24px;

        @at-root .consult & {
          width: 180px;
          height: 180px;
        }
      }

      #{$block-name}__text {
        @apply text-xl;
      }

      #{$block-name}__name {
        @apply text-xl;
      }
    }

  }

  &--article {
    #{$block-name}__name {
      @apply text-lg;
    }

    #{$block-name}__text {
      @apply text-sm;
    }
  }

  &--faq {
    align-items: flex-start;

    @media (min-width: $screen-lg) {
      align-items: center;
      margin-bottom: 30px;
    }

    #{$block-name}__name {
      @apply text-lg;

      @media (min-width: $screen-lg) {
        @apply text-xl;
      }
    }

    #{$block-name}__text {
      @apply text-base;
      line-height: 26px;
      margin-bottom: 3px;
    }

    #{$block-name}__img {
      margin-right: 20px;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
