// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {

  $block-name: &; // #{$block-name}__element

  position: relative;

  @media (min-width: $screen-lg) {
    margin-top: 15px;
  }

  @media (min-width: $onepage-width) {
    .screen-low & {
      margin-top: 0;
    }
  }

  &__container {
    @media (min-width: $screen-xxl) {
      max-width: 1101px;
    }
  }

  &__tab-select-wrapper {
    margin-top: 20px;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__item {
    padding-top: 10px;
    cursor: pointer;

    @media (min-width: $screen-lg) {
      min-height: 547px;
      padding-top: 20px;
    }

     @media (min-width: $onepage-width) {
      .screen-low & {
        min-height: 300px;
        padding-top: 0 !important;
      }
     }

    .btn {
      margin-top: auto;

      @media (min-width: $screen-lg) {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: start;
        margin-top: 20px;
      }

     @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 10px;
      }
     }
    }
  }

  &__item-inner {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
    }

     @media (min-width: $onepage-width) {
      .screen-low & {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
      }
      height: auto;
     }

    @media (min-width: $screen-xxl) {
      padding: 20px 55px 40px 30px ;
    }
  }

  &__item-author {
    //!!!
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    @media (min-width: $screen-lg) {
      width: 140px;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
    }

    @media (min-width: $screen-xxl) {
      width: 170px;
      margin-left: 20px;
    }
  }

  &__item-avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;

    @media (min-width: $screen-lg) {
      width: 140px;
      height: 140px;
      margin-right: 0;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-xxl) {
        width: 170px;
        height: 170px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    font-size: 16px;
    line-height: 26px;
    color: $tw-gray-500;

    @media (min-width: $screen-lg) {
      align-self: center;
    }
  }

  &__item-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 14px;
    line-height: 24px;
    color: $tw-gray-500;
    opacity: 0.5;

    @media (min-width: $screen-lg) {
      display: flex;
    }
  }

  &__item-text {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    color: $tw-gray-500;

    p {
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      margin-top: 0;
    }
  }

  &__item-text>* {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__item-text #{$block-name}__item-excerpt {
    display: block;
  }


  // .tns-controls {
  //   top: -115px;

  //   @media (min-width: $screen-xxl) {
  //     top: -80px;
  //     right: 20px;
  //   }
  // }

//!!!
  .tab-pane {
    position: relative;
  }

  .tab-content {
    margin-top: 0;

    @media (min-width: $screen-lg) {
      margin-top: 20px;
    }

    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 10px;
      }
    }

  }

  .nav-tabs {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 80%;
      background-color: $tw-gray-200;
      z-index: -1;
    }

    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-bottom: 0;

        .nav-link {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

}
