// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
  list-style: none;
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  padding: 0;
  color: $text-color;

  @media (min-width: $screen-lg) {
    display: block;
    margin-top: 30px;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 64px;
  }

  a {
    color: $tw-black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $tw-black;
      text-decoration: none;
    }
  }

  span {
    color: #929292;
  }

  &__item {
    display: none;
    margin-right: 0.8em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.9em;
      color: $gray;
    }

    &:nth-last-child(2) {
      position: relative;
      display: inline-block;
      white-space: normal;
      padding-left: 12px;

      @media (min-width: $screen-lg) {
        padding-left: 0;
      }

      &::after {
        display: none;
        @media (min-width: $screen-lg) {
          display: inline-block;
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 7px;
        left: 0;
        top: 50%;
        background-image: url('/img/angle-left.svg');
        transform: translateY(-50%);

        @media (min-width: $screen-lg) {
          display: none;
        }
      }
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
    }
  }

  &__container {
  }
}
