//- Все примеси в этом файле должны начинаться c имени блока (order-status)

mixin order-status(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' order-status--' + modsList[i].trim();
      }
    }

  .order-status(class=allMods)&attributes(attributes)
    block
