// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 60px;
    font-size: 18px;
    line-height: 28px;
    position: relative;

    @media (min-width: $screen-xl) {
      padding-top: 22px;
      padding-bottom: 20px;
    }

    @media (max-width: $screen-xl) {
      flex-wrap: wrap;
    }
  }

  & .logo {
    margin-right: auto;

    @media (min-width: $screen-xl) {
      margin-right: 55px;
    }
  }

}
