// В этом файле должны быть стили для БЭМ-блока profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.profile {

  $block-name:                &; // #{$block-name}__element

  &__form-btns {
    display: flex;
    justify-content: space-between;

    @media (min-width: 400px) {
      justify-content: start;
    }

    .btn {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  &__content {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: 1fr 30px 280px;
      grid-template-rows: auto auto 1fr;
    }
    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 30px 320px;
    }
    @media (min-width: $screen-xxl) {
      grid-template-columns: 1fr 48px 400px;
    }
  }

  .section__title {
    @media (min-width: $screen-lg) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &__main {
    position: relative;

    @media (min-width: $screen-lg) {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    #{$block-name}--feedback & {
      @media (min-width: $screen-lg) {
        grid-row-start: 1;
        grid-row-end: 4;
      }
    }

    .altasib-support-button {
      min-width: 200px;
      margin-right: 0 !important;
      justify-self: start;
    }

    form[name=form_altasib_support_list] {
      overflow: auto;
    }

    .bx-grid-footer tbody {
      display: block;
    }

    .bx-grid-footer tr:first-child {
      display: flex;
      flex-direction: column;
    }

    .altasib_ticketnform .altasib-form-tab-list {
      flex-direction: column;

      @media (min-width: $screen-md) {
        flex-direction: row;
      }
    }

    #altasib-support-main-table > tbody tr {

      @media (max-width: $screen-xl - 1) {
        display: flex;
        flex-direction: column;
      }
    }

    #altasib_sidebar_resizer {
      display: none;
    }

    .addTicket-titleInputtext input {
      width: 100%;
    }

  }

  &__form {

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: 1fr 24px 1fr;
    }

    .field-radio {
      @media (min-width: $screen-lg) {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .profile--company & {
        @media (min-width: $screen-lg) {
          justify-content: space-between;
        }
      }
    }
  }

  &__links {
    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  &__consult {
    margin-top: 30px;

    @media (min-width: $screen-lg) {
      padding: 20px;
    }

    @media (min-width: $screen-xl) {
      padding: 30px;
    }
  }

  &__show-all {
    flex-shrink: 0;
  }


  .field-toggler {
    color: $tw-black;
  }

  .choices__item {
    display: flex;

    svg {
      margin-right: 10px;
    }
  }



}
