@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@mixin arrow-down {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 4px;
  background-image: url('#{$path-images}/angle-down.svg');
  background-size: contain;
  transform: translateY(-50%);
  border: none;
}

@mixin text-link {
  color: $tw-blue_link;
  font-weight: 700;

  &:hover,
  &:focus,
  &:active {
    color: $tw-blue_link;
    text-decoration: underline;
  }
}

