// В этом файле должны быть стили для БЭМ-блока hours, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hours {

  $block-name:                &; // #{$block-name}__element

  span {
    margin-right: 3px;
    color: $tw-gray-500;

    &:last-child {
      margin-right: 0;
    }
  }
}
