// В этом файле должны быть стили для БЭМ-блока bx-auth, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.bx-auth {

  $block-name: &; // #{$block-name}__element

  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 24px;


  &-note {
    margin-bottom: 30px;
    @apply text-40px;
    color: $tw-black;
  }

  &-label {
    @apply text-lg;
    color: $tw-black;
    text-align: left;
    font-weight: 400 !important;

    &~td input {
      @include field-text;
    }
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  form a,
  p a {
    @include text-link;
  }

  noindex:first-of-type p {
    margin-bottom: 10px;
  }

}

.bx-auth-password {
  display: flex;
  align-items: stretch;
}

.bx-auth-password-toggle {
  display: flex;
  align-items: center;

  .eye-open {
    display: none;
  }
}

.bx-auth-password .bx-auth-input[type="text"] ~ .bx-auth-password-toggle {
  .eye-open {
    display: block;
  }
  .eye-close {
    display: none;
  }
}

.authorize-submit-cell input {
  margin-top: 20px;
  @include btn-regular;
  cursor: pointer;
}


.bx-registration-table,
.bx-changepass-table {

  tbody {

    td:first-child {
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      color: $tw-black;
    }

    td:last-child {
      padding-bottom: 10px;
    }

    input {
      @include field-text;
    }
  }

  thead {
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 48px;
    color: $tw-black;

    td {
      margin-bottom: 12px;
    }

    b {
      font-weight: 400 !important;
    }
  }


  tfoot {
    input {
      @include btn-regular;
      cursor: pointer;
    }
  }
}


.forgot-password {

  form {
    p:first-of-type {
      @apply text-2xl;
      color: $tw-black;

      @media (min-width: 767px) {
        @apply text-36px;
      }
    }

    & > div {

    }
  }

  input[type="text"] {
    @include field-text;
    width: 300px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    @include btn-regular;
    cursor: pointer;
  }

  div b {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $tw-black;
  }

  a b {
    @include text-link;
  }
}

//forgot password
.wrapper .breadcrumbs + p {
  @apply container;
}

.wrapper .forgot-password + div {
  @apply container;

  a {
    @include text-link;
  }
}
