//- Все примеси в этом файле должны начинаться c имени блока (dashboard)

mixin dashboard(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' dashboard--' + modsList[i].trim();
      }
    }

  .dashboard(class=allMods)&attributes(attributes)
    .dashboard__inner
      block
