//- Все примеси в этом файле должны начинаться c имени блока (sort)

mixin sort(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +sort('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sort--' + modsList[i].trim();
      }
    }

  .sort(class=allMods)&attributes(attributes)
    .sort__inner
      block
