// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical + 1  $field-padding-horizontal $field-padding-vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}

.btn {
  @include btn;

  &--clean {
    padding: 0;
  }

  &--regular {
    // padding: 9px 20px;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $tw-black;
    border: 1px solid $tw-black;
    border-radius: 78px;

    &:hover,
    &:focus,
    &:active {
      background-color: $tw-black;
      color: #fff;
    }
  }

  &--lang {
    padding: 0.6em 0.9em;
    border: 1px solid $tw-gray-200;
    border-radius: 1.75em;

    &.active {
      border-color: $tw-black;
    }
  }

  &--simple {
    position: relative;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $tw-black;

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 1px;
      opacity: 1;
      background-color: $tw-gray-200;
      transition: opacity $transition-time;
    }

    &:hover,
    &:focus,
    &:active {
      &:after {
        opacity: 0;
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    svg {
      fill:currentColor;
      margin-right: 8px;
    }
  }

  &--fav,
  &--compare {
    padding-left: 5px;
    padding-right: 5px;
    color: $tw-black;
  }

  &--in-cart {
    position: relative;
    color: $tw-blue;
    border-color: currentColor;

    svg,span {
      display: none;
    }


    &::before {
      content: attr(data-content);
    }
  }

  &--fav-add {
    svg {
      fill: transparent;
      stroke: $tw-black;
    }
  }

  &--in-fav {
    svg {
      fill: $tw-blue;
      stroke: $tw-blue;
    }
  }

  &--compare-add {
    svg {
      fill: transparent;
      stroke: $tw-black;
    }
  }

  &--in-compare {
    svg {
      fill: $tw-blue;
      stroke: $tw-blue;
    }
  }

  // &--cart-add {
  //   &:hover {
  //     & .icon_cart {
  //       @include sprite($cart-white);
  //     }
  //   }
  // }
  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
