// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical + 1 $field-padding-horizontal $field-padding-vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}

.btn {
  @include btn;

  &--clean {
    padding: 0;
  }

  &--regular {
    // padding: 9px 20px;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $tw-black;
    border: 1px solid $tw-black;
    border-radius: 78px;

    &:hover,
    &:focus,
    &:active {
      background-color: $tw-black;
      color: #fff !important;
      text-decoration: none !important;
    }
  }

  &--lang {
    padding: 0.6em 0.9em;
    border: 1px solid $tw-gray-200;
    border-radius: 1.75em;

    &.active {
      border-color: $tw-black;
    }
  }

  &--simple {
    position: relative;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $tw-black;

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      height: 1px;
      opacity: 1;
      background-color: $tw-gray-200;
      transition: opacity $transition-time;
    }

    &:hover,
    &:focus,
    &:active {
      &:after {
        opacity: 0;
      }
    }
  }

  &--link {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: $tw-blue_link;

    &:hover,
    &:focus,
    &:active {
      color: $tw-blue_link;
    }
  }

  &--icon {
    display: flex;
    align-items: center;

    svg {
      fill: currentColor;
      margin-right: 8px;
    }
  }

  &--fav,
  &--compare {
    padding-left: 5px;
    padding-right: 5px;
    color: $tw-black;
  }

  &--in-cart {
    position: relative;
    color: $tw-blue-900;
    border-color: currentColor;

    svg,
    span {
      display: none;
    }


    &::before {
      content: attr(data-content);
    }
  }

  &--fav-add {
    svg {
      fill: transparent;
      stroke: $tw-black;
    }
  }

  &--in-fav {
    svg {
      fill: $tw-blue-900;
      stroke: $tw-blue-900;
    }
  }

  &--compare-add {
    svg {
      fill: transparent;
      stroke: $tw-black;
    }
  }

  &--in-compare {
    svg {
      fill: $tw-blue-900;
      stroke: $tw-blue-900;
    }
  }

  &--form-send,
  &--form-tg {
    max-width: 56px;
    height: 40px;
    padding: 0 16px 0 16px;
    color: $tw-white;
    background-color: $tw-slate-800;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: max-width $transition-time;

    span {
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      color: $tw-white;
      transition: max-width $transition-time;
      &::before {
        content: '';
        padding-left: 10px;
      }

      &:hover {
        color: $tw-white;
      }
    }

    &:hover {
      max-width: 300px;
      span {
        max-width: 300px;
      }
    }
  }

  &--round {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  &--filter {
    width: 38px;
    height: 34px;

    .close {
      display: none;
    }


    &.open {
      .close {
        display: block;
      }
      svg {
        display: none;
      }
    }
  }

  &--collapse {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &::after {
      content: "";
      width: 6px;
      height: 4px;
      margin-left: auto;
      background-image: url(../img/angle-down.svg);
      background-repeat: no-repeat;
      transform: rotate(180deg);
      transition: transform .3s;
    }

    &.collapsed::after {
      transform: rotate(0deg);
    }
  }

  &--small {
    padding: 3px 6px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid $tw-blue_link;
    border-radius: 4px;
    color: $tw-blue_link;

    &:hover,
    &:focus,
    &:active {
      background-color: $tw-blue_link;
      color: #fff;
    }
  }

  &--download {
    background-color: $tw-blue-900;
    border-color: $tw-blue-900;
    display: flex;
    justify-content: center;
    @apply text-sm;
    padding: 6px 13px;

    &:hover {
      border-color: $tw-black;
    }

    svg {
      margin-bottom: 3px;
    }

    i {
      font-style: normal;
      opacity: 0.6;
    }
  }

  &--question {
    svg {
      @media (min-width: $screen-lg) {
        width: 24px;
        height: 24px;
      }
    }
  }

}
