// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical + 1  $field-padding-horizontal $field-padding-vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }
}

.btn {
  @include btn;

  &--regular {
    padding: 7px 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $tw-black;
    border: 1px solid $tw-black;
    border-radius: 78px;
  }

  &--lang {
    padding: 0.6em 0.9em;
    border: 1px solid $tw-gray-200;
    border-radius: 1.75em;

    &.active {
      border-color: $tw-black;
    }
  }

  &--simple {
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $tw-black;
    border-bottom: 1px solid $tw-gray-200;
  }

  &--icon {
    i {
      margin-right: 8px;
    }
  }

  &--fav,
  &--compare {
    padding-left: 5px;
    padding-right: 5px;
    color: $tw-black;
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
