// В этом файле должны быть стили для БЭМ-блока nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.nav {

  $block-name: &; // #{$block-name}__element

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-link {
    @apply text-lg text-black py-0;

    &.dropdown-toggle {
      padding-right: 25px !important;
    }

    .article-index__nav-tabs & {
      line-height: 1.1;
    }
  }

  &--add {

    @media (min-width: $screen-xl) {
      margin-right: 3px;
    }
  }

  &--main {

    .page-header__inner & {
      margin-right: auto;
    }
  }

}

.navbar {

  &-collapse {
    position: absolute;
    top: 100%;
  }
  &-toggler {
    padding: 0;
  }
}


@each $point, $value in $grid-breakpoints {
  @media (min-width: #{$value}) {
    .navbar-expand-#{$point} .navbar-collapse {
      position: static;
    }
  }
}

