// В этом файле должны быть стили для БЭМ-блока nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.nav {

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-link {
    @apply text-lg text-black py-0;
  }

}
