// В этом файле должны быть стили для БЭМ-блока digits, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.digits {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    .cure__digits & {
      @media (min-width: $screen-md) {
        display: flex;
        margin-top: 0;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-top: -1px;
    padding: 19px 20px;
    border: 1px solid $tw-gray-200;

    @media (min-width: $screen-lg) {
      padding-top: 28px;
      padding-bottom: 28px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .cure__digits & {
      @media (min-width: $screen-md) {
        margin-top: 0;
        margin-right: -1px;
        justify-content: center;
        border-top: none;
        border-radius: 0;
        width: 0;
        flex-grow: 1;

        &:first-child {
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-bottom-right-radius: 10px;
          margin-right: 0;
        }
      }
    }
  }

  &__value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    @apply text-lg;
    color: #fff;
    background-color: $tw-blue_link;
  }

  &__caption {
    line-height: 1.1;
  }

}
