// В этом файле должны быть стили для БЭМ-блока article, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article {

  $block-name: &; // #{$block-name}__element
  font-size: 17px;

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: auto auto 320px;
    gap: 0 30px;
  }

  @media (min-width: $screen-xxl) {
    grid-template-columns: auto auto 400px;
    gap: 0 48px;
  }

  .section--article & {
    grid-auto-flow: row dense;
  }

  p {
    margin-bottom: 20px;
  }

  & a,
  &__main a
  {
    color: $tw-blue_link;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      color: $tw-blue_link;
      text-decoration: underline;
    }
  }


  &__main {
    grid-column-start: 1;
    grid-column-end: 3;
    // grid-row-start: 6; // Появлется своюодное место, там где нет предыдущих блоков и мало контента

    @media (min-width: $screen-lg) {
      // margin-bottom: 30px;
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 40px;
      @apply text-2xl;
      color: $tw-black;

      @media (min-width: $screen-lg) {
        margin-top: 70px;
        margin-bottom: 25px;
        @apply text-36px;
      }
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 20px;
      @apply text-xl;
      color: $tw-black;

      @media (min-width: $screen-lg) {
        @apply text-2xl;
      }
    }

    b {
      color: $tw-black;
    }

    & ul.list-dots {
      li {
        &::before {
          display: none;
        }
      }
    }

    & ul.list-regular {
      li {
        &::before {
          display: none;
        }
      }
    }

    .border-dashed > *:last-child {
      margin-bottom: 0;
    }

    @at-root .reviews-section ul,
    & ul
    {
      margin: 0 0 25px 0;
      padding: 0 0 0 10px;
      list-style: inside url('/img/list-circle.svg');

      li {
        position: relative;
        padding-left: 0;
        margin-bottom: 16px;
        line-height: 1.375em;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   left: 0;
        //   top: 0.7em;
        //   width: 4px;
        //   height: 4px;
        //   border-radius: 10px;
        //   background-color: $tw-green-500;
        // }

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        padding-top: 20px;
      }
    }

    @at-root .reviews-section ol,
    & ol
    {
      // counter-reset: num;
      margin: 0;
      margin-bottom: 20px;
      padding: 0 0 0 10px;
      list-style: decimal;
      list-style-position: inside;

      li {
        position: relative;
        // padding-left: 25px;
        margin-bottom: 20px;

        // &::before {
        //   content: counter(num)'.';
        //   counter-increment: num;
        //   position: absolute;
        //   left: 0;
        //   font-weight: 400;
        //   color: $tw-gray-500;
        // }

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        padding-top: 20px;
        li {
          &::before {
            content: '';
            counter-increment: none;
          }
        }
      }
    }

    .mt-0 {
      margin-top: 0 !important;
    }
  }

  &__aside {
    display: block !important;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-row-start: auto !important;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      margin-bottom: 0;
      order: 10;
    }

    .article__contents {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    .article__consult {
      display: block;
    }
  }

  &__consult {
    display: none;
  }



  &__img {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;

    @media (max-width: $screen-lg - 1) {
      width: auto !important;
    }

    &--main {
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 160px;

      @media (min-width: 361px) {
        height: 240px;
      }

      @media (min-width: 481px) {
        height: 400px;
      }

      @media (min-width: 801px) {
        height: 499px;
      }

      @media (min-width: $screen-xl) {
        height: 303px;
        border-radius: 10px;
      }

      @media (min-width: 1280px) {
        height: 345px;
      }

      @media (min-width: 1441px) {
        height: 473px;
      }
    }
  }

  &__contents {
    padding: 20px;
    background-color: $tw-slate-200;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (min-width: $screen-lg) {
      padding: 30px;
      border-radius: 10px;
    }

    // @media (min-width: $screen-lg) {
    //   grid-column-start: 3;
    //   grid-column-end: 4;
    //   grid-row-start: 3;
    //   grid-row-end: 8;
    //   align-self: start;
    // }
  }

  &__contents-list {
    margin: 0;
    padding: 0;
    padding-left: 3px;
    list-style: none;
    counter-reset: num-counter;

    @media (min-width: $screen-lg) {
      padding-left: 20px !important;
    }

    & li {
      margin-bottom: 7px;
      color: $tw-blue_link;

      &::before {
        content: counter(num-counter)'.';
        counter-increment: num-counter;
        margin-right: 7px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ya-share2__list {
      padding-left: 0;
      margin-bottom: 0;
    }

    .ya-share2__item {
      margin-right: 10px !important;
    }

    .ya-share2__badge {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .ya-share2__icon {
      width: 30px !important;
      height: 30px !important;
      background-size: 30px 30px !important;
    }

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
      align-items: start;
      margin-top: 55px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
      margin-top: 40px !important;
      align-self: end;
    }
  }

  &__question {
    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__consult {
    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-column-end: 4;
      align-self: start;
    }
  }

  &__banner {
    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-column-end: 4;
      align-self: start;
    }
  }

  &__dates {
    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
    }

    .date-line {
      &:first-child {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 24px;

    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0 20px;
      text-align: left;
    }
  }

  &__note-icon {
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      align-self: center;
      margin-bottom: 0;
    }
  }


  @media (max-width: $screen-xl - 1) {
    .border.xl_grid-cols-\[7fr_5fr\] {
      display: flex;
      flex-direction: column;

      .article__img {
        align-self: start;
      }
    }
  }

  //Статья
  .border.border-gray-200.rounded-10px.lg_mb-60px {
    margin-bottom: 0;
  }

}
