//- Все примеси в этом файле должны начинаться c имени блока (reviews-section)

mixin reviews-section(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' reviews-section--' + modsList[i].trim();
      }
    }

  .reviews-section(class=allMods)&attributes(attributes)
    block
