// В этом файле должны быть стили для БЭМ-блока info-tip, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.info-tip {

  $block-name: &; // #{$block-name}__element

  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background-image: url('/img/info.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  &--link {
    position: static;
    width: auto;
    height: auto;
    background-image: none !important;
  }

  svg {
    fill: none;
    stroke: $tw-gray-300;
  }

  &:hover {
    background-image: url('/img/info-blue.svg');
    svg {
      stroke: $tw-blue_link;
    }
  }
}


.tippy-box[data-theme|='info-tip'] {
  padding: 5px 10px;
  color: $tw-black;
  border-radius: 4px;
  background-color: #fff;
  color: $tw-gray-400;
  @apply text-base;
  @apply shadow-default;

  .tippy-arrow {
      color: #fff !important;
  }

  &[data-placement^="top"] {
    .tippy-arrow {
      &::before {
        border-top-color: #fff;
      }
    }
  }

  &[data-placement^="right"] {
    .tippy-arrow {
      color: #fff;
      &::before {
        border-right-color: #fff;
        border-width: 8px 8px 0px 0;
      }
    }
  }

  .delivery & {
    .tippy-content {
      @media (min-width: $screen-xxl) {
        width: 300px;
      }
    }
  }

  .article & {
    color: $tw-gray-500;
  }
}

.tippy-box[data-theme|='link-tip'] {
  padding: 0 7px;
  @apply text-sm;
  font-weight: 700;
  border-radius: 4px;
  background-color: $tw-green-500;
  @apply shadow-dark;

  .tippy-content {
    padding: 0;
  }

  .tippy-arrow {
    color: $tw-green-500;
    right: 0;
    left:  auto !important;

    &::before {
      right: 30px !important;
      left: auto !important;
      bottom: -6px !important;
      border-width: 12px 8px 0 !important;
    }
  }
}


.tippy-box[data-theme|='info-tip-wide'] {
  .tippy-content {
    width: 300px;
  }
}
