// В этом файле должны быть стили для БЭМ-блока footer-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-nav {

  $block-name: &; // #{$block-name}__element

  .page-footer & {
    a {
      color: $tw-gray-500;

      &:hover,
      &:focus {
        color: $tw-white;
      }
    }
  }

  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: $screen-xl) {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (min-width: $screen-xl) {
    gap: 0 25px;
  }

  &__item {
    @media (min-width: $screen-lg) {
      margin-bottom: 8px;
    }
    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-bottom: 0;
      }
    }
    @media (min-width: $screen-xl) {
      margin-bottom: 11px;
      .screen-low & {
        margin-bottom: 5px;
      }
    }
  }

  &__title {
    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }

  &--catalog {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--customer {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &--info {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &--coop {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-end;

      #{$block_name}__inner {
        min-width: 320px;
      }
    }

    @media (min-width: $screen-xl) {
      justify-self: start;
    }

    @media (min-width: $screen-xxl) {
      justify-self: stretch;
    }

  }
}
