//- Все примеси в этом файле должны начинаться c имени блока (ramform)

mixin ramform(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' ramform--' + modsList[i].trim();
      }
    }

  .ramform(class=allMods)&attributes(attributes)
    .ramform__inner
      block
