//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .off-canvas#off-canvas
      aside.off-canvas__aside(role='complementary', aria-label='Меню')
        block off-canvas
      .off-canvas__overlay(data-toggle='off-canvas')

    .page__inner
      .page__content

        +page-header()(class="text-black")
          +logo('/')
            img(src='img/logo.png', alt='Logo', width='120', height='16')
          block nav

        block content
          p содержимое

      .page__footer-wrapper.mt-60px.xxl_mt-100px
        +page-footer()
          block footer
            .page-footer__contacts.xxl_ml-60px.xxl_justify-self-end.xxl_mt-20px
              .page-footer__phone.text-xl #[a(href='tel:+70000000000') +7 000 000 00 00]
              .page-footer__hours.text-sm.text-gray-500 пн-пт 10:00 – 18:00
              .page-footer__address.mt-5px 111020, г. Москва, ул. Боровая, д. 7, стр. 7.
              .page-footer__socials.flex.justify-between.mt-20px
                +page-footer__social-icon({icon: 'mail', url: 'mail.ru', w: '22', h: '19'})
                +page-footer__social-icon({icon: 'youtube', url: 'mail.ru', w: '19', h: '16'})
                +page-footer__social-icon({icon: 'fb', url: 'mail.ru', w: '17', h: '18'})
                +page-footer__social-icon({icon: 'insta', url: 'mail.ru', w: '17', h: '18'})
                +page-footer__social-icon({icon: 'vk', url: 'mail.ru', w: '22', h: '13'})
                +page-footer__social-icon({icon: 'ok', url: 'mail.ru', w: '11', h: '18'})
                +page-footer__social-icon({icon: 'tg', url: 'mail.ru', w: '18', h: '15'})
                +page-footer__social-icon({icon: 'rutube', url: 'mail.ru', w: '57', h: '14'})
            .page-footer__disclaim.xxl_mt-110px
              div.mt-20px.md_mt-0.text-15.xxl_text-2xl.opacity-30 ВСЯ ИНФОРМАЦИЯ, РАЗМЕЩЕННАЯ НА САЙТЕ, НОСИТ ОЗНАКОМИТЕЛЬНЫЙ ХАРАКТЕР И НЕ МОЖЕТ СЛУЖИТЬ ЗАМЕНОЙ ОЧНОЙ КОНСУЛЬТАЦИИ ВРАЧА
              div.mt-10px.xxl_mt-0.font-base Вся представленная на сайте информация, касающаяся наличия на складе, стоимости товаров, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
            .page-footer__info
              .flex.mt-10px.ml-30px.md_mt-0.xxl_ml-0
                +svg('logo-img','',{width: 63, height: 39})(class="mr-10px")
                +switcher({name: 'Россия / русский'})(class="page-footer__lang-switcher text-white" id="switcherLangFooter")
                  +switcher-item({name: 'Россия / русский', code: 'ru', value: ''})
                  +switcher-item({name: 'Britain / English', code: 'en', value: ''})
              +btn('Политика конфиденциальности','simple')(href="#" class="page-footer__policy mt-10px text-base text-white border-color-gray-500")
              .mt-5px © 2022 ООО «Риктамед»
            +footer-nav({title: 'Каталог'},'catalog')(class="hidden md_block")
              +footer-nav-item({name: 'РИКТА-ЭСМИЛ (2А)-01', url: '#'})
              +footer-nav-item({name: 'РИКТА-ЭСМИЛ (2А)-03', url: '#'})
              +footer-nav-item({name: 'РИКТА-ЭСМИЛ 03/2', url: '#'})
              +footer-nav-item({name: 'РИКТА 04/4', url: '#'})
              +footer-nav-item({name: 'РИКТА-ВЕТ ', url: '#'})
              +footer-nav-item({name: 'Оптические насадки', url: '#'})
              +footer-nav-item({name: 'Излучатели', url: '#'})
              +footer-nav-item({name: 'Прочие аксессуары', url: '#'})
              +footer-nav-item({name: 'Литература', url: '#'})
            +footer-nav({title: 'Покупателям'},'customer')(class="hidden md_block xxl_ml-20px")
              +footer-nav-item({name: 'Оплата', url: '#'})
              +footer-nav-item({name: 'Доставка', url: '#'})
              +footer-nav-item({name: 'Гарантия', url: '#'})
              +footer-nav-item({name: 'Trade-in', url: '#'})
              +footer-nav-item({name: 'Сервисное обслуживание и ремонт ', url: '#'})
              +footer-nav-item({name: 'Тест-драйв', url: '#'})
            +footer-nav({title: 'Информация'},'info')(class="hidden lg_block xxl_ml-40px")
              +footer-nav-item({name: 'Как работает лазерный аппарат', url: '#'})
              +footer-nav-item({name: 'Здоровье от А до Я', url: '#'})
              +footer-nav-item({name: 'О лазерной терапии', url: '#'})
              +footer-nav-item({name: 'FAQ', url: '#'})
              +footer-nav-item({name: 'О компании ', url: '#'})
              +footer-nav-item({name: 'Отзывы', url: '#'})
              +footer-nav-item({name: 'Контакты', url: '#'})
            +footer-nav({title: 'Сотрудничество'},'coop')(class="hidden xl_block xxl_ml-80px")
              +footer-nav-item({name: 'Дилерам', url: '#'})
              +footer-nav-item({name: 'Врачам', url: '#'})
              +footer-nav-item({name: 'Комплектование ЛПУ', url: '#'})
            .page-footer__h-line.hidden.xxl__block

    block page-bottom
      script(src='js/bundle.js')
