//- Все примеси в этом файле должны начинаться c имени блока (cert-slider)

mixin cert-slider(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cert-slider--' + modsList[i].trim();
      }
    }

  .cert-slider(class=allMods)&attributes(attributes)
    .cert-slider__inner
      block
