// В этом файле должны быть стили для БЭМ-блока article-index, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.article-index {

  $block-name: &; // #{$block-name}__element

  &__letter-active {
    font-size: 50px;
    line-height: 1;
    color: $tw-blue_link;
    border-bottom: 1px solid rgba(0, 124, 211, 0.1);

    @media (min-width: $screen-lg) {
      font-size: 100px;
    }

    .profile & {
      font-size: 50px;

      @media (min-width: $screen-lg) {
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 80px;
      }
    }
  }

  &__alphabet {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-bottom: 12px;
    margin-right: -10px;
    margin-left: -5px;
    padding-left: 0;
    @apply text-xl;
    font-weight: 700;
    color: $tw-blue_link;

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;
    }

    .profile & {
      @media (min-width: $screen-lg) {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
      }
    }
  }

  &__letter {
    padding-left: 7px;
    padding-right: 7px;

    @media (min-width: $screen-xl) {
      padding-left: 3px;
      padding-right: 4px;
      @apply text-lg;
    }

    &.active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 3px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $tw-red-900;
      }
    }
  }

  &__tabs {
    margin-top: 24px;
    padding: 20px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid $tw-gray-200;

    @media (min-width: $screen-lg) {
      padding-top: 12px;
    }

    .profile & {
      padding: 20px;
    }
  }

  &__nav-tabs {
    @media (min-width: $screen-lg) {
      display: flex;
    }

    .nav-item {
      display: flex;
    }
  }

  &__tab-content {
    margin-top: 30px;
    overflow: hidden;

    @media (min-width: $screen-lg) {
      margin-top: 40px;
    }

    a {
      display: block;
      margin-bottom: 19px;
      font-size: 18px;
      line-height: 20px;
      color: $tw-blue_link;
    }

    .profile & {
      margin-top: 0;

      a {
        margin-bottom: 0;
        padding: 6px 10px;

        @media (min-width: $screen-lg) {
          padding: 10px 0;
        }
      }
    }
  }

  &__tab-pane {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    height: 273px;
    padding: 0;
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-md) {
      gap: 0 20px;
    }

    @media (min-width: $screen-xxl) {
      gap: 0 21px;
    }

    @media (min-width: $screen-4xl) {
      gap: 0 20px;
    }

    &.active {
      display: flex;
    }

    .profile & {
      @media (min-width: $screen-xxl) {
        gap: 0 20px;
      }
      @media (min-width: $screen-4xl) {
        gap: 0 21px;
      }
    }

    li {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 328px;
      }

      @media (min-width: $screen-lg) {
        padding-left: 15px;
        width: 281px;
      }

      @media (min-width: $screen-xl) {
        width: 365px;
      }

      @media (min-width: $screen-xxl) {
        width: 409px;
      }

      @media (min-width: $screen-3xl) {
        width: 589px;
      }

      @media (min-width: $screen-4xl) {
        width: 650px;
      }


      .profile & {

        &:hover,
        &:focus,
        &:active,
        &.active {
          background-color: $tw-blue_link;
          border-radius: 10px;

          a {
            color: #fff;
          }
        }

        @media (min-width: $screen-md) {
          width: 333px;
        }

        @media (min-width: $screen-lg) {
          width: 286px;
        }

        @media (min-width: $screen-xl) {
          width: 370px;
        }

        @media (min-width: $screen-xxl) {
          width: 401px;
        }

        @media (min-width: $screen-3xl) {
          width: 581px;
        }

        @media (min-width: $screen-4xl) {
          width: 641px;
        }
      }
    }

    .profile & {
      height: 6*32px;

      @media (min-width: $screen-lg) {
        height: 3*40px;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 18px;

    @media (min-width: $screen-lg) {
      margin-top: 40px;
      margin-bottom: 18px;
    }

    .profile & {
      margin-top: 30px;
    }
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 50px;
    background-color: $tw-gray-100;

    &--prev {
      margin-right: 10px;
      transform: rotate(180deg);
    }

    &:disabled {
      opacity: $opacity;
      pointer-events: none;
    }
  }
}
