//- Все примеси в этом файле должны начинаться c имени блока (switcher-form)

mixin switcher-form(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +switcher-form('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' switcher-form--' + modsList[i].trim();
      }
    }

  .switcher-form(class=allMods)&attributes(attributes)
    .switcher-form__inner
      block
