// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name: &; // #{$block-name}__element

  &__filter {
    &--active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        width: 10px;
        height: 10px;
        border: 3px solid #fff;
        background-color: $tw-red;
        border-radius: 50%;
      }

      &.open {
        &::before {
          display: none;
        }
      }
    }
  }

  &__list {
    margin-top: 20px;

    @media (min-width: $screen-lg) {
      margin-top: 0;
    }

    @media (min-width: $screen-xl) {
      width: 760px;
    }
    @media (min-width: $screen-xxl) {
      width: 864px;
    }

    @media (min-width: $screen-3xl) {
      width: auto;
    }
  }


  &__content-wrapper {
    @media (min-width: $screen-lg) {
      display: grid;
      order: -1;
    }
  }

  &__actions {
    @media (min-width: $screen-lg) {
      margin-top: 20px;
      margin-bottom: 18px;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 40px;
    }
  }

  &__info {
    p {
      overflow: hidden;
      /* fix for Firefox */
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
    }
  }

  @media (min-width: $screen-lg) {
    .nav-link {
      padding: 30px 0;
      margin: 0 32px;
    }
  }
}
