.opacity-100
<div class='!opacity-100 lg_!hidden !text-black !hidden !container !transform !transition'></div>
.w-200px
.w-300px
.w-400px
.w-500px
.w-600px
.grid-cols-2-300px
.gap-20px
.uppercase
.self-start
