.opacity-100
<div class='!opacity-100 lg_!hidden !text-black !hidden !container !transform !transition !object-contain'></div>
<div class='w-[50%] w-[55%] w-[60%] w-[65%] w-[70%] w-[75%] w-[80%] w-[85%] w-[90%]'></div>
.w-200px
.w-300px
.w-400px
.w-500px
.w-600px
.grid-cols-2-300px
.gap-20px
.uppercase
.self-start
.justify-self-end
.h-150px
.h-200px
.h-250px
.h-300px
.h-350px
.h-400px
.lg_h-150px
.lg_h-200px
.lg_h-250px
.lg_h-300px
.lg_h-350px
.lg_h-400px
.object-contain
.visible
.contents

