extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'error-404';

block content
  .wrapper
    .flex.items-center.justify-center.mt-65px.xl_mt-130px.mb-60px.lg_mb-35px.lg_mb-64px.xl_mb-130px
      +bx-auth()

//- block footer
//-   p footer

block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e")

