extends ../pug/layout.pug

block meta
  title Оформление заказа
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/cart-payment.css')

block vars
  -
    var pageName = 'cart';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Мои заказы')
    section.cart-page.mt-30px.lg_mt-20px
      .container
        #bx-soa-tanais-order-form
          h2.section__title.section__title--product-info.mb-20px Оформление заказа
          .cart-page__pane
            +btn-angle-left({text: 'Вернуться к покупкам'})(class='cart-page__back' href='#')
            +btn('','print,clean')(class='mr-15px')
              +svg('printer','',{width: '20',height: '22'},'')
            +btn('','document-cloud,clean')
              +svg('document-cloud','',{width: '20',height: '20'},'')
          .cart-steps
            +steps({},'cart-steps')
              //- .tabs__select-wrapper.tabs__select-wrapper--certs.field-select__wrapper
              //-   select.tabs__select.tabs__select--certs.field-select(role='tablist')
              //-     option(value='tab-button-01' selected="true") Сертификаты
              //-     option(value='tab-button-02') Патенты
              //-     option(value='tab-button-03') Регистрационные удостоверения
              +steps-nav()
                +steps-nav-button({
                  id: 'tab-button-01',
                  target_id: '#tab-content-01',
                  selected: 'true',
                  classes: 'active',
                })
                  span.steps__nav-num 01
                  span Покупатель
                +steps-nav-button({
                  id: 'tab-button-02',
                  target_id: '#tab-content-02',
                  selected: 'false',
                })
                  span.steps__nav-num 02
                  span Доставка
                +steps-nav-button({
                  id: 'tab-button-03',
                  target_id: '#tab-content-03',
                  selected: 'false',
                })
                  span.steps__nav-num 03
                  span Оплата
              +steps-content({id: 'certs-tabContent'})
                +tabs-content-pane({
                  id: 'tab-content-01',
                  link_id: 'tab-button-01',
                  tabindex: '0',
                  classes: 'show active'
                })
                  .cert__list
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: 'Сертификат ISO',
                    })
                      p Сертификат ISO
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: '  Сертификат соответствия ГОСТ Р (Рикта)',
                    })
                      p Сертификат соответствия ГОСТ Р (Рикта)
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: '  Сертификат соответствия ГОСТ Р (Рикта)',
                    })
                      p Приложение к сертификату соответствия ГОСТ Р (Рикта)
                      p Способ включает послойное вскрытие брюшной полости, эвакуацию гнойного содержимого, осушение брюшной полости, дренирование полости малого таза и послеоперационную терапию. Послеоперационную терапию проводят путём импульсного лазерного воздействия. Воздействуют на правую подвэдошную область, правую и левую мезогастральные области, область эпигастрия. Импульсное лазерное воздействие осуществляют с частотой следования импульсов 5-79 Гц, при мощности излучения 4-15 Вт, при времени воздействия на каждую область в течение 30-59 или 61-64 секунд. Способ повышает эффективность лечения за счёт выбора индивидуальных параметров лазерного воздействия и исключения сенсибилизации организма.
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: 'Сертификат соответствия ГОСТ Р (Рикта-Эсмил (1А) и Рикта-Эсмил(2А)) ',
                    })
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: 'Сертификат соответствия ГОСТ Р Госстандарта РФ (Рикта-05)',
                    })
                      p Сертификат соответствия ГОСТ Р Госстандарта РФ (Рикта-05)
                +tabs-content-pane({
                  id: 'tab-content-02',
                  link_id: 'tab-button-02',
                  tabindex: '1',
                })
                  .cert__list
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: 'Патент тест',
                    })
                      p Патент тест
                +tabs-content-pane({
                  id: 'tab-content-03',
                  link_id: 'tab-button-03',
                  tabindex: '2',
                })
                  .cert__list
                    +cert-item({
                      url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
                      thumb: 'img/cert-thumb.png',
                      title: 'Регистрационные удостоверения тест',
                    })
                      p Регистрационные удостоверения тест
          //- Итого
          .cart-page__aside#bx-soa-total
            +cart-page-total({style1: 'display: none', style2: 'display: block;'})
      </div>


block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='js/core.min.js')
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')


