extends ../pug/layout.pug

block meta
  title Каталог
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'contacts';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Каталог')
    section.section.catalog.mt-30px.lg_mt-20px.lg_mb-64px
      .container.tab.grid(class="grid-cols-[1fr_auto]")
        h1.section__title.mb-20px.col-start-1.col-end-3.row-start-1.row-end-2 Продукция
        .page-select.page-select--catalog.field-select__wrapper.md_container.md_after_hidden.lg_hidden.col-start-1.col-end-3.row-start-2.row-end-3.mb-20px
          select#catalog-page-select.catalog__page-select.page-select__input.field-select.md_hidden(role='tablist')
            option(value='/catalog.html#1' selected) Аппараты
            option(value='/catalog.html#2') Оптические насадки
            option(value='/catalog.html#3') Излучатели
            option(value='/catalog.html#4') Прочие аксессуары
            option(value='/catalog.html#5') Литература
        .page-links__wrapper.col-start-1.col-end-3.lg_row-start-2.lg_row-end-3
          +page-links()(class='nav nav-tabs hidden md_flex')
            +page-links-item({ href: '#1', name: 'Аппараты', isActive: true})
            +page-links-item({ href: '#2', name: 'Оптические насадки'})
            +page-links-item({ href: '#3', name: 'Излучатели'})
            +page-links-item({ href: '#4', name: 'Прочие аксессуары'})
            +page-links-item({ href: '#5', name: 'Литература'})
        #arrFilterAuto.catalog__content-wrapper.lg_grid
          .catalog__actions.flex.items-center.lg_row-start-1.lg_row-end-2.lg_col-start-1.lg_col-end-3
            .sort.mr-auto.flex.items-center
              +btn('','clean,sort')(class="mr-10px" href="#")
                .sort__icon
                  span
              .sort__item.sort__item--active.mr-12px
                +btn('По цене','clean')(href='#')
              .sort__item
                +btn('По названию','clean')(href='#')
            +btn('','clean,round,filter')(class='catalog__filter xl_hidden' data-micromodal-toggle='modal-catalog-filter')
              +svg('filter','',{width: '16',height: '15'})(class='fill-transparent')
              span.close
          .filter.modal.modal--catalog#modal-catalog-filter.lg_row-start-2.lg_row-end-3.lg_col-start-2
            .modal__container(role='dialog' aria-modal='true' aria-labelledby='filter')
              .modal__inner
                 +form-filter(name='_form' action="/catalog/laser-therapy-devices/" method="get" class="smartfilter")
                    main.modal__content
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Цена',targetId: 'filter-price'})
                        +form-filter-content({id: 'filter-price'},'price')(class='grid grid-cols-[1fr_1fr]')
                          .range-slider__wrapper(class='mb-20px lg_mb-25px mt-14px col-start-1 col-end-3')
                            +range-slider({},'catalog')(data-min='0' data-max='200000')
                          .form-filter__fields-wrapper
                            +field-text({
                              mods: 'price, price-from',
                              val: '',
                              hasViewField: true,
                              attrs: {
                                name: 'arrFilter_P1_MIN',
                                class: 'col-start-1 col-end-2',
                                id: 'arrFilter_P1_MIN',
                                onkeyup: 'test(this)'
                              }
                            })
                            +field-text({
                              mods: 'price, price-to',
                              val: '',
                              hasViewField: true,
                              attrs: {
                                name: 'arrFilter_P1_MAX',
                                class: 'col-start-2 col-end-3',
                                id: "arrFilter_P1_MAX",
                                onkeyup: 'test(this)'
                              }
                            })
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Регулировка мощности',targetId: 'filter-power',isTip: true})
                        +form-filter-content({id: 'filter-power'},'power')
                          +field-toggler([
                            {
                              attrs: {
                                name: 'arrFilter_14_1842515611',
                                id: "arrFilter_14_1842515611",

                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Без возрастных ограничений',targetId: 'filter-age',isTip: true})
                        +form-filter-content({id: 'filter-age'},'age')
                          +field-toggler([
                            {
                              attrs: {
                                name: 'arrFilter_15_4088798008',
                                id: 'arrFilter_15_4088798008'
                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Тип',targetId: 'filter-type'})
                        +form-filter-content({id: 'filter-type'},'type')
                          +field-checkbox([
                            {
                              title: 'Настольный',
                              attrs: {
                                id: 'arrFilter_16_498629140',
                                name: 'arrFilter_16_498629140',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Портативный',
                              attrs: {
                                name: 'arrFilter_16_2226203566',
                                id: 'arrFilter_16_2226203566'
                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Факторы воздействия',targetId: 'filter-factors'})
                        +form-filter-content({id: 'filter-factors'},'factors')
                          +field-checkbox([
                            {
                              title: 'Инфракрасное излучение',
                              attrs: {
                                name: 'arrFilter_17_4194326291',
                                id: 'arrFilter_17_4194326291'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Красный свет',
                              attrs: {
                                id: 'arrFilter_17_2366072709',
                                name: 'arrFilter_17_2366072709',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Лазер',
                              attrs: {
                                name: 'arrFilter_17_1790921346',
                                id: 'arrFilter_17_1790921346',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Магнит',
                              attrs: {
                                id: 'arrFilter_17_2707236321',
                                name: 'arrFilter_17_2707236321'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Красный свет',
                              attrs: {
                                id: 'arrFilter_17_2366072709',
                                name: 'arrFilter_17_2366072709',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Синий свет',
                              attrs: {
                                name: 'arrFilter_17_3596227959',
                                id: 'arrFilter_17_3596227959'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Электротерапия',
                              attrs: {
                                name: 'arrFilter_17_1330857165',
                                id: 'arrFilter_17_1330857165'
                              }
                            },
                          ])
          .catalog__list
            +catalog-products
          +pagination('catalog')(class='mt-20px mb-20px')
            +pagination-item('Пред.','#','','prev')(disabled)
            +pagination-item('1','#1',true,'num')
            +pagination-item('2','#2','','num')
            +pagination-item('3','#3','','num')
            +pagination-item('4','#4','','num')(class='hidden md_flex')
            +pagination-item('5','#5','','num')(class='hidden md_flex')
            +pagination-item('...')
            +pagination-item('9','#9','','num')
            +pagination-item('След.','#','','next')
      .catalog__info.container.text-gray-500.col-start-1.col-end-3.row-start-4.lg_columns-2
        h2.text-xl.text-color-black.mt-0.mb-20px.lg_text-2xl  «Рикта» – это лучшие материалы, качественные российские комплектующие и лаконичный целесообразный дизайн
        p Аппаратная физиотерапия – один из самых щадящих способов лечения и профилактики заболеваний. Нередко её рекомендуют как часть комплексной терапии.  «Рикта» специализируется на производстве физиотерапестических аппаратов с 1980 года.
        p Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии, неврологии, терапии, офтальмологии и других областях медицины. Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии,
        p Аппаратная физиотерапия – один из самых щадящих способов лечения и профилактики заболеваний. Нередко её рекомендуют как часть комплексной терапии.  «Рикта» специализируется на производстве физиотерапестических аппаратов с 1980 года.
        p Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии, неврологии, терапии, офтальмологии и других областях медицины. Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии,




//- block footer
//-   p footer

block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')
  script.
    function test() {console.log('test');}



