extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'contacts';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Каталог')
    section.section.catalog.mt-20px.lg_mt-20px.mb-60px.lg_mb-64px
      .container.tab.grid(class="grid-cols-[1fr_auto]")
        .section__title.mb-20px.col-start-1.col-end-3 Продукция
        .tab__select-wrapper.tab__select-wrapper--catalog.field-select__wrapper.md_container.md_after_hidden.col-start-1.col-end-3.mb-20px
          select#catalog-tab-select.catalog__tab-select.field-select.md_hidden(name='catalog-tab-select' role='tablist')
            option(value='#catalog_device' role='tab') Аппараты
            option(value='#catalog_optical' role='tab') Оптические насадки
            option(value='#catalog_radiator' role='tab') Излучатели
            option(value='#catalog_misc' role='tab') Прочие аксессуары
            option(value='#catalog_books' role='tab') Литература
        .tab__items-wrapper.col-start-1.col-end-3
          +tab-items()
            +tab-item({id: 'catalog_device', targetId: 'catalog_device_pane', name: 'Аппараты', isActive: true})
            +tab-item({id: 'catalog_optical', targetId: 'catalog_optical_pane', name: 'Оптические насадки'})
            +tab-item({id: 'catalog_radiator', targetId: 'catalog_radiator_pane', name: 'Излучатели'})
            +tab-item({id: 'catalog_misc', targetId: 'catalog_misc_pane', name: 'Прочие аксессуары'})
            +tab-item({id: 'catalog_books', targetId: 'catalog_books_pane', name: 'Литература'})
        #arrFilterAuto
          .catalog__actions.col-start-1.col-end-3.flex.items-center
            .sort.mr-auto.flex.items-center
              +btn('','clean,sort')(class="mr-10px")(href="#")
                .sort__icon
                  span
              .sort__item.sort__item--active.mr-12px
                +btn('По цене','clean')(href='#')
              .sort__item
                +btn('По названию','clean')(href='#')
            +btn('','clean,round,filter')(class='catalog__filter' data-micromodal-toggle='modal-catalog-filter')
              +svg('filter','',{width: '16',height: '15'})(class='fill-transparent')
              span.close
          .filter.modal.modal--catalog#modal-catalog-filter
            .modal__container(role='dialog' aria-modal='true' aria-labelledby='filter')
              .modal__inner
                 +form-filter(name='_form' action="/catalog/laser-therapy-devices/" method="get" class="smartfilter")
                    main.modal__content
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Цена',targetId: 'filter-price'})
                        +form-filter-content({id: 'filter-price'},'price')(class='grid grid-cols-[1fr_1fr]')
                          .range-slider__wrapper(class='mb-20px mt-14px col-start-1 col-end-3')
                            +range-slider({},'catalog')(data-min='0' data-max='200000')
                          +field-text({
                            mods: 'price, price-from',
                            val: '',
                            attrs: {
                              name: 'arrFilter_P1_MIN',
                              class: 'col-start-1 col-end-2',
                              id: "arrFilter_P1_MIN"
                            }
                          })
                          +field-text({
                            mods: 'price, price-to',
                            val: '',
                            attrs: {
                              name: 'arrFilter_P1_MAX',
                              class: 'col-start-2 col-end-3',
                              id: "arrFilter_P1_MAX"
                            }
                          })
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Регулировка мощности',targetId: 'filter-power'})
                        +form-filter-content({id: 'filter-power'},'power')
                          +field-toggler([
                            {
                              attrs: {
                                name: 'arrFilter_14_1842515611',
                                id: "arrFilter_14_1842515611",

                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Без возрастных ограничений',targetId: 'filter-age'})
                        +form-filter-content({id: 'filter-age'},'age')
                          +field-toggler([
                            {
                              attrs: {
                                name: 'arrFilter_15_4088798008',
                                id: 'arrFilter_15_4088798008'
                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Тип',targetId: 'filter-type'})
                        +form-filter-content({id: 'filter-type'},'type')
                          +field-checkbox([
                            {
                              title: 'Настольный',
                              attrs: {
                                id: 'arrFilter_16_498629140',
                                name: 'arrFilter_16_498629140',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Портативный',
                              attrs: {
                                name: 'arrFilter_16_2226203566',
                                id: 'arrFilter_16_2226203566'
                              }
                            },
                          ])
                      .form-filter__item-wrapper
                        +form-filter-item({title:'Факторы воздействия',targetId: 'filter-factors'})
                        +form-filter-content({id: 'filter-factors'},'factors')
                          +field-checkbox([
                            {
                              title: 'Инфракрасное излучение',
                              attrs: {
                                name: 'arrFilter_17_4194326291',
                                id: 'arrFilter_17_4194326291'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Красный свет',
                              attrs: {
                                id: 'arrFilter_17_2366072709',
                                name: 'arrFilter_17_2366072709',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Лазер',
                              attrs: {
                                name: 'arrFilter_17_1790921346',
                                id: 'arrFilter_17_1790921346',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Магнит',
                              attrs: {
                                id: 'arrFilter_17_2707236321',
                                name: 'arrFilter_17_2707236321'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Красный свет',
                              attrs: {
                                id: 'arrFilter_17_2366072709',
                                name: 'arrFilter_17_2366072709',
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Синий свет',
                              attrs: {
                                name: 'arrFilter_17_3596227959',
                                id: 'arrFilter_17_3596227959'
                              }
                            },
                          ])
                          +field-checkbox([
                            {
                              title: 'Электротерапия',
                              attrs: {
                                name: 'arrFilter_17_1330857165',
                                id: 'arrFilter_17_1330857165'
                              }
                            },
                          ])
          +tab-content('catalog')
            +tab-pane({id: 'catalog_device_pane', itemId: 'catalog_device', isShow: true})
              .catalog__list
                +catalog-products
            +tab-pane({id: 'catalog_optical_pane', itemId: 'catalog_optical'})
              .catalog__list
                +catalog-products
            +tab-pane({id: 'catalog_radiator_pane', itemId: 'catalog_radiator'})
              .catalog__list
                +catalog-products
            +tab-pane({id: 'catalog_misc_pane', itemId: 'catalog_misc'})
              .catalog__list
                +catalog-products
            +tab-pane({id: 'catalog_books_pane', itemId: 'catalog_books'})
              .catalog__list
                +catalog-products
      .catalog__info.container.text-gray-500
        h2.text-xl.text-color-black.mt-0.mb-20px  «Рикта» – это лучшие материалы, качественные российские комплектующие и лаконичный целесообразный дизайн
        p Аппаратная физиотерапия – один из самых щадящих способов лечения и профилактики заболеваний. Нередко её рекомендуют как часть комплексной терапии.  «Рикта» специализируется на производстве физиотерапестических аппаратов с 1980 года.
        p Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии, неврологии, терапии, офтальмологии и других областях медицины. Наша медицинская техника изготавливается по европейским стандартам качества ISO и применяется в травматологии, ортопедии,

//- block footer
//-   p footer

block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')

