extends ../pug/layout.pug

block meta
  title Все о лечении
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'cure';

block content
  .wrapper
    +breadcrumbs(class="container")
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Все о лечении')
    #bx_basketFKauiI.bx-basket.bx-opener
      +cart-aside(class='hidden xl_block')
    section.cure.mt-30px.lg_mt-20px
      .container
        h1.section__title.mb-20px Все о лечении
        .cure__content.mt-20px.lg_mt-40px
          +article-index()
            .p-20px.bg-slate-200.rounded-10px
              .article-index__letter-active
                span А
              +article-index-alphabet()
              +search-form-articles()
        .article-index__tabs
          .tab-select.field-select__wrapper.md_container.md_after_hidden
            select#article-index-tab-select.field-select.md_hidden(name="article-index-tab-select" role="tablist" data-tab-select)
              option(value='#article-index-tab-01' role='tab' selected) Заболевания
              option(value='#article-index-tab-02' role='tab') Реабилитация и профилактика
              option(value='#article-index-tab-03' role='tab') Вопрос-ответ
              option(value='#article-index-tab-04' role='tab') Случаи из практики
            ul#article-index-tab(class="nav nav-tabs hidden md_flex" role="tablist")
              li(class="nav-item" role="presentation")
                button.nav-link.active(data-bs-toggle="tab" data-bs-target="#article-index-tab-01" type="button" role="tab" aria-controls="Заболевания" aria-selected="true") Заболевания
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-02" type="button" role="tab" aria-controls="Реабилитация и профилактика" aria-selected="false") Реабилитация и профилактика
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-03" type="button" role="tab" aria-controls="Вопрос-ответ" aria-selected="false") Вопрос-ответ
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-04" type="button" role="tab" aria-controls="Случаи из практики" aria-selected="false") Случаи из практики
          .tab-content.article-index__tab-content#article-index-tab-content
            ul.tab-pane.article-index__tab-pane.fade.show.active#article-index-tab-01(role="tabpanel")
              <li>
                  <a href="#">Зачем пломбировать молочные зубы?</a>
              </li>
              <li>
                  <a href="#">Кариес молочных зубов: родителям на заметку</a>
              </li>
              <li>
                  <a href="#">Потемнение молочных зубов</a>
              </li>
              <li>
                  <a href="#">Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">Шишка на десне у ребёнка</a>
              </li>
              <li>
                  <a href="#">Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">Выпал молочный зуб, а новый не растет</a>
              </li>
              <li>
                  <a href="#">Ретенция зубов</a>
              </li>
              <li>
                  <a href="#">п2 Зачем пломбировать молочные зубы?</a>
              </li>
              <li>
                  <a href="#">п2 Кариес молочных зубов: родителям на заметку</a>
              </li>
              <li>
                  <a href="#">п2 Потемнение молочных зубов</a>
              </li>
              <li>
                  <a href="#">п2 Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">п2 Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">п2 Шишка на десне у ребёнка</a>
              </li>
              <li>
                  <a href="#">п2 Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">п2 Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">п2 Выпал молочный зуб, а новый не растет</a>
              </li>
              <li>
                  <a href="#">п2 Ретенция зубов</a>
              </li>
              <li>
                  <a href="#">3 Зачем пломбировать молочные зубы?</a>
              </li>
              <li>
                  <a href="#">3 Кариес молочных зубов: родителям на заметку</a>
              </li>
              <li>
                  <a href="#">3 Потемнение молочных зубов</a>
              </li>
              <li>
                  <a href="#">3 Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">3 Причины неприятного запаха изо рта у ребёнка</a>
              </li>
              <li>
                  <a href="#">3 Шишка на десне у ребёнка</a>
              </li>
              <li>
                  <a href="#">3 Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">3 Продукты, полезные для зубов</a>
              </li>
              <li>
                  <a href="#">3 Выпал молочный зуб, а новый не растет</a>
              </li>
              <li>
                  <a href="#">3 Ретенция зубов</a>
              </li>
              <li>
                  <a href="#">4 Зачем пломбировать молочные зубы?</a>
              </li>
              <li>
                  <a href="#">4 Кариес молочных зубов: родителям на заметку Кариес молочных зубов: родителям на заметку</a>
              </li>
            .tab-pane.fade#article-index-tab-02(role="tabpanel")
              p Реабилитация и профилактика
            .tab-pane.fade#article-index-tab-03(role="tabpanel")
              p Вопрос-ответ
            .tab-pane.fade#article-index-tab-04(role="tabpanel")
              p Случаи из практики
          .article-index__btns
            button.article-index__nav.article-index__nav--prev(type="button" tabindex="-1")
              +svg('arrow-right','',{width:'25',height: '13'})
            button.article-index__nav.article-index__nav--next(type="button" tabindex="-1")
              +svg('arrow-right','',{width:'25',height: '13'})
        +digits()(class='article-index__digits')
          +digits-item({value: 44, caption: 'статьи'})
          +digits-item({value: 44, caption: 'вопрос-ответов'})
          +digits-item({value: 10, caption: 'случаев из практики'})
        +consult({
          url: '/img/author_87x87.jpg',
          name: 'Иван Фабричный',
          text: 'Врач кардиолог',
          phone: '8 800 200 57 30'
        })(class='cure__consult mt-60px lg_hidden')
        h2.text-2xl.mt-60px.mb-5px.lg_mb-0.lg_mt-0.xxl_mb-10px.pr-110px.lg_text-36px Вам может быть интересно
        +btn('Все статьи','simple').mb-20px.shrink-0
        .article-preview.article-preview__list-wrapper
          .article-preview__list.slider
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview.slider__item
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")


