extends ../pug/layout.pug

block meta
  title Все о лечении
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'cure';

block content
  .wrapper
    +breadcrumbs(class="container")
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Все о лечении')
    #bx_basketFKauiI.bx-basket.bx-opener
      +cart-aside(class='hidden xl_block')
    section.cure.mt-30px.lg_mt-20px.lg_mb-128px
      .container
        h1.section__title.mb-20px Все о лечении
        .cure__content.mt-20px.lg_mt-40px.lg_mb-70px
          +article-index()(class='cure__article-index')
            .p-20px.lg_pt-40px.xxl_pl-30px.bg-slate-200.lg_bg-transparent.rounded-10px.lg_border.lg_border-gray-200
              .article-index__letter-active А
              +article-index-alphabet()
              +search-form-articles()
          .article-index__tabs(class='cure__tabs')
            .tab-select.field-select__wrapper.md_container.md_after_hidden
              select#article-index-tab-select.field-select.md_hidden(name="article-index-tab-select" role="tablist" data-tab-select)
                option(value='#article-index-tab-01' role='tab' selected) Заболевания
                option(value='#article-index-tab-02' role='tab') Реабилитация и профилактика
                option(value='#article-index-tab-03' role='tab') Вопрос-ответ
                option(value='#article-index-tab-04' role='tab') Случаи из практики
            ul#article-index-tab(class="article-index__nav-tabs nav nav-tabs hidden md_flex" role="tablist")
              li(class="nav-item" role="presentation")
                button.nav-link.active(data-bs-toggle="tab" data-bs-target="#article-index-tab-01" type="button" role="tab" aria-controls="Заболевания" aria-selected="true") Заболевания
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-02" type="button" role="tab" aria-controls="Реабилитация и профилактика" aria-selected="false") Реабилитация и профилактика
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-03" type="button" role="tab" aria-controls="Вопрос-ответ" aria-selected="false") Вопрос-ответ
              li(class="nav-item" role="presentation")
                button.nav-link(data-bs-toggle="tab" data-bs-target="#article-index-tab-04" type="button" role="tab" aria-controls="Случаи из практики" aria-selected="false") Случаи из практики
            .tab-content.article-index__tab-content#article-index-tab-content
              ul.article-index__tab-pane.tab-pane.article-index__tab-pane.fade.show.active#article-index-tab-01(role="tabpanel")
                <li>
                    <a href="#">Абсцесс</a>
                </li>
                <li>
                    <a href="#">Аденовирусная инфекция</a>
                </li>
                <li>
                    <a href="#">Бореллиоз</a>
                </li>
                <li>
                    <a href="#">Зачем пломбировать молочные зубы?</a>
                </li>
                <li>
                    <a href="#">Кариес молочных зубов: родителям на заметку</a>
                </li>
                <li>
                    <a href="#">Потемнение молочных зубов</a>
                </li>
                <li>
                    <a href="#">Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">Шишка на десне у ребёнка</a>
                </li>
                <li>
                    <a href="#">Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">Выпал молочный зуб, а новый не растет</a>
                </li>
                <li>
                    <a href="#">Ретенция зубов</a>
                </li>
                <li>
                    <a href="#">п2 Зачем пломбировать молочные зубы?</a>
                </li>
                <li>
                    <a href="#">п2 Кариес молочных зубов: родителям на заметку</a>
                </li>
                <li>
                    <a href="#">п2 Потемнение молочных зубов</a>
                </li>
                <li>
                    <a href="#">п2 Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">п2 Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">п2 Шишка на десне у ребёнка</a>
                </li>
                <li>
                    <a href="#">п2 Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">п2 Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">п2 Выпал молочный зуб, а новый не растет</a>
                </li>
                <li>
                    <a href="#">п2 Ретенция зубов</a>
                </li>
                <li>
                    <a href="#">3 Зачем пломбировать молочные зубы?</a>
                </li>
                <li>
                    <a href="#">3 Кариес молочных зубов: родителям на заметку</a>
                </li>
                <li>
                    <a href="#">3 Потемнение молочных зубов</a>
                </li>
                <li>
                    <a href="#">3 Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">3 Причины неприятного запаха изо рта у ребёнка</a>
                </li>
                <li>
                    <a href="#">3 Шишка на десне у ребёнка</a>
                </li>
                <li>
                    <a href="#">3 Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">3 Продукты, полезные для зубов</a>
                </li>
                <li>
                    <a href="#">3 Выпал молочный зуб, а новый не растет</a>
                </li>
                <li>
                    <a href="#">3 Ретенция зубов</a>
                </li>
                <li>
                    <a href="#">4 Зачем пломбировать молочные зубы?</a>
                </li>
                <li>
                    <a href="#">4 Кариес молочных зубов: родителям на заметку Кариес молочных зубов: родителям на заметку</a>
                </li>
              ul.article-index__tab-pane.tab-pane.fade#article-index-tab-02(role="tabpanel")
                <li>
                    <a href="#">Абсцесс</a>
                </li>
                <li>
                    <a href="#">Аденовирусная инфекция</a>
                </li>
                <li>
                    <a href="#">Аденома щитовидной железы</a>
                </li>
                <li>
                    <a href="#">Аллергия</a>
                </li>
                <li>
                    <a href="#">Амблиопия</a>
                </li>
                <li>
                    <a href="#">Абсцесс</a>
                </li>
                <li>
                    <a href="#">Аллергия</a>
                </li>
                <li>
                    <a href="#">Авитаминоз</a>
                </li>
                <li>
                    <a href="#">Аденоиды</a>
                </li>
                <li>
                    <a href="#">Адреногенитальный синдром</a>
                </li>
                <li>
                    <a href="#">Аллергологические пробы</a>
                </li>
                <li>
                    <a href="#">Аменорея</a>
                </li>
                <li>
                    <a href="#">Авитаминоз</a>
                </li>
                <li>
                    <a href="#">Абсцесс</a>
                </li>
                <li>
                    <a href="#">Аденовирусная инфекция</a>
                </li>
                <li>
                    <a href="#">Аденома щитовидной железы</a>
                </li>
                <li>
                    <a href="#">Аллергия</a>
                </li>
                <li>
                    <a href="#">Амблиопия</a>
                </li>
                <li>
                    <a href="#">Абсцесс</a>
                </li>
                <li>
                    <a href="#">Аллергия</a>
                </li>
                <li>
                    <a href="#">Авитаминоз</a>
                </li>
                <li>
                    <a href="#">Аденоиды</a>
                </li>
                <li>
                    <a href="#">Адреногенитальный синдром</a>
                </li>
                <li>
                    <a href="#">Аллергологические пробы</a>
                </li>
                <li>
                    <a href="#">Аменорея</a>
                </li>
                <li>
                    <a href="#">Авитаминоз</a>
                </li>
                <li>
                    <a href="#">Бореллиоз</a>
                </li>
              ul.article-index__tab-pane.tab-pane.fade#article-index-tab-03(role="tabpanel")
                <li>
                    <a href="#">Аденоиды</a>
                </li>
                <li>
                    <a href="#">Адреногенитальный синдром</a>
                </li>
                <li>
                    <a href="#">Аллергологические пробы</a>
                </li>
                <li>
                    <a href="#">Аменорея</a>
                </li>
                <li>
                    <a href="#">Авитаминоз</a>
                </li>
                <li>
                    <a href="#">Бореллиоз</a>
                </li>

              ul.article-index__tab-pane.tab-pane.fade#article-index-tab-04(role="tabpanel")
                p Случаи из практики
            .article-index__btns
              button.article-index__nav-btn.article-index__nav-btn--prev(type="button" tabindex="-1")
                +svg('arrow-right','',{width:'26',height: '13'})
              button.article-index__nav-btn.article-index__nav-btn--next(type="button" tabindex="-1")
                +svg('arrow-right','',{width:'26',height: '13'})
          +digits()(class='cure__digits')
            +digits-item({value: 44, caption: 'статьи'})
            +digits-item({value: 44, caption: 'вопрос-ответов'})
            +digits-item({value: 10, caption: 'случаев из практики'})
          +consult({
            url: '/img/author_87x87.jpg',
            name: 'Иван Фабричный',
            text: 'Врач кардиолог',
            phone: '8 800 200 57 30'
          })(class='cure__consult mt-60px lg_mt-30px')
        h2.text-2xl.mt-60px.mb-5px.lg_mb-0.lg_mt-0.xxl_mb-10px.pr-110px.lg_text-36px Вам может быть интересно
        +btn('Все статьи','simple').mb-20px.shrink-0
        .article-preview.article-preview--inner.article-preview__list-wrapper
          .article-preview__list.slider-lg.lg_grid.lg_grid(class='lg_grid-cols-[1fr_20px_1fr_20px_1fr] lg_grid-cols-[1fr_32px_1fr_32px_1fr]')
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  a.article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]" href="#") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            .article-preview
              .article-preview__inner.xxl_flex.xxl_flex-col
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.text-gray-300.mb-10px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black(class="min-h-[56px]") Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.xxl_flex-grow.xxl_overflow-hidden.xxl_w-full.xxl_mb-30px
                    .article-preview__content-inner.text-base.text-gray-500.max-h-full.article-preview__ellipsis--cure.xl_pr-10px(data-lines='3') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px")
          +btn(
            '<svg class="icon" width="18" height="18"><use xlink:href="/img/sprite.svg#refresh"></use></svg> <span>Показать еще</span>',
            'regular, icon, show-more')(class='mt-10px ml-auto mr-auto rounded-4px hidden lg_flex')



