extends ../pug/layout.pug

block meta
  title Доставка и оплата
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'product';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Каталог','#')
      +breadcrumbs-item('Аппарат магнито-инфракрасный лазерный терапевтический рикта 04/4')
    #bx_basketFKauiI.bx-basket.bx-opener
      +cart-aside(class='hidden xl_block')
    section.section.delivery.section--delivery.mt-30px.lg_mt-20px.mb-60px
      .container
        h1.section__title.mb-20px Доставка и оплата
        .page-links__wrapper.col-start-1.col-end-3.lg_row-start-2.lg_row-end-3
          +page-links('delivery')(class='nav nav-tabs flex')
            +page-links-item({ name: 'Доставка', isActive: true, href: '#'})
            +page-links-item({ name: 'Оплата', href: '#'})
        // +tab-items(id='deliveryTab' class='lg_mb-40px')
        //   +tab-item({
        //     id: 'delivery-tab',
        //     targetId: 'delivery',
        //     name: 'Доставка',
        //     isActive: true
        //   })
        //   +tab-item({
        //     id: 'pay-tab',
        //     targetId: 'pay',
        //     name: 'Оплата'
        //   })
        // +tab-content(id='deliverTabContent')
        //   +tab-pane({
        //     id: 'delivery',
        //     itemId: 'delivery-tab',
        //     isShow: true,
        //     paneClasses: 'delivery__content delivery__content--delivery'
        //   })
        .delivery__content.delivery__content--delivery.mt-30px.lg_mt-40px
          .delivery__moscow.p-22px.bg-gray-100.lg_p-40px(class='rounded-[20px]')
            h2.mt-0.mb-20px.text-2xl Как получить товар в&nbsp;Москве
            h3.mt-0.text-lg Самовывоз
            p Вы можете самостоятельно забрать свой заказ, приехав в наш офис продаж, расположенный прямо при заводе-изготовителе в&nbsp;городе Москва по&nbsp;адресу <a href='#'>ул.&nbsp;Боровая, д.&nbsp;7, стр.&nbsp;7</a> с&nbsp;понедельника по&nbsp;пятницу 10:00&nbsp;до&nbsp;18:00.
            h3.mt-20px.text-lg Курьерская доставка
            p Доставка осуществляется, как правило, через день после оформления заказа.
            .info-line.mt-30px.mb-20px
              .info-line__caption.relative.pr-20px
                span От&nbsp;15&nbsp;000&nbsp;руб.
                +info-tip(class='info-tip--right' data-content='Бесплатная доставка за МКАД осуществляется при условии предоплаты.')
              .info-line__value.text-green
                span Бесплатно
            p Если Ваш заказ на меньшую сумму, то стоимость доставки составит:
            .info-line.mb-10px
              .info-line__caption
                span Москва в пределах МКАД
              .info-line__value
                span 500&nbsp;руб.
            .info-line
              .info-line__caption.relative.pr-20px
                span Москва за МКАД
                +info-tip(class='info-tip--right' data-content='Бутово, Жулебино, Коммунарка, Кожухово, Куркино, Митино, Некрасовка, Новокосино, Соларьево, Солнцево и пр.')
              .info-line__value
                span 750&nbsp;руб.
          .delivery__others.mt-40px
            h2.mt-0.mb-10px.text-2xl Доставка по&nbsp;России
            p Доставка осуществляется курьерской службой.
            p <b>Средний срок доставки:</b> 1–3 дня.
            p Если сумма заказа от <b>15000 руб.</b> (при условии предоплаты) - <b>бесплатно</b>
            p в остальных случаях (при отправке наложенным платежом или при сумме заказа меньше 15000 руб.) - 1800 руб.
            p Обратите внимание! Курьер нашего партнёра только доставляет Вам заказанный товар. Передача товара от курьера возможна только после оплаты. При обнаружении в последствии какого-либо дефекта или неисправности, действовать следует в соответствии с правилами гарантийного ремонта.
            h2.mt-20px.mb-10px.text-2xl Доставка за пределы РФ
            p Доставка за рубеж осуществляется службой EMS по тарифу службы.
            p Отгрузка происходит строго по 100% предоплате.
            p <b>Средний срок доставки:</b> 10–25 дней после оплаты заказа.
          // +tab-pane({
          //   id: 'pay',
          //   itemId: 'pay-tab',
          //   paneClasses: 'delivery__content delivery__content--pay'
          // })
          //   .delivery__pay-info.mt-30px
          //     p <b>Вниманию иностранных покупателей!</b> Цены в рублях действительны только для России и стран СНГ.<br>(<b>Attention of foreign buyers!</b> Prices in rubles are valid only for Russia and CIS countries).
          //     h2.mt-0.text-2xl Оплата банковскими картами
          //     +pay-cards
          //       +pay-cards-item({iconClass: 'icon_card-mir'})
          //       +pay-cards-item({iconClass: 'icon_card-visa'})
          //       +pay-cards-item({iconClass: 'icon_card-mastercard'})
          //       +pay-cards-item({iconClass: 'icon_card-maestro'})
          //     p При заказе по электронной почте или по телефону вы получаете на указанный e-mail счет на оплату, который можно оплатить в любом отделении удобного вам банка или через интернет-банк. Для вашего удобства и простоты на счете имеется QR-код.
          //     p Оплатить заказ вы можете онлайн, сразу после его оформления на нашем сайте через систему безопасных платежей CloudPayments. К оплате принимаются карты МИР, Visa, MasterCard, Maestro.
          //     p Обратите внимание! Предоплаченные 100% заказы доставляются физическим лицам по РФ бесплатно!
          //     h2.mt-0.text-2xl Безналичный перевод, оплата через отделение банка
          //     p Данный вид оплаты возможен для физических и юридических лиц.
          //     p При заказе по электронной почте или по телефону вы получаете на указанный e-mail счет на оплату, который можно оплатить в любом отделении удобного вам банка или через интернет-банк. Для вашего удобства и простоты на счете имеется QR-код.
          //     p Оформляя заказ через интернет-магазин, пожалуйста, указывайте ваши реквизиты как можно подробнее.
          //     p <b>Обратите внимание!</b> Предоплаченные 100% заказы доставляются физическим лицам по РФ бесплатно!
          //     h2.mt-0.text-2xl Наличными рублями при получении заказа
          //     p Данный вариант оплаты возможен при доставке заказов по РФ транспортными компаниями физическим лицам, проживающим в регионах, на которые распространяется услуга оплаты вложения (уточняйте у оператора).
          //   .delivery__pay-details.p-22px.bg-gray-100.lg_pt-40px(class='rounded-[20px]')
          //     h2.mt-0.text-2xl Реквизиты ООО "РИКТАМЕД":
          //     p ИНН 7722709014
          //     p КПП 772201001
          //     p Юридический адрес: 111020, РОССИЯ, г. Москва,  ул. Боровая, д. 7 стр. 7, 2 этаж, офис 29
          //     p Р/счет  № 40702810738000085080 в «Сбербанк» (ПАО) г. Москва
          //     p К/счет № 30101810400000000225
          //     p БИК 044525225
          //     p ОГРН 1107746094224
          //     +btn('Скачать все реквизиты','regular')(class='border-gray-500' href='#')



block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')

