extends ../pug/layout.pug

block meta
  title Часто задаваемые вопросы
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'faq';

block content
  .wrapper
    +breadcrumbs(class='container')
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Часто задаваемые вопросы')
    section.section--faq.mt-30px.lg_mt-20px.lg_mb-128px
      .article.faq.mb-64px.lg_container
        .container.faq__header.lg_p-0
          h1.text-2xl.mb-20px.mb-45px.lg_text-48px.lg_col-span-3.lg_mt-0.lg_mb-30px Рикта для дома
        .faq__question.container.lg_p-0
          .faq__question-inner
            .faq__title Вопрос:
            p Здравствуйте, подскажите пожалуйста, как выбрать лазерный аппарат для дома? Реципиент отталкивает сюжетный брахикаталектический стих. Амфибрахий многопланово нивелирует былинный палимпсест.Несобственно-прямая речь возможна. Полифонический роман, чтобы уловить хореический ритм или аллитерацию на "л", осознаёт диссонансный жанр. Эпическая медлительность фонетически начинает деструктивный акцент.
            p Реципиент отталкивает сюжетный брахикаталектический стих. Амфибрахий многопланово нивелирует былинный палимпсест. Несобственно-прямая речь возможна. Полифонический роман, чтобы уловить хореический ритм или аллитерацию на "л", осознаёт диссонансный жанр. Эпическая медлительность фонетически начинает деструктивный акцент.
            p многопланово нивелирует былинный палимпсест. Несобственно-прямая речь возможна. Полифонический роман, чтобы уловить хореический ритм или аллитерацию на "л", осознаёт диссонансный жанр. Эпическая медлительность фонетически начинает деструктивный акцент.
        .faq__answer
          .faq__title Ответ:
          +author-faq({
            url: '/img/author_87x87.jpg',
            name: 'Екатерины Григорьевны Осиповой.',
            text: 'Рекомендации врача-физиотерапевта, лазеролога, педиатра, к.м.н.'
          },'faq')(class='mb-30px')
            picture
              source(media='(max-width: 1023px)' data-srcset='/img/author_87x87.jpg')
              source(media='(min-width: 1024px)' data-srcset='/img/author_219x219.jpg')
              img.lazyload(data-src='/img/author-87x87.jpg', alt='')
          .fragment-special.text-green.mb-30px.lg_mb-30px
            .fragment-speical__inner.text-gray-500.text-xl
              p Вот уже десять лет я консультирую пользователей по применению аппаратов РИКТА®. Мне задают разные вопросы, интересуются показаниями и противопоказаниями к лазерной терапии, схемами лечения заболеваний, не вошедшими в методическое руководство к аппарату.
          p Один из самых важных вопросов – какой аппарат выбрать для дома, для семьи? В семье живут люди разного возраста, как говорится, «от мала до велика», поэтому нужно четко знать, какая модель аппарата подойдет им всем.
          h2.text-2xl.mt-0.mb-10px.lg_mt-20px.lg_mb-20px Почему рикта
          p Действие аппаратов РИКТА® основано на применении низкоинтенсивного когерентного импульсного лазерного и некогерентного инфракрасного воздействия, пульсирующего красного света, а также постоянного магнитного поля. В некоторые модели добавлено воздействие импульсным током низкой частоты методом чрескожной электронейростимуляции. Все эти факторы, действуя одновременно, усиливают друг друга. За счет этого и обусловлен уникальный лечебный эффект.
          p Хочется напомнить, что аппараты РИКТА® имеют сертификат соответствия, регистрационное удостоверение и разрешены к применению в домашних условиях.
          p Аппараты РИКТА® подразделяются на настольные и портативные. Все модели подходят для применения в домашних условиях, но у каждой есть свои особенности.
          h2.text-2xl.mt-40px.mb-10px.lg_mt-40px.lg_mb-20px Настольные аппараты Рикта
          p К настольным аппаратам относятся модели <a href='#'>РИКТА-04/4</a> и <a href='#'>РИКТА-03/2</a>. Они предназначены для всех групп пользователей и всех возрастов. Именно эти две модели имеют регулировку мощности лазерного и инфракрасного воздействия – 25%, 50%. Такая регулировка необходима для проведения сеансов лечения и профилактики:
          ul.list-dots.mt-20px.p-0
            li детям в возрасте от 1 года до 14 лет;
            li пользователям старше 70 лет;
            li людям после инфарктов, инсультов, сложных хирургических вмешательств, имеющим много (5-6 и более) серьезных проблем со здоровьем.
          p За счет регулировки мощности уменьшается доза воздействия, что особо значимо при проведении сеансов лазерной терапии данных  категорий пациентов.
          p Другие модели не подходят для лечения детей, пожилых людей и пациентов с серьезными проблемами.
          p К каждому аппарату прилагается методическое пособие, в котором указано, как пользоваться аппаратом и самостоятельно проводить сеансы лазеролечения в домашних условиях.
          h2.text-2xl.mt-0.mb-10px.lg_mt-40px.lg_mb-20px Портативные аппараты Рикта
          p К портативным моделям относятся аппараты <a href='#'>РИКТА-ЭСМИЛ(1А)</a> и <a href='#'>РИКТА-ЭСМИЛ(2А)</a>. Эти модели – незаменимые помощники дома, на даче, в поездках, на отдыхе и даже на работе, например, в офисе.
          p Аппараты небольшие по размеру и весу, заряжаются от  аккумулятора. 3 часа зарядки дают до 8 часов беспрерывной работы, что очень удобно, так как это позволяет провести 2-3 курса лечения без подзарядки.
          p Портативные модели РИКТА-ЭСМИЛ(1А) и РИКТА-ЭСМИЛ(2А) подходят для лечения и профилактики взрослых – людей от 14 до 70 лет, не имеющих серьезных проблем со здоровьем. Но они практически не подходят для детей.
          p Аппарат РИКТА-ЭСМИЛ(1А) имеет четыре действующих физических фактора: низкоинтенсивное когерентное импульсное лазерное воздействие, некогерентное инфракрасное воздействие, пульсирующий красный свет и  постоянное магнитное поле.
          p Аппарат РИКТА-ЭСМИЛ(2А) отличается  от аппарата РИКТА-ЭСМИЛ(1А) тем, что наряду с четырьмя базовыми факторами имеет  дополнительный пятый фактор воздействия - импульсный ток низкой частоты для проведения чрескожной электронейростимуляции  (ЧЭНС). Во время проведения ЧЭНС пользователь должен самостоятельно, нажимая кнопку на панели аппарата, подобрать себе такое воздействие током, чтобы ощущать лишь легкое покалывание.
          p Чрескожная электронейростимуляция эффективно снимает боль. Поэтому применение РИКТА-ЭСМИЛ(2А) рекомендуется при заболеваниях, сопровождающихся сильной болью, таких как радикулит, ишиас, невралгия, неврит, зубная боль, боль в суставах и позвоночнике, последствия травм – вывихов, ушибов и переломов. То есть, помимо лечения широкого круга заболеваний, указанных в методическом пособии, РИКТА-ЭСМИЛ(2А) особо эффективен во всех случаях, когда необходимо быстро снять боль.
          h2.text-2xl.mb-10px.lg_mt-40px.lg_mb-20px Оптические насадки
          p <a href='#'>Оптические насадки на аппараты РИКТА</a> позволяют  доставить лазерное излучение непосредственно в очаг патологии, будь то ухо, нос горло, прямая кишка или влагалище, то есть полость.
          p.mt-20px.text-black.text-lg.lg_text-xl Например, при помощи насадок можно проводить лечение:
          ul.list-dots.mt-20px.p-0
            li ринита, синусита, тонзиллита, аденоидита, отита (лор-насадка из КОН-1);
            li взрослых с заболеваниями опорно-двигательного аппарата: остеохондрозом, артритом, артрозом, при лечении геморроя, простатита, уретрита, цистита (КОН-1);
            li гинекологических (КОН-Г) и стоматологических (КОН-3) заболеваний.
          p При проведении косметологических процедур особенно эффективен лазерофорез косметических средств  для омоложения кожи лица, шеи, зоны декольте и спины (насадка из комплекта КОН-1).
          h2.text-2xl.mt-40px.mb-10px.lg_mt-40px.lg_mb-20px В заключение
          p Мы перечислили аппараты, которые подойдут для использования в домашних условиях. Все они зарекомендовали себя как хороший способ лечения, особенно, учитывая сложную ситуацию с физиотерапией, а также дороговизну нашей коммерческой медицины.
          p Помните о показаниях, противопоказаниях к применению, строго соблюдайте методики, указанные в пособии к аппарату, при необходимости проконсультируйтесь с врачом.
          .fragment-special.text-green
            .fragment-speical__inner.mt-20px.text-gray-500.text-xl
              p Для этого позвоните по телефону горячей линии (8&nbsp;800&nbsp;200&nbsp;57&nbsp;30)<br> или напишите нашему врачу. Мы всегда готовы вас проконсультировать.
              p.text-black Врач-физиотерапевт, лазеролог, педиатр, к.м.н. Екатерина Григорьевна Осипова
        .faq__add.container.lg_hidden.mt-60px
          +aside-nav-full(class='mb-60px')
          .form__wrapper.mb-60px
            #comp_5afb8bec3eb492a81bc638ca2c9b76d6
              #contact_page_form
                form.form.relative.form--question.lg_flex.lg_flex-col
                  .contacts__title.mt-30px.mb-20px.text-xl.lg_mt-0 Задать свой вопрос
                  +field-text({
                    attrs: {
                      name: 'name',
                      placeholder: 'Имя',
                      type: 'text'
                    }
                  })
                  +field-text({
                    attrs: {
                      name: 'email',
                      placeholder: 'E-mail',
                      type: 'text'
                    }
                  })
                  +field-text({
                    isTextarea: true,
                    attrs: {
                      name: 'name',
                      placeholder: 'Ваш вопрос',
                      type: 'text',
                      rows: 8
                    }
                  })(class="relative grow")
                    button.btn.btn--form-tg.absolute.right-0.bottom-0.flex.items-center.justify-center
                      +svg('tg-outline','',{width: 18, height: 18})
                      span Отправить
        .article__aside.faq__aside.hidden.lg_block
          .article__float
            .article__float-container
              +aside-nav-full()
              .form__wrapper.mb-60px.mt-40px
                #comp_5afb8bec3eb492a81bc638ca2c9b76d6
                  #contact_page_form
                    form.form.relative.form--question.lg_flex.lg_flex-col
                      .contacts__title.mt-30px.mb-20px.text-xl.lg_mt-0 Задать свой вопрос
                      +field-text({
                        attrs: {
                          name: 'name',
                          placeholder: 'Имя',
                          type: 'text'
                        }
                      })
                      +field-text({
                        attrs: {
                          name: 'email',
                          placeholder: 'E-mail',
                          type: 'text'
                        }
                      })
                      +field-text({
                        isTextarea: true,
                        attrs: {
                          name: 'name',
                          placeholder: 'Ваш вопрос',
                          type: 'text',
                          rows: 8
                        }
                      })(class="relative grow")
                        button.btn.btn--form-tg.absolute.right-0.bottom-0.flex.items-center.justify-center
                          +svg('tg-outline','',{width: 18, height: 18})
                          span Отправить
      section.section.section--catalog.section--catalog-faq.lg_pt-0.lg_mb-128px
          .section__inner
            .container
              .product-catalog
                h2.section__title.mb-0.mt-0 Рекомендуем <span class='hidden lg_inline'>обратить внимание на аппараты</span>
                +btn('Все аппараты','simple')(class="pt-3px")
                .product-list.mt-20px
                  +product-card(
                    {
                      url: './img/product.jpg',
                      srcset:
                      'img/product_320x200.jpg 320w,' +
                      'img/product_345x242.jpg 345w,',
                      sizes: '(max-width: 1023) 320px,' +
                            '(min-width: 1024px) 345px,',
                      title: 'РИКТА-04/4',
                      desc: 'Без возрастных ограничений. С&nbsp;регулировкой мощности Без возрастных ограничений.<br/>С&nbsp;регулировкой мощности.',
                      price: '44 800 ₽'
                    })(class="slider__item")
                  +product-card(
                    {
                      url: './img/product.jpg',
                      srcset:
                      'img/product_320x200.jpg 320w,' +
                      'img/product_345x242.jpg 345w,',
                      sizes: '(max-width: 1023) 320px,' +
                            '(min-width: 1024px) 345px,',
                      title: 'РИКТА 04/4 (универсальный)',
                      desc: 'Комплектация: "Универсальный" Без возрастных ограничений. С&nbsp;регулировкой мощности',
                      price: '74 600 ₽'
                    })(class="slider__item")
                  +product-card(
                    {
                      url: './img/product.jpg',
                      srcset:
                      'img/product_320x200.jpg 320w,' +
                      'img/product_345x242.jpg 345w,',
                      sizes: '(max-width: 1023) 320px,' +
                            '(min-width: 1024px) 345px,',
                      title: 'рикта-эсмил(1)а',
                      desc: 'Портативный. Работает от аккумулятора Без возрастных ограничений. С&nbsp;регулировкой мощности',
                      price: '98 200 ₽'
                    })(class="slider__item")
                  +product-card(
                    {
                      url: 'http://placekitten.com/300/300',
                      srcset:
                      'img/product_320x200.jpg 320w,' +
                      'img/product_345x242.jpg 345w,',
                      sizes: '(max-width: 1023) 320px,' +
                            '(min-width: 1024px) 345px,',
                      title: 'рикта-тест',
                      desc: 'Без возрастных ограничений. С регулировкой мощности Без возрастных ограничений. С&nbsp; регулировкой мощности',
                      price: '98 200 ₽'
                    })(class="slider__item")


block prepend page-bottom
  .inline-svg-sprite
    include ../blocks/sprite-svg-inline/img/sprite-inline.svg
  script(src='https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=bd455aa8-6a1c-4570-a04d-5a21c9e76f7e')


