extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +nav-add
  +nav-main
  +menu-actions
    +menu-actions-item('solid','user')
    +menu-actions-item('solid','magnifying-glass')
  +switcher({name: 'Ru'})
    +switcher-item({name: 'Ru', code: 'ru', value: ''})
    +switcher-item({name: 'En', code: 'en', value: ''})
  div.info-top
    +phone(class="text-xl") 8 800 200 57 30

block content
  h1 Заголовок
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].
  .container



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
