extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block off-canvas
  +main-nav-aside()
  +burger('Закрыть дополнительное меню', 'off-canvas', 'off-canvas--open')(class='off-canvas__close burger--closed')

block nav
  +burger('Показать дополнительное меню', 'off-canvas', 'off-canvas--open')(class='off-canvas__toggler hidden lg_block mr-15px')
  //- +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')(class='hiddenmd_block xl_hidden')
  +main-nav()(class="hidden lg_block")
  +burger('Показать мобильное меню', 'nav-mobile', 'main-nav--open')(class='main-nav__toggler burger--animated order-3 lg_hidden')
  +main-nav-mobile()(class="lg_hidden order-last")
  +search-form
    +action-btn('solid','magnifying-glass','search')(id="btnSearch" class="search-form__btn" type="button")
  +action-btn('solid','user','user')
  +switcher({name: 'Ru'})(class="hidden xxl_block text-lg" id="switcherLangTop")
    +switcher-item({name: 'Ru', code: 'ru', value: ''})
    +switcher-item({name: 'En', code: 'en', value: ''})
  div.contact-info.hidden.xl_block
    +phone(class="text-xl") 8 800 200 57 30
    +hours


block content
  main.page__main.relative
    +pages
    +cart-aside(class="hidden xl_block")
    section.bg-gray-100(data-page='main-slider')
      +slider-main({class: "3xl_container"})
        +slider-item--main({url: '/video/dummy.mov', width: 1920, height: 1080, type: 'video/mp4'})
          .slider__text.mt-30px.xl_mt-150px.xxl_mt-160px
            h2.mt-0 Современная физиотерапия и реабилитация
            p Разрабатываем с нуля или оптимизируем ваш страховой договор так, чтобы вы получили лучшие условия за меньшие деньги.
            .slider__text-bottom.xxl_mt-30px
              +btn('Подробнее','regular')(href="#")
        +slider-item--main({url: '/video/SampleVideo_360x240_5mb.mp4', width: 360, height: 240, type: 'video/mp4'})
          .slider__text.mt-30px.xl_mt-150px.xxl_mt-160px
            h2.mt-0 slide 2
            p Разрабатываем с нуля или оптимизируем ваш страховой договор так, чтобы вы получили лучшие условия за меньшие деньги.
            .slider__text-bottom.xxl_mt-30px
              +btn('Подробнее','regular')(href="#")
        +slider-item--main({url: '/video/banana.mp4', width: 3840, height: 2160, type: 'video/mp4'})
          .slider__text.mt-30px.xl_mt-150px.xxl_mt-160px
            h2.mt-0 slide 3
            p Разрабатываем с нуля или оптимизируем ваш страховой договор так, чтобы вы получили лучшие условия за меньшие деньги.
            .slider__text-bottom.xxl_mt-30px
              +btn('Подробнее','regular')(href="#")
    section.section-main.section--features.mt-40px(data-page='features')
      .section__container.xl_container
        .section__inner
          +features
            +features-item({
              title: 'Эффективность',
              text: "<ul class='m-0 p-0 list-none'><li>Аппараты используются свыше чем 5&nbsp;000 ведущих клиник</li>" +
                "<li>Входят в стандарты оснащения ЛПУ (коды 317670, 317660)</li>" +
                "<li>Сотни инновационных запатентованных методик лечения</li></ul>",
              icon: 'graph'
             })
            +features-item({
              title: 'Удобство',
              text: "<ul class='m-0 p-0 list-none'><li>Медико-консультативная поддержка</li>" +
                "<li>Оперативный прием заявок на гарантийный ремонт</li>" +
                "<li>Бесплатный «пробный сеанс» у врача в офисе при производстве</li></ul>",
              icon: 'filter'
            })
            +features-item({
              title: 'Безопасность',
              text: "<ul class='m-0 p-0 list-none'><li>Медико-консультативная поддержка</li>" +
                "<li>Оперативный прием заявок на гарантийный ремонт</li>" +
                "<li>Бесплатный «пробный сеанс» у врача в офисе при производстве</li></ul>",
              icon: 'lock'
            })
            +features-item({
              title: 'Качество',
              text: "<ul class='m-0 p-0 list-none'><li>Медико-консультативная поддержка</li>" +
                "<li>Оперативный прием заявок на гарантийный ремонт</li>" +
                "<li>Бесплатный «пробный сеанс» у врача в офисе при производстве</li></ul>",
              icon: 'star'
            })
    section.section-main.section--info.mt-60px(data-page='info')
      .section__container.container
        .section__inner
          +product-info
            .section__header
              h2.section__title Новинки
              +btn('Все аппараты','simple')(class="pt-3px")
            .product-info__views-wrapper
              .product-info__views-list.slider
                +product-info-view
                +product-info-view
                +product-info-view
            .product-info__text-wrapper
              .product-info__text-list.slider
                +product-info-text(
                  {
                    title: '1. РИКТА-ЭСМИЛ (2А)-03',
                    desc: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии',
                    price: '37 800 ₽'
                  })
                  div
                    h4.text-xl.leading-7.text-black.mb-15px Преимущества
                    ul.pl-0.text-sm.leading-6
                      li.flex.items-center.mb-10px.xxl_mb-15px
                        i.laser.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                      li.flex.items-center.mb-10px.xxl_mb-15px
                        i.blue-light.shrink-0.mr-15px
                        span Синий свет (длина волны 400-500 нм) – подавление воспалительных процессов, эффекты разжижения крови и ускоренного купирования проявлений инфекции.  Обладает метаболическим и психоэмоциональным действием.
                      li.flex.items-center.mb-10px.xxl_mb-15px
                        i.cert.shrink-0.mr-15px
                        span Сертификат Росздравнадзора – гарантия качества и безопасности применения медицинского аппарата.
                +product-info-text(
                  {
                    title: '2. РИКТА-ЭСМИЛ (2А)-03',
                    desc: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии',
                    price: '37 800 ₽'
                  })
                  div
                    h4.text-xl.leading-7.text-black.mb-15px Преимущества
                    ul.pl-0.text-sm.leading-6
                      li.flex.items-center.mb-10px
                        i.laser.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                      li.flex.items-center.mb-10px
                        i.blue-light.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                      li.flex.items-center.mb-10px
                        i.cert.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                +product-info-text(
                  {
                    title: '3. РИКТА-ЭСМИЛ (2А)-03',
                    desc: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии. Аппарат электро-свето-магнито-инфракрасной лазерной терапии',
                    price: '37 800 ₽'
                  })
                  div
                    h4.text-xl.leading-7.text-black.mb-15px Преимущества
                    ul.pl-0.text-sm.leading-6
                      li.flex.items-center.mb-10px
                        i.laser.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                      li.flex.items-center.mb-10px
                        i.blue-light.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
                      li.flex.items-center.mb-10px
                        i.cert.shrink-0.mr-15px
                        span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
    section.section-main.section--area.mt-60px(data-page="area" )
      .section__container.container
        .section__inner
            .section__header
              h2.section__title.mb-20px Области применения
            +areas
              +areas-item({url: 'img/area-physio.jpg',caption: 'Физиотерапия'})
              +areas-item({url: 'img/area-pediatr.jpg',caption: 'Педиатрия'})
              +areas-item({url: 'img/area-cosmo.jpg',caption: 'Косметология'})
              +areas-item({url: 'img/area-stomatol.jpg',caption: 'Стоматология'})
              +areas-item({url: 'img/area-sport.jpg',caption: 'Спорт'})
              +areas-item({url: 'img/area-vet.jpg',caption: 'Ветеринария'})
            input.areas__range(type="range")(class="mt-10px")
    section.section-main.section--catalog.mt-40px(data-page='catalog')
      .section__container.container
        .section__inner
          h2.section__title.mb-0.xxl_mb-5px Каталог аппаратов
          +btn('Все аппараты','simple')(class="pt-3px")
          .product-list.mt-20px
            +product-card(
              {
                url: './img/product.jpg',
                title: 'РИКТА-04/4',
                desc: 'Без возрастных ограничений. С регулировкой мощности Без возрастных ограничений. С регулировкой мощности Без возрастных ограничений. С регулировкой мощности.',
                price: '44 800 ₽'
              })(class="slider__item")
            +product-card(
              {
                url: './img/product.jpg',
                title: 'РИКТА 04/4 (универсальный)',
                desc: 'Комплектация: "Универсальный" Без возрастных ограничений. С регулировкой мощности',
                price: '74 600 ₽'
              })(class="slider__item")
            +product-card(
              {
                url: './img/product.jpg',
                title: 'рикта-эсмил(1)а',
                desc: 'Портативный. Работает от аккумулятора Без возрастных ограничений. С регулировкой мощности',
                price: '98 200 ₽'
              })(class="slider__item")
            +product-card(
              {
                url: 'http://placekitten.com/300/300',
                title: 'рикта-тест',
                desc: 'Без возрастных ограничений. С регулировкой мощности Без возрастных ограничений. С регулировкой мощности',
                price: '98 200 ₽'
              })(class="slider__item")
    section.section-main.section--service.mt-60px(data-page='service')
      .section__container.container
        .section__inner
          +service(
            {
              url:'/img/service-sm.jpg',
              srcset:'/img/service-2x.jpg 640w,' +
                    '/img/service-3x.jpg 1992w'
            })
            ul.service__list.pl-0.text-black
              li.service__item.flex.items-center.mb-20px.xxl_mb-40px
                i.service-tech.shrink-0.mr-15px
                span Тех.обслуживание производителем
              li.service__item.flex.items-center.mb-20px.xxl_mb-40px
                i.service-garant.shrink-0.mr-15px
                span Гарантия два года
              li.service__item.flex.items-center.mb-20px.xxl_mb-40px
                i.service-delivery.shrink-0.mr-15px
                span Бесплатная доставка
              li.service__item.flex.items-center.mb-20px.xxl_mb-40px
                i.service-change.shrink-0.mr-15px
                span Обмен старых аппаратов со скидкой
    section.section-main.section--reviews.mt-60px(data-page='reviews')
      .section__container.container
        .section__inner
          .section__header
            h2.section__title Отзывы
            +btn('Все отзывы','simple')(class="")
          .reviews__tab-select-wrapper.field-select__wrapper.md_container.md_after_hidden
            select#reviews-tab-select.reviews__tab-select.tab-select.field-select.md_hidden(name="reviews-tab-select" role="tablist")
              option(value="#profs" role="tab") Профессионалы
              option(value="#users" role="tab") Пользователи
              option(value="#videos" role="tab") Видео
      +reviews()
    section.section-main.section--articles.mt-40px(data-page='articles')
      .section__container.container
        .section__inner
          h2.section__title.mb-0.xxl_mb-10px Новости и статьи
          +btn('Все статьи','simple').mb-20px
          .article-preview__list.slider
            .article-preview.slider__item.flex.xxl_h-466px.xxl_w-736px
              .article-preview__inner.xxl_flex
                .article-preview__img.shrink-0(class="xxl_w-1/2")
                  img.lazyload(data-src="img/article-1.jpg")
                .article-preview__text.xxl_pt-30px
                  .article-preview__date.text-base.mb-10px.xxl_mb-20px 15 марта 2022
                  .article-preview__title.mb-10px.text-lg.text-black Лазерная терапия в комплексном лечении рожистого воспаления
                  .article-preview__content.hidden.xxl_block.ellipsis(data-lines='9') Рожистое воспаление, рожа (erysipelas – от греч. erythros «красный» и pella«кожа») – инфекционное заболевание, вызываемое бета-гемолитическим стрептококком группы А,  протекающее в острой или хронической форме. В России встречается 10-12 случаев на 10 000 населения. Рожей в основном страдают люди старше 60 лет, причем женщины болеют чаще мужчин.
                  +btn('Подробнее','simple')(class="text-md mt-10px xxl_mt-20px")
            .article-preview.slider__item.xxl_h-466px.xxl_w-402px
              .article-preview__inner
                .article-preview__img
                  img.lazyload(data-src="img/article-2.jpg")
                .article-preview__text.xxl_pt-20px
                  .article-preview__date.text-base.mb-10px 15 марта 2022
                  .article-preview__title.text-lg.text-black Поллиноз, Сенная Лихорадка, Аллергический Ринит?
                  .article-preview__content.hidden
                  +btn('Подробнее','simple')(class="text-md mt-10px")
            //- .article-preview.slider__item
            //-   .article-preview__img
            //-     img(src="img/article-1.jpg")
            //-   .article-preview__text
            //-     .article-preview__date.text-base.mb-10px 15 марта 2022
            //-     .article-preview__title.text-lg.text-black Лазерная терапия в комплексном лечении рожистого воспаления
            //-     .article-preview__content
            //-     +btn('Подробнее','simple')(class="text-md mt-10px")
            //- .article-preview.slider__item
            //-   .article-preview__img
            //-     img(src="img/article-2.jpg")
            //-   .article-preview__text
            //-     .article-preview__date.text-base.mb-10px 15 марта 2022
            //-     .article-preview__title.text-lg.text-black Поллиноз, Сенная Лихорадка, Аллергический Ринит?
            //-     .article-preview__content
            //-     +btn('Подробнее','simple')(class="text-md mt-10px")





            //- +product-info-item(
            //-   {
            //-     title: 'РИКТА-04/4',
            //-     desc: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии',
            //-     price: '37 800 ₽'
            //-   })
            //-   div
            //-     h4.text-xl.leading-7.text-black.mb-10px Преимущества
            //-     ul
            //-       li.flex.items-center.mb-10px
            //-         i.laser.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
            //-       li.flex.items-center.mb-10px
            //-         i.blue-light.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
            //-       li.flex.items-center.mb-10px
            //-         i.cert.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
            //- +product-info-item(
            //-   {
            //-     title: 'РИКТА 04/4 (универсальный)',
            //-     desc:  'Аппарат электро-свето-магнито-инфракрасной лазерной терапии',
            //-     price: '37 800 ₽'
            //-   })
            //-   div
            //-     h4.text-xl.leading-7.text-black.mb-10px Преимущества
            //-     ul
            //-       li.flex.items-center.mb-10px
            //-         i.laser.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
            //-       li.flex.items-center.mb-10px
            //-         i.blue-light.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.
            //-       li.flex.items-center.mb-10px
            //-         i.cert.shrink-0.mr-15px
            //-         span Повышенная мощность лазера (45 Вт) в импульсе —более выраженный и быстрый эффект терапии при заболеваниях костно-мышечной системы. Ускоренное восстановление при спортивных перегрузках и разнообразных травмах.


  //- h1 Заголовок
  //- p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].
  //- .container
  //-   include ../blocks/nav/navbar.html
  //-   include ../blocks/nav/navbar-orig.html
  //- <div class="search-box">
  //-   <button class="btn-search"><i class="fas fa-search"></i></button>
  //-   <input type="text" class="input-search" placeholder="Type to Search...">
  //- </div>


//- block footer
//-   p footer

block prepend page-bottom
  script(src='https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/3.0.3/js-cloudimage-360-view.min.js')

