// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  $block-name: &; // #{$block-name}__element

  color: $tw-black;

  &.slider__item {
    display: inline-flex !important;
  }

  &--catalog {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 35px;
    border-bottom: 1px solid $tw-gray-200;

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
      border: 1px solid $tw-gray-200;
      border-radius: 4px;
      overflow: hidden;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &#{$block-name}--info {
      #{$block-name}__inner {

        @media (min-width: $screen-lg) {
          padding-right: 0;
          padding-left: 40px;
        }
      }
    }

    #{$block-name}__inner {
      @media (min-width: $screen-lg) {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 320px 1fr;
        gap: 0 30px;
        padding-right: 40px;
      }

      @media (min-width: $screen-xxl) {
        grid-template-columns: 410px 1fr;
        gap: 0 42px;
      }
    }

    #{$block-name}__img {
      height: 260px;
      border-radius: 4px;

      @media (min-width: $screen-lg) {
        height: auto;
        min-height: 374px;
        grid-row-start: 1;
        grid-row-end: 7;
      }

      #{$block-name}__add {
        @media (min-width: $screen-lg) {
          display: none;
        }
      }
    }

    #{$block-name}__title {
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 0;
      @apply text-xl;
      color: $tw-black;

      @media (min-width: $screen-lg) {
        margin-top: 32px;
        color: $tw-black;
      }
    }

    #{$block-name}__desc {
      margin-bottom: 3px;
      padding: 0;

      @media (min-width: $screen-lg) {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    #{$block-name}__text {
      align-self: start;

      @media (min-width: $screen-lg) {
        padding: 0;
        @apply text-base;
      }
    }


    #{$block-name}__price {
      margin-top: 15px;
      padding: 0;

      @media (min-width: $screen-lg) {
        @apply text-2xl;
      }
    }


    #{$block-name}__add {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
        top: 1px;
        right: 1px;
        padding: 4px 10px;
        font-size: 12px;
        border-bottom: 1px solid $tw-gray-200;
        border-left: 1px solid $tw-gray-200;
        border-bottom-left-radius: 4px;
      }
    }
  }

  &--info {
    #{$block-name}__inner {
      grid-template-columns: 330px 1fr;
      padding-bottom: 20px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: $tw-gray-100;

      @media (min-width: $screen-lg) {
        padding-bottom: 0;
      }
    }
  }

  &--wishlist {
    #{$block-name}__inner {
      height: 100%;
    }

    .btn--delete {
      margin-top: 18px;
      color: $tw-red-900;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $onepage-width) {
      height: 100%;
    }
  }

  &__img {
    position: relative;
    height: 200px;
    background-color: $tw-gray-100;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform $transition-time-img;
    }


    @media (min-width: $screen-lg) {
      height: 242px;
    }

    @media (min-width: $onepage-width) {
      .screen-low & {
        height: 170px;
      }
    }

    @media (min-width: $screen-xxl) {
      // height: 242px; !!!!

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    #{$block-name}--info & {
      img {
        object-fit: cover;
      }

      @media (min-width: $screen-lg) {
        height: 292px;
        grid-column-start: 2;
        grid-column-end: 3;
        margin-right: 0;
      }
    }


    .product-catalog--inner-page & {
      @media (min-width: $screen-lg) {
        height: 300px;
      }
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0 5px;
    font-size: 18px;
    line-height: 28px;
    color: $tw-black;

    &:hover,
    &:focus,
    &:active {
      color: currentColor;
      opacity: 0.7;
    }

    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 12px;
      }
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: 2px;
    }

    #{$block-name}--info & {
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 0 20px;
      @apply text-lg;

      @media (min-width: $screen-lg) {
        padding-right: 90px;
        padding-left: 0;
        margin-top: 30px;
        @apply text-2xl;
        line-height: 34px;
        color: $tw-black;
      }
    }
  }

  &__desc {
    padding: 0 5px;
    margin-bottom: auto;
    font-size: 13px;
    line-height: 24px;
    color: $tw-gray-500;


    #{$block-name}--info & {
      padding: 0 20px;

      @media (min-width: $screen-lg) {
        padding: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        @apply text-base;
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    // position: relative;
    @apply text-sm;

    &--available {
      color: $tw-green-500;
    }

    &--wait {
      color: $tw-yellow-500;
    }

    &--none,
    &--few {
      color: $tw-red-900;
    }

    svg {
      margin-right: 5px;
      fill: transparent;
    }

    .product-main & {
      @media (min-width: $screen-lg) {
        margin-top: 5px;
        margin-bottom: 0;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }

  &__text {
    padding: 0 5px;
    font-size: 13px;
    line-height: 24px;
    color: $tw-gray-500;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;

  }

  &__price {
    padding: 0 5px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: $tw-black;

    &--old {
      margin-right: 10px;
      opacity: 0.3;
      text-decoration: line-through;
    }
  }


  &__actions {
    display: flex;
    margin-top: 16px;

    .btn {
      margin-right: 5px;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__top-list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    top: 11px;
    right: 10px;
    z-index: 10;

    @media (min-width: $screen-lg) {
      top: 18px;
      right: 20px;
    }
  }

  &__top-item {
    display: flex;
    align-items: center;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;
    @apply text-sm;
    background-color: #fff;
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      stroke: currentColor;
    }

    .product-main & {
      @media (min-width: $screen-lg) {
        height: 32px;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }

  &__add {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 26px;
    padding-left: 8px;
    padding-right: 8px;
    @apply text-sm;
    background-color: #fff;
    border-left-top-radius: 4px;
  }


  .btn--fav {
    margin-left: auto;
    font-size: 20px;
    line-height: 1;
  }

  .btn--compare {
    font-size: 20px;
    line-height: 1;

    @media (min-width: $screen-xxl) {
      margin-right: 5px !important;
    }
  }

  &__credit {
    padding-right: 15px;
    justify-self: end;
    white-space: nowrap;

    .product-main & {
      @media (min-width: $screen-lg) {
        margin-top: 5px;
        margin-left: 25px;
        justify-self: start;
        align-items: center;
      }

      svg {
        @media (min-width: $screen-lg) {
          width: 24px;
          height: 24px;
          margin-bottom: 5px;
        }
      }
    }
  }

}
