// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  $block-name: &; // #{$block-name}__element

  &.slider__item {
  display: flex !important;
  }


  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__img {
    height: 200px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $transition-time-img;
    }

    @media (min-width: $screen-xxl) {
      height: 242px;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }


  }

  &__title {
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0 5px;
    font-size: 18px;
    line-height: 28px;
    color: $tw-black;

    &:hover,
    &:focus,
    &:active {
      color: currentColor;
      opacity: 0.7;
    }

    @media (min-width: $screen-xxl) {
      margin-bottom: 2px;
    }
  }

  &__desc {
    padding: 0 5px;
    margin-bottom: auto;
    font-size: 13px;
    line-height: 24px;
    color: $tw-gray-500;
  }

  &__price {
    padding: 0 5px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
    color: $tw-black;
  }

  &__actions {
    display: flex;
    margin-top: 16px;

    .btn {
      margin-right: 5px;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .btn--fav {
    margin-left: auto;
    font-size: 20px;
    line-height: 1;


  }

  .btn--compare {
    font-size: 20px;
    line-height: 1;

    @media (min-width: $screen-xxl) {
      margin-right: 5px !important;
    }
  }

}
