//- Все примеси в этом файле должны начинаться c имени блока (service)

mixin service(props={}, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +service('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service--' + modsList[i].trim();
      }
    }

  .service(class=allMods)&attributes(attributes)
    .service__inner
      .service__img
        picture
          source(media='(max-width: 480px)' data-srcset='img/service-440x300.jpg')
          source(media='(max-width: 699px)' data-srcset='img/service-640x385.jpg')
          source(media='(max-width: 1023px)' data-srcset='img/service-364x389.jpg')
          source(media='(max-width: 1439px)' data-srcset='img/service-800x1300.jpg')
          source(media='(min-width: 1440px)' data-srcset='img/service-1200x2040.jpg')
          img.lazyload(data-src='img/service-440x300.jpg', alt='')
      h2.section__title Сервис
      .service__info
        block
