//- Все примеси в этом файле должны начинаться c имени блока (service)

mixin service(props={}, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +service('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service--' + modsList[i].trim();
      }
    }

  .service(class=allMods)&attributes(attributes)
    .service__inner
      .service__img
        img.lazyload(data-src=props.url srcset = props.srcset)
      h2.section__title Сервис
      .service__info
        block
