//- Все примеси в этом файле должны начинаться c имени блока (cart)

mixin cart(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +cart('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cart--' + modsList[i].trim();
      }
    }

  .cart(class=allMods)&attributes(attributes)
    .cart__inner
      .cart__icon
        i.fa-solid.fa-bag-shopping
      .cart__section(class="text-left")
        .cart__section-inner(class="ml-[16px] pr-[20px]")
          .cart__goods <span>1</span> товар на сумму
          .cart__sum 74600 Р
      .cart__section(class="")
        .cart__section-inner(class="text-left text-xl")
          button(class="px-[20px]")
            i.fa-regular.fa-heart
      .cart__section(class="after_hidden")
        .cart__section-inner(class="text-left text-xl border-0")
          button(class="px-[20px]")
            i.fa-solid.fa-arrow-right-arrow-left


