//- Все примеси в этом файле должны начинаться c имени блока (cart)

mixin cart(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +cart('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cart--' + modsList[i].trim();
      }
    }

  a.cart(class=allMods href="#")&attributes(attributes)
    .cart__inner
      .cart__icon-wrapper
        .cart__icon
          +svg('bag','',{width: '20', height: '21'})
        .cart__section(class="text-left")
          .cart__section-inner.ml-16px.pr-20px
            .cart__goods <span>1</span> товар на сумму
            .cart__sum 74600 Р
      .cart__section(class="")
        .cart__section-inner.px-20px
          .cart__section-btn.cart__section-btn--has-goods
            button
              +svg('heart-full','',{width: '20', height: '18'})
      .cart__section(class="after_hidden")
        .cart__section-inner.px-20px.border-0
          .cart__section-btn.cart__section-btn--has-goods
            button
              +svg('arrows-left-right','',{width: '16', height: '21'})


