//- Все примеси в этом файле должны начинаться c имени блока (cart-steps)

mixin cart-steps(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cart-steps--' + modsList[i].trim();
      }
    }

  .cart-steps(class=allMods)&attributes(attributes)
    .cart-steps__inner
      block
