// В этом файле должны быть стили для БЭМ-блока page-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-links {

  $block-name: &; // #{$block-name}__element

  margin-bottom: 0;
  border-bottom: 1px solid $tw-gray-200;



  &__link {
    cursor: pointer;

    .product-data & {
      display: flex !important;
      align-items: center;
      height: 100%;
      text-align: center;
    }

  }
}
