// В этом файле должны быть стили для БЭМ-блока page-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-links {

  $block-name: &; // #{$block-name}__element

  margin-bottom: 0;
  border-bottom: 1px solid $tw-gray-200;

  &--delivery {

    .nav-item {
      .nav-link {
        margin: 0 15px !important;
        padding: 10px 0 !important;

        @media (min-width: $screen-lg) {
          padding: 24px 0 !important;
          margin: 0 24px !important;
        }
      }

      &:first-child {
        .nav-link {
          margin-left: 0 !important;
        }
      }
    }
  }



  &__link {
    cursor: pointer;

    .product-data & {
      display: flex !important;
      align-items: center;
      height: 100%;
      text-align: center;
    }

  }
}
