//- Все примеси в этом файле должны начинаться c имени блока (icon-svg)

mixin icon-svg(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' icon-svg--' + modsList[i].trim();
      }
    }

  .icon-svg(class=allMods)&attributes(attributes)
    .icon-svg__inner
      block
