// В этом файле должны быть стили для БЭМ-блока switcher, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.switcher {

  $block-name: &; // #{$block-name}__element

  position: relative;
  min-width: 35px;

  &__select {
    border-left: 1px solid $tw-gray-200;
    border-right: 1px solid $tw-gray-200;
    border-bottom: 1px solid $tw-gray-200;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    &.show {
      left: 0 !important;
      right: 0 !important;
      top: 100% !important;
      min-width: auto !important;
      padding-top: 0;
      transform: none !important;

      #{$block-name}__item {
        padding-left: 10px;
        padding-right: 15px;
        display: flex;
        align-items: center;

        .page-footer__lang-switcher & {
          padding-left: 19px;

          svg {
            width: 0;
            padding-right: 15px;
          }

          &:hover {
            background-color: $tw-gray-400;

            svg {
              width: auto;
              padding-right: 0;
              margin-right: 9px;

              &.check {
                fill: transparent;
                stroke: #fff;
              }
            }
          }
        }

        .page-header & {
          &:hover {
            opacity: 0.5;
          }
        }

      }

    }
  }


  &__value {
    padding-left: 10px;
    padding-right: 15px;
    min-width: 50px;
    border: 1px solid $tw-gray-200;
    border-radius: 1rem;

    #{$block-name}.show & {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-color: transparent;
    }

    .page-footer__lang-switcher & {
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  &__item {
    cursor: pointer;


    &--active {
      display: none !important;
    }
  }

}

.page-footer__lang-switcher {
  min-width: 182px;

  & .dropdown-toggle::after {
    display: none;
  }

  & .dropdown-menu {
    background-color: $tw-slate;
  }

  & .switcher__value {
    display: flex;
    align-items: center;

    svg {
      &.globe {
        margin-right: 7px;
      }

      &.angle-down {
        margin-left: 3px;
      }
    }

    // &::before {
    //   content: '\f0ac';
    //   margin-right: 10px;
    //   @apply font-icon;
    //   font-size: 20px;
    //   font-weight: 900;
    // }
  }
}
