// В этом файле должны быть стили для БЭМ-блока off-canvas, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$off-canvas-width:            320px !default; // ширина этого блока

.off-canvas {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  overflow: hidden;

  .js &--open {

    #{$block-name}__overlay {
      position: fixed;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      transition: opacity $transition-time ease;
    }

    #{$block-name}__close {
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }

    #{$block-name}__aside {
      transform: translateX($off-canvas-width);
    }

    #{$block-name}__page-content {
      transform: translateX($off-canvas-width);
    }
  }

  &__aside {
    padding-top: 70px;
    max-height: 30vh;
    overflow-y: auto;
    backface-visibility: hidden;
    background-color: #fff;
    color: $tw-black;
    transition: transform $transition-time ease;

    .js & {
      display: block !important;
      position: fixed;
      width: $off-canvas-width;
      height: 100%;
      left: ($off-canvas-width * -1);
      max-height: none;
      z-index: 100;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {

    &--separator {
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
      margin-bottom: 10px;
    }
  }

  &__menu-link {
    display: block;
    padding: 8px 14px;
    line-height: 1.2;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      background-color: $gray-darker;
    }
  }

  &__page-content {
    backface-visibility: hidden;
    transition: transform $transition-time ease;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }

  &__close {
    position: absolute;
    right: 32px;
    top: 32px;
  }

  &__toggler {
    margin-right: 15px;
    min-width: 30px;

    @media (max-width: 1279px) {
      order: 3;
      padding: 0;
      margin: 0;
      width: 30px;
    }
  }
}
