//- Все примеси в этом файле должны начинаться c имени блока (order-payment)

mixin order-payment(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' order-payment--' + modsList[i].trim();
      }
    }

  .order-payment(class=allMods)&attributes(attributes)
    .order-payment__inner
      block
