//- Все примеси в этом файле должны начинаться c имени блока (consult)

mixin consult(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' consult--' + modsList[i].trim();
      }
    }

  .consult(class=allMods)&attributes(attributes)
    +author3({
      url: props.url,
      name: props.name,
      text: props.text,
      phone: props.phone
    })
    .text-lg.text-black.mb-12px Бесплатная консультация врача
    +btn('Получить консультацию','regular')(class='bg-white border-white')
