// В этом файле должны быть стили для БЭМ-блока areas, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.areas {

  $block-name: &; // #{$block-name}__element

  position: relative;

  @media (min-width: $onepage-width) {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-right: -10px;
    justify-content: center;
  }

  @media (min-width: $screen-lg) {
    width: 100%;
  }

  &__inner {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: 1fr 3% 1fr 3% 1fr;
      grid-template-rows: 47% 6% 47%;
      // gap: 6% 3%;
      height: 80%;
    }

    @media (min-width: $onepage-width) {
      flex-grow: 1;
    }

    @media (min-width: $screen-lg) {
      max-height: 480px; //картинки слишком растягиваются по высоте
    }
  }

  &__item {
    display: block;

    &:first-child {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-child(3) {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &:nth-child(5) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &:nth-child(6) {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4;
    }

  }

  &__img {
    position: relative;
    height: 236px;
    border-radius: 4px;
    overflow: hidden;
    transition: background $transition-time-img;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      opacity: 0;
      transition: opacity $transition-time;

      #{$block-name}__item:hover & {
        opacity: 1;
      }
    }

    @media (min-width: 481px) {
      height: 300px;
    }

    @media (min-width: 700px) {
      height: 236px;
    }

    @media (min-width: $onepage-width) {
      height: 100%;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition: transform $transition-time-img;

      #{$block-name}__item:hover & {
        transform: scale(1.1);
      }
    }
  }

  &__caption {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 6px 16px;
    background-color: #fff;
    color: $tw-black;
    border-radius: 78px;
    font-size: 18px;
    line-height: 28px;
    // transition: transform 600ms;

    // #{$block-name}__item:hover & {
    //   transform: translateX(-200%);
    // }
  }

  @mixin range-thumb {
    position: relative;
    width: 53px;
    height: 2px;
    padding: 10px 0;
    background-color: $tw-black;
    background-clip: content-box;
    cursor: pointer;
    border: none;
  }

  @mixin range-track {
    background: $tw-gray-300;
    height: 2px;
    border: 0;
  }

  &__range {
    width: 100%;
    // -webkit-appearance: none;

    // &::-moz-range-thumb {
    //   @include range-thumb;
    // }

    // &::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   width: 53px;
    //   height: 0;
    //   cursor: pointer;
    //   background-color: $tw-black;
    //   padding: 1px 0;
    // }

    // &::-ms-thumb {
    //   @include range-thumb;
    // }

    // &::-moz-range-track {
    //   @include range-track;
    // }

    // &::-webkit-slider-runnable-track {
    //   -webkit-appearance: none;
    //   @include range-track;
    // }

    // &::-ms-track {
    //   @include range-track;
    // }

    @media (min-width: 700px) {
      display: none !important;
    }
  }

}
