// В этом файле должны быть стили для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.close {
  position: absolute;
  width: 13px;
  height: 13px;


  &:hover {
  }

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 13px;
    width: 1px;
    background-color: $tw-black;
    transform-origin: center;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
