// В этом файле должны быть стили для БЭМ-блока product-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

//! Карточка товара основная
.product-main {

  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-columns: auto 1fr;

  @media (min-width: $screen-lg) {
    grid-template-columns: 53% auto 1fr;
  }

  @media (min-width: $screen-xl) {
    grid-template-columns: 58.333333% auto 1fr;
  }


  @media (min-width: $screen-xxl) {
    grid-template-rows: auto auto auto auto auto auto 1fr;
  }

  &__title {
    grid-column-start: 1;
    grid-column-end: 3;
    @apply text-xl;

    @media (min-width: $screen-lg) {
      @apply text-2xl;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  &__sliders {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 8;
    }

    @media (min-width: $screen-xxl) {
      margin-right: 50px;
    }
  }

  &__slider-wrapper {
    margin-bottom: auto;
    flex-grow: 1;
    // height: 100%;
  }

  &__slider-item {
    display: none;
    position: relative;
    height: 221px;

    @media (min-width: 500px) {
      height: 360px;
    }

    @media (min-width: $screen-lg) {
      // height: auto;
      height: 100%;
    }

    @media (min-width: $screen-xxl) {
      height: 423px;
    }

    &:first-child {
      display: inline-block;
      width: 100%;
    }

    &.tns-item {
      display: inline-block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.cloudimage-360-view-360-circle {
        height: auto;
      }
    }

    .video-yt {
      width: 100%;
      height: 100%;
    }

    .video-yt__poster {
      height: 100%;
    }
  }

  &__controls .slider__controls-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    z-index: 10;
    @apply shadow-default;

    &--prev {
      left: -15px;

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: -15px;
    }
  }


  &__previews-controls .slider__controls-btn {
    position: absolute;
    transform: translateY(-50%);
    z-index: 10;
    padding: 10px;

    &--prev {
      left: -10px;

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: -10px;
    }
  }

  &__video {
    position: relative;
    background-color: $tw-gray-100;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $tw-gray-100;
    }

    &.playing::after {
      z-index: -1;
    }
  }

  &__poster {
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain !important;
    }

    &[data-src] {
      cursor: zoom-in;
    }
  }

  .slider__controls-btn:disabled {
    opacity: 0.5;
    background-color: $tw-gray-100;
  }

  &__previews-item {
    cursor: pointer;
    display: none;

    &:first-child {
      display: inline-block;
    }

    &.tns-item {
      display: inline-block;
    }
  }

  &__preview-img {
    position: relative;
    width: 80px;
    height: 58px;
    background-color: $tw-gray-200;
    border-radius: 4px;
    opacity: 0.3;

    @media (min-width: $screen-xxl) {
      width: 101px;
      height: 74px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-30%);
      z-index: 1;
    }

    .tns-slide-active:first-child+.tns-slide-active &,
    .tns-item:not(.tns-slide-active)+.tns-slide-active+.tns-slide-active & {
      opacity: 1;
      border: 1px solid $tw-gray-300;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xxl - 1) {

      .tns-slide-active & {
        opacity: 0.3 !important;
        border-color: transparent !important;
      }

      .tns-slide-active:first-child+.tns-slide-active+.tns-slide-active &,
      .tns-item:not(.tns-slide-active)+.tns-slide-active+.tns-slide-active+.tns-slide-active & {
        opacity: 1 !important;
        ;
        border: 1px solid $tw-gray-300 !important;
      }
    }

    @media (min-width: $screen-xxl) {
      .tns-slide-active & {
        opacity: 0.3 !important;
        border-color: transparent !important;
      }

      .tns-slide-active:first-child &,
      .tns-item:not(.tns-slide-active)+.tns-slide-active & {
        opacity: 1 !important;
        border: 1px solid $tw-gray-300 !important;
      }
    }

  }


  &__previews-wrapper {
    margin-top: 12px;

    .tns-ovh {
      display: flex;
      justify-content: center;
    }

    .tns-inner {
      width: 268px;

      @media (min-width: 480px) {
        width: 380px;
      }

      @media (min-width: $screen-md) {
        width: 700px;
      }

      @media (min-width: $screen-xxl) {
        width: 700px;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    color: $tw-black;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      grid-column-start: 2;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto 1fr;
    }
  }

  &__price {
    font-size: 22px;
    line-height: 28px;

    @media (min-width: $screen-lg) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      @apply text-36px;
    }

    & + .w-full {
      margin-top: 5px;
      margin-bottom: 10px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &__price-old {
    opacity: 0.85;

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      font-size: 24px;
      line-height: 34px;
    }
  }

  //! Дополнительно
  &__options {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    @media (min-width: $screen-xxl) {
      max-width: 600px;
    }
  }

  &__question {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__special {
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  &__delivery {
    margin-top: 24px;
    grid-column-start: 1;
    grid-column-end: 3;

    @media (min-width: $screen-lg) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  &__delivery-item {
    @apply text-sm;
    color: $tw-black;

    span {
      color: $tw-gray-500;
    }

    &--others {
      color: $tw-blue_link;
    }
  }

  .tns-outer,
  .tns-ovh,
  .tns-inner,
  .tns-slider
   {
    height: 100%;
  }
}
