// В этом файле должны быть стили для БЭМ-блока menu-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu-actions {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    align-items: center;
  }
}
