//- Все примеси в этом файле должны начинаться c имени блока (products)

mixin products(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' products--' + modsList[i].trim();
      }
    }

  .products(class=allMods)&attributes(attributes)
    +product-card({
      title: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии рикта-эсмил(1)а',
      desc: 'Портативный. Работает от аккумулятора',
      status: 'В наличии',
      status_icon: 'check-2',
      status_icon_sizes: [8,8],
      status_class: 'available',
      top: ['Бесплатная доставка','Акция'],
      price: '120 680 &#8381;',
      url: '/img/product1.jpg',
      text: 'Обладает тем же терапевтическим эффектом, что и аппарат Рикта 04/4, однако не имеет функции регулировки мощности. '
    },'wishlist')
    +product-card({
      title: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии рикта-эсмил(1)а',
      desc: 'Портативный. Работает от аккумулятора',
      status: 'В наличии',
      status_icon: 'wait',
      status_icon_sizes: [14,14],
      status_class: 'wait',
      top: ['Бесплатная доставка','Акция'],
      price: '37 800 &#8381;',
      price_old: '28 600 ₽',
      url: '/img/product1.jpg',
      text: 'Обладает тем же терапевтическим эффектом, что и аппарат Рикта 04/4, однако не имеет функции регулировки мощности. '
    },'wishlist')
    +product-card({
      title: 'РИКТА-ЭСМИЛ (2А)-03',
      desc: 'Мощность лазера - 45 Вт. Наличие TENS и синего света.',
      status: 'Осталось <span>3</span> шт.',
      status_icon: 'bell',
      status_icon_sizes: [14,14],
      status_class: 'few',
      top: ['Бесплатная доставка','Акция'],
      price: '37 800 &#8381;',
      url: '/img/product1.jpg',
      text: 'Обладает тем же терапевтическим эффектом, что и аппарат Рикта 04/4, однако не имеет функции регулировки мощности. '
    },'wishlist')
    +product-card({
      title: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии рикта-эсмил(1)а',
      desc: 'Портативный. Работает от аккумулятора',
      status: 'В наличии',
      status_icon: 'check-2',
      status_icon_sizes: [8,8],
      status_class: 'available',
      top: ['Бесплатная доставка','Акция'],
      price: '120 680 &#8381;',
      url: '/img/product1.jpg',
      text: 'Обладает тем же терапевтическим эффектом, что и аппарат Рикта 04/4, однако не имеет функции регулировки мощности. '
    },'wishlist')
    +product-card({
      title: 'Аппарат электро-свето-магнито-инфракрасной лазерной терапии рикта-эсмил(1)а',
      desc: 'Портативный. Работает от аккумулятора',
      status: 'В наличии',
      status_icon: 'wait',
      status_icon_sizes: [14,14],
      status_class: 'wait',
      top: ['Бесплатная доставка','Акция'],
      price: '37 800 &#8381;',
      price_old: '28 600 ₽',
      url: '/img/product1.jpg',
      text: 'Обладает тем же терапевтическим эффектом, что и аппарат Рикта 04/4, однако не имеет функции регулировки мощности. '
    },'wishlist')
