//- Все примеси в этом файле должны начинаться c имени блока (pages)

mixin pages(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pages('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pages--' + modsList[i].trim();
      }
    }

  .pages.hidden.xxl_block(class=allMods)&attributes(attributes)
    .pages__inner
      a.pages__line.active(data-line="main-slider" href="#main-slider")
      a.pages__line(data-line="features" href="#features")
      a.pages__line(data-line="info" href="#info")
      a.pages__line(data-line="area" href="#area")
      a.pages__line(data-line="catalog" href="#catalog")
      a.pages__line(data-line="service" href="#service")
      a.pages__line(data-line="reviews" href="#reviews")
      a.pages__line(data-line="articles" href="#articles")


