//- Все примеси в этом файле должны начинаться c имени блока (method-download)

mixin method-download(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' method-download--' + modsList[i].trim();
      }
    }

  .method-download(class=allMods)&attributes(attributes)
    .method-download__inner
      block
