// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.burger {


  $block-name: &; // #{$block-name}__element

  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 45px;
  border: none;
  padding: 0;
  padding-left: 15px;
  height: 28px;
  background: transparent;
  user-select: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 15px;
    width: 30px;
    height: $toggler-part-height;
    background: $toggler-part-bg-color;
    transform-origin: 50% 50%;
    transition: all $transition-time;
    transition-property: transform, top, bottom;
  }

  &:before {
    top: 5px;
  }

  &:after {
    bottom: 5px;
  }

  &:hover:not(#{$block-name}--closed):not(#{$block-name}--close) {
    &:before {
      top: 10px;
    }

    &:after {
      bottom: 10px;
    }
  }


  &--close#{$block-name}--animated,
  &--closed {

    // transition: background $transition-time 0s;
    // background: transparent;

    &:before,
    &:after {
      top: 50%;
      transition: top $transition-time, transform $transition-time $transition-time;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }

  }

  &--closed,
  &--close {
    &:hover
    {
      opacity: 0.5 !important;
    }
  }

  &.main-nav__toggler {
    width: 30px;
    padding-left: 0;

    &::before,
    &::after {
      left: 0;
    }
  }
}
