$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$navbar-nav-link-padding-x: 15px;

$nav-tabs-border-width: 1px;
$nav-tabs-border-color: $tw-gray-200;

$nav-pills-border-radius: 4px;

