//- Все примеси в этом файле должны начинаться c имени блока (list-num)

mixin list-num(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' list-num--' + modsList[i].trim();
      }
    }

  .list-num(class=allMods)&attributes(attributes)
    .list-num__inner
      block
