// В этом файле должны быть стили для БЭМ-блока list-num, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.list-num {

  $block-name:                &; // #{$block-name}__element

  counter-reset: num;
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none !important;

  li {
    position: relative;
    padding-left: 21px !important;
    margin-bottom: 20px !important;

    &::before {
      content: counter(num)'.';
      counter-increment: num;
      position: absolute;
      left: 0;
      font-weight: 400;
      color: $tw-gray-500;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
