// В этом файле должны быть стили для БЭМ-блока search-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-form {

  $block-name: &; // #{$block-name}__element

  $transition-time-search: 600ms;

  position: relative;
  height: 36px;
  box-sizing: border-box;
  width: 0;
  right: 0;
  z-index: 9;
  transition: transform $transition-time-search;

  @media (min-width: $screen-lg) {
    z-index: 20;
  }

  &.active {
    z-index: 20;
  }

  &__input-wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 0;
    right: 0;
    transition: max-width $transition-time-search;
    //

    @media (min-width: $screen-lg) {
      width: 560px;
    }
    @media (min-width: $screen-xl) {
      width: 620px;
    }
    @media (min-width: $screen-xxl) {
      width: 700px;
    }
    @media (min-width: $screen-3xl) {
      width: 1050px;
    }

    #{$block-name}.active & {
      max-width: 1100px;
    }
  }

  &__input {
    border-style: none;
    @apply text-base;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 0 9px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    color: $tw-black;
    background-color: $tw-gray-100;
    transition: padding $transition-time-search;

    @media (min-width: $screen-lg) {
      margin: 0;
    }

    #{$block-name}.active & {
      max-width: 100%;
      padding-left: 18px;
      padding-right: 40px;
    }

    &::placeholder {
      color: $tw-gray-300;
      opacity: 1;
    }
  }

  &__btn {
    border-style: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: transparent;
    pointer-events: painted;

    // #{$block-name}.active & {
    //   right: 102px;
    //   transition: all $transition-time-search;

    //   @media (min-width: $screen-xl) {
    //     right: 0;
    //   }
    // }

    // #{$block-name} &.active{
    //   right: 20px;
    // }

    // &:focus {
    //   outline: 2px solid green;
    // }

    // &:focus ~ #{$block-name}__input {
    //   outline: 2px solid red;
    //   width: 200px;
    //   border-radius: 0px;
    //   border-bottom: 1px solid rgba(255, 255, 255, .5);
    //   transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    //         background-color: red;
    // //background-color: $tw-gray-100;

    // }
  }


}
