// В этом файле должны быть стили для БЭМ-блока search-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-form {

  $block-name: &; // #{$block-name}__element
    box-sizing: border-box;
    position: relative;

    @media (min-width: $screen-xl) {

    }

   &.active {
      position: absolute;
      padding: 10px;
      background-color: #fff;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;

      @media (min-width: $screen-xl) {
        display: flex;
        align-items: center;
        left: 360px;
        width: 730px;
        height: 90px;
      }
      @media (min-width: $screen-xxl) {
        left: 390px;
      }
      @media (min-width: $screen-3xl) {
        width: 1100px;
      }
   }


  &__input-wrapper {
    width: fit-content;
    height: fit-content;

    #{$block-name}.active & {
      width: 100%;
    }
  }

  &__input {
    height: 40px;
    width: 50px;
    border-style: none;
    padding: 6px 18px;
    @apply text-base;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: $tw-black;
    transition: all 500ms;


    &.active {
      height: 40px;
      width: 100%;
      background-color: $tw-gray-100;
    }

    // &:focus {
    //   outline: 2px solid red;
    //   width: 200px;
    //   border-radius: 0px;
    //   background-color: red;
    // //background-color: $tw-gray-100;
    //   border-bottom: 1px solid rgba(255, 255, 255, .5);
    //   transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    // }
  }

  &__btn {
    width: 50px;
    height: 40px;
    border-style: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-color: transparent;
    pointer-events: painted;

    #{$block-name}.active & {
      right: 102px;
      transition: all 500ms;

      @media (min-width: $screen-xl) {
        right: 0;
      }
    }

    #{$block-name} &.active{
      right: 20px;
    }

    // &:focus {
    //   outline: 2px solid green;
    // }

    // &:focus ~ #{$block-name}__input {
    //   outline: 2px solid red;
    //   width: 200px;
    //   border-radius: 0px;
    //   border-bottom: 1px solid rgba(255, 255, 255, .5);
    //   transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    //         background-color: red;
    // //background-color: $tw-gray-100;

    // }
  }


}
