// В этом файле должны быть стили для БЭМ-блока search-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-form {

  $block-name: &; // #{$block-name}__element

  $transition-time-search: 600ms;

  position: relative;
  box-sizing: border-box;
  width: 0;
  right: 0;
  z-index: 11;
  transition: transform $transition-time-search;

  .main-nav--open~& {
    right: -50px;
  }

  @media (min-width: $screen-lg) {
    z-index: 20;
  }

  &.active {
    z-index: 20;
  }

  &--results {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .field-select {
      height: 40px;

      &__wrapper {
        @media (min-width: $screen-md) {
          width: 23%;
          min-width: 240px;
        }

        @media (min-width: $screen-lg) {
          min-width: 304px;
        }
      }
    }
  }

  &--articles {
    width: 100%;

    .profile & {
      @media (min-width: $screen-lg) {
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }
  }

  &__input-wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 0;
    right: 0;
    transition: max-width $transition-time-search;
    //

    @media (min-width: $screen-lg) {
      width: 660px;
    }

    @media (min-width: $screen-xl) {
      width: 720px;
    }

    @media (min-width: $screen-xxl) {
      width: 800px;
    }

    @media (min-width: $screen-3xl) {
      width: 1170px;
    }

    #{$block-name}.active & {
      max-width: 900px;

      @media (min-width: $screen-3xl) {
        max-width: 1200px;
      }
    }

    #{$block-name}--results &,
    #{$block-name}--articles & {
      position: relative;
      width: 100%;
      max-width: none;

      @media (min-width: $screen-md) {
        margin-right: 15px;
        margin-bottom: 0;
      }

      @media (min-width: $screen-xl) {
        margin-right: 32px;
      }
    }

    #{$block-name}--results & {
      margin-bottom: 30px;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }

    }
  }

  &__input {
    border-style: none;
    @apply text-base;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 0 9px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    color: $tw-black;
    background-color: $tw-gray-100;
    transition: padding $transition-time-search;

    @media (min-width: $screen-lg) {
      margin: 0;
    }

    &::placeholder {
      color: $tw-gray-300;
      opacity: 1;

      #{$block-name}--results & {
        color: $tw-black;
      }

      #{$block-name}--articles & {
        color: $tw-gray-500;
      }
    }


    #{$block-name}.active & {
      max-width: 100%;
      padding-left: 18px;
      padding-right: 40px;
    }

    #{$block-name}--results & {
      padding: 6px 15px;
      border-radius: 4px;
      margin: 0;
      @apply text-lg;
    }

    #{$block-name}--articles & {
      border-radius: 8px;
      margin-left: 0;
      margin-right: 0;
      padding: 5px 15px;
      background-color: #fff;

      @media (min-width: $screen-lg) {
        background-color: $tw-gray-100;
      }
    }
  }

  &__btn {
    border-style: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    background-color: transparent;
    pointer-events: painted;
  }


}
