h2.text-xl.lg_text-36px.mb-20px.mt-40px.lg_mt-70px.lg_mb-25px Что собой представляет патология
h2.text-xl.lg_text-36px.mb-20px.lg_mt-70px.lg_mb-25px Причины возникновения
h2.text-xl.lg_text-36px.mb-20px.mt-40px.lg_mt-70px.lg_mb-25px Симптомы
h2.text-2xl.lg_text-36px.mb-20px.mt-40px.lg_mt-70px.lg_mb-25px Стадии развития
h2.text-2xl.lg_text-36px.mb-20px.mt-40px.lg_mt-70px.lg_mb-25px.text-black Диагностика
h2.text-2xl.lg_text-36px.mb-20px.lg_mt-70px.lg_mb-25px.text-black Лечение
h2.text-2xl.lg_text-36px.mb-20px.mt-40px.lg_mt-70px.text-black Физиотерапия
h2.text-xl.lg_text-2xl.mb-20px.mt-40px.text-black Профилактика
h2.text-2xl.lg_text-36px.mt-0.mb-5px.lg_mb-0.lg_mt-0.xxl_mb-10px.pr-110px Вам может быть интересно


h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl.lg_mb-25px Магнитотерапия
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Ультрафиолетовое облучение
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Электрофорез
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl УВЧ
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Ультразвуковая терапия
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Бальнеотерапия
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Грязелечение
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Парафиновые обертывания
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Массаж
h3.text-xl.text-black.mt-40px.mb-20px.lg_text-2xl Лазерная терапия
h3.text-xl.text-black.mt-0.mb-20px.lg_text-2xl Список литературы:
h3.text-xl.text-black.mb-5px.lg_text-36px Часто задаваемые вопросы по заболеванию


ul.list-dots
ul.list-dots
ul.list-dots.pl-0.mb-0.lg_pl-15px
ul.list-dots
ul.list-dots.mb-30px

ul.list-num
ul.list-num.mb-20px
ul.list-num.mb-20px
ul.list-num.text-lg.p-0.lg_pl-20px

<b class='text-lg lg_text-xl text-black'>Первичный артрит</b>
<b class='text-lg lg_text-xl'>Вторичное</b>
<b class='text-black'>Основными местными признаками артрита</b>
<b class='text-black'>Первая степень.</b>
<b class='text-black'>Вторая степень.</b>
<b class='text-black'>Третья степень.</b>
<b class='text-black'>Четвертая степень.</b>
