extends ../pug/layout.pug

block meta
  title Патенты и Свидетельства
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block vars
  -
    var pageName = 'certs';

block content
  .wrapper
    +breadcrumbs(class="container")
      +breadcrumbs-item('Главная','#')
      +breadcrumbs-item('Патенты и Свидетельства')
    #bx_basketFKauiI.bx-basket.bx-opener
      +cart-aside(class='hidden xl_block')
    section.news.mt-30px.lg_mt-20px.mb-50px
      .article.container.mb-64px
        h1.section__title.mb-20px Патенты и Свидетельства
        .article__main.cert
          .cert__list
            +cert-item({
              url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
              thumb: 'img/cert-thumb.jpg',
              title: 'Сертификат ISO',
            })
              p Сертификат ISO
            +cert-item({
              url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
              thumb: 'img/cert-thumb.jpg',
              title: '  Сертификат соответствия ГОСТ Р (Рикта)',
            })
              p Сертификат соответствия ГОСТ Р (Рикта)
            +cert-item({
              url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
              thumb: 'img/cert-thumb.jpg',
              title: '  Сертификат соответствия ГОСТ Р (Рикта)',
            })
              p Приложение к сертификату соответствия ГОСТ Р (Рикта)
            +cert-item({
              url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
              thumb: 'img/cert-thumb.jpg',
              title: 'Сертификат соответствия ГОСТ Р (Рикта-Эсмил (1А) и Рикта-Эсмил(2А)) ',
            })
            +cert-item({
              url: 'https://rikta.ru/upload/medialibrary/8ee/8ee80e53534943dae09b1356c5db7edd.png',
              thumb: 'img/cert-thumb.jpg',
              title: 'Сертификат соответствия ГОСТ Р Госстандарта РФ (Рикта-05)',
            })
              p Сертификат соответствия ГОСТ Р Госстандарта РФ (Рикта-05)
        .article__aside.hidden.lg_block.lg_col-start-3.lg_row-start-3.lg_row-span-10
          .article__float
            .article__float-container
              +aside-nav-cert()

    section.section.section--catalog.section--catalog-news.lg_pt-0.lg_mb-128px
      .section__inner
        .container
          .product-catalog.product-catalog--inner-page
            h2.section__title.mb-0.mt-0 Рекомендуем <span class='hidden lg_inline'>обратить внимание на аппараты</span>
            +btn('Все аппараты','simple')(class="pt-3px")
            .product-list.mt-20px
              +product-card(
                {
                  url: './img/product.jpg',
                  srcset:
                  'img/product_320x200.jpg 320w,' +
                  'img/product_345x242.jpg 345w,',
                  sizes: '(max-width: 1023) 320px,' +
                        '(min-width: 1024px) 345px,',
                  title: 'РИКТА-04/4',
                  desc: 'Без возрастных ограничений. С&nbsp;регулировкой мощности Без возрастных ограничений.<br/>С&nbsp;регулировкой мощности.',
                  price: '44 800 ₽'
                })(class="slider__item")
              +product-card(
                {
                  url: './img/product.jpg',
                  srcset:
                  'img/product_320x200.jpg 320w,' +
                  'img/product_345x242.jpg 345w,',
                  sizes: '(max-width: 1023) 320px,' +
                        '(min-width: 1024px) 345px,',
                  title: 'РИКТА 04/4 (универсальный)',
                  desc: 'Комплектация: "Универсальный" Без возрастных ограничений. С&nbsp;регулировкой мощности',
                  price: '74 600 ₽'
                })(class="slider__item")
              +product-card(
                {
                  url: './img/product.jpg',
                  srcset:
                  'img/product_320x200.jpg 320w,' +
                  'img/product_345x242.jpg 345w,',
                  sizes: '(max-width: 1023) 320px,' +
                        '(min-width: 1024px) 345px,',
                  title: 'рикта-эсмил(1)а',
                  desc: 'Портативный. Работает от аккумулятора Без возрастных ограничений. С&nbsp;регулировкой мощности',
                  price: '98 200 ₽'
                })(class="slider__item")
              +product-card(
                {
                  url: 'http://placekitten.com/300/300',
                  srcset:
                  'img/product_320x200.jpg 320w,' +
                  'img/product_345x242.jpg 345w,',
                  sizes: '(max-width: 1023) 320px,' +
                        '(min-width: 1024px) 345px,',
                  title: 'рикта-тест',
                  desc: 'Без возрастных ограничений. С регулировкой мощности Без возрастных ограничений. С&nbsp; регулировкой мощности',
                  price: '98 200 ₽'
                })(class="slider__item")
