// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

  $block-name: &; // #{$block-name}__element

  &--ask-doctor {
    @media (min-width: $screen-lg) {
      display: grid;
      width: 100%;
      gap: 0 10px;
      grid-column-start: 1;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
    }

    #{$block-name}__msg {
      @media (min-width: $screen-lg) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .field-text__input-wrap {
        @media (min-width: $screen-lg) {
          height: 100%;
        }

        textarea {
          @media (min-width: $screen-lg) {
            height: 100%;
          }
        }
      }
    }
  }

  &--special {
    @media (min-width: $screen-lg) {
      display: grid;
      width: 100%;
      gap: 0 10px;
      grid-column-start: 1;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr;
    }

    #{$block-name}__msg {
      @media (min-width: $screen-lg) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .field-text__input-wrap {
        @media (min-width: $screen-lg) {
          height: 100%;
        }

        textarea {
          @media (min-width: $screen-lg) {
            height: 100%;
          }
        }
      }
    }
  }

  &--options {
    height: 100%;
    .cart-page & {
      height: auto;
    }
    .field-checkbox__name-text {
      &::before {
        background-color: $tw-gray-100;
        border-color: $tw-gray-100;
      }

      &::after {
        color: $tw-black;
      }
    }

    .product-options__item--checked .field-checkbox__name-text {

      &::before {
        background-color: #fff;
        border-color: #fff;
      }
    }
  }

  &__wrapper--reviews {
    @media (min-width: $screen-lg) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .form-special__msg {}
}
