// В этом файле должны быть стили для БЭМ-блока features, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features {

  $block-name: &; // #{$block-name}__element

  position: relative;

  &__list {

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto
    }
  }

  &__item-inner {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    width: 100%;
    padding: 20px;

    @media (min-width: $screen-md) {
      box-shadow: none !important;
    }
    @media (min-width: $screen-xl) {
      padding: 0;
    }
  }

  &__item {
    // display: flex !important;
    // max-width: 580px;

    @media (min-width: 680px) {
      display: flex !important;
    }

    // @media (min-width: $screen-md) {
    //   padding: 5px 20px;
    // }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: transparent;

    @media (min-width: $screen-xl) {
      width: 40px;
      height: 40px;
    }
  }

  &__icon {
    margin-right: 10px;
    align-self: center;
  }

  &__header {
    margin-top: 0;
    align-self: center;
    font-size: 20px;
    line-height: 1.5;
    color: $tw-black;

    @media (min-width: $screen-xl) {
      font-size: 24px;
      line-height: 1.4;
    }
  }

  &__text {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 16px;
    margin-left: -1.1em;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: $screen-xl) {
      margin-left: 0;
      font-size: 16px;
      line-height: 26px;
    }

    ul {
      padding-left: 10px;
    }

    li {
      position: relative;
      padding-left: 1em;
      margin-bottom: 10px;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0.18em;
        height: 0.18em;
        left: 0;
        top: 0.8em;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $tw-gray-300;
      }
    }
  }

  .tns-controls {
    position: absolute;
    left: 0;
    right: 0;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;


    & button[data-controls=prev],
    & button[data-controls=next] {
      position: absolute;
      width: 45px;
      height: 45px;
      margin: 0;
      border-radius: 50%;
      background-color: $tw-gray-100;
      border: none;

      &::before {
        @include sprite($arrow-right-black);
      }
    }

    & button[data-controls=prev] {
      left: 5px;
    }

    & button[data-controls=next] {
      right: 5px;
      // transform: rotate(180deg);
    }


  }
}
