//- Все примеси в этом файле должны начинаться c имени блока (info-line)

mixin info-line(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' info-line--' + modsList[i].trim();
      }
    }

  .info-line(class=allMods)&attributes(attributes)
    block
