// В этом файле должны быть стили для БЭМ-блока product-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-info {

  $block-name: &; // #{$block-name}__element

  position: relative;

  @media (min-width: $screen-md) {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 360px 30px 1fr;
    // gap: 0 30px;
    margin-top: 30px;
  }

  @media (min-width: $screen-lg) {
    height: 100%;
    display: grid;
    margin-top: 0;
    grid-template-rows: auto auto;
    grid-template-columns: 52% 30px 1fr;
  }

  @media (min-width: $onepage-width) {
    .screen-low & {
      grid-template-rows: auto 1fr;
      margin-top: 0;
    }
  }

  @media (min-width: $screen-xxl) {
    grid-template-columns: 52% 70px 1fr;
    // grid-template-columns: 664px 1fr;
  }

  .section__header {
    @media (min-width: $screen-md) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
    @media (min-width: $screen-lg) {
      align-self: flex-end;
    }
  }

  &__views-wrapper {
    margin-top: 20px;

    @media (min-width: $screen-md) {
      margin-top: 0;
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__text-wrapper {

    @media (min-width: $screen-md) {
      grid-column-start: 3;
      grid-column-end: 4;
      margin-top: 20px;
      overflow: hidden;
    }

    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 10px;
      }
    }


  }

  &__text-slider {
    display: flex !important;
    flex-direction: column;

    &:not(:first-child) {
      display: none !important;
    }

    #{$block-name}__text-list.tns-slider & {
      display: flex !important;
    }
  }

  &__list {
    margin-top: 20px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__inner {}

  &__view {
    height: 342px;

    background-color: #dadee1;
    // display: flex !important;
    // align-items: center;
    // justify-content: center;

    &:not(:first-child) {
      display: none !important;
    }

    #{$block-name}__views-list.tns-slider & {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: $screen-md) {
      display: flex;
      height: 100%;

      #{$block-name}__views-list.tns-slider & {
        display: flex !important;
        align-items: end;
      }
    }

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
    }
  }

  &__view-inner {
    width: 242px;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
    }

    @media (min-width: $screen-lg) {
      // margin-left: auto;
      // margin-top: 60px;
      // margin-right: 30px;
      width: 500px;
      height: auto;
      justify-content: center;
      align-self: center;
    }

    @media (min-width: $screen-xxl) {
      margin-left: 40px;
    }
  }

  &__view-content {
    // height: 610px;

    &.cloudimage-360-w360 {

      @media (min-width: $screen-lg) {
        display: none;

      }
    }

    &.cloudimage-360-w1024 {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: $tw-black;

    @media (min-width: $screen-md) {
      margin-top: 0;
      font-size: 24px;
      line-height: 34px;
    }
  }

  &__text.slider__item {

    @media (min-width: 700px) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    @media (min-width: $screen-md) {
      display: grid !important;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr auto;
      gap: 0 10px;
      height: auto;
    }

    @media (min-width: $screen-xxl) {
      gap: 0;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    color: $tw-gray-500;

    @media (min-width: $screen-md) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &__price {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: $tw-black;

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-right: 12px;
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 3;
      align-self: center;
    }
  }

  &__features {
    @media (min-width: $screen-md) {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    ul {
      @media (min-width: $onepage-width) {
        .screen-low & {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    li {
      color: $tw-gray-500;

      @media (min-width: $onepage-width) {
        .screen-low & {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__features-title {
    @media (min-width: $onepage-width) {
      .screen-low & {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  }

  &--product-info {
    margin-top: auto;
  }

  &__range {
    width: 100%;

    &::-moz-range-thumb {
      width: 33%;
    }

    &::-webkit-slider-thumb {
      width: 33%;
    }

    &::-ms-thumb {
      width: 33%;
    }
  }

  .btn--fav {
    svg {
      width: 20px;
      height: 19px;
    }
  }
}
