// В этом файле должны быть стили для БЭМ-блока load-file, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.load-file {

  $block-name: &; // #{$block-name}__element

  input {
    display: none;
  }

  .modal--special & {
    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    .modal--special & {
      @media (min-width: $screen-lg) {
        margin-right: 12px;
      }
    }

    #{$block-name}--reviews & {
      @apply text-base;
    }
  }

  &__info {
    #{$block-name}--reviews & {
      margin-right: auto;
      margin-left: auto;

      @media (min-width: $screen-lg) {
        margin-left: 15px;
      }
    }
  }

  &--reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
