// В этом файле должны быть стили для БЭМ-блока cart-aside, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cart-aside {

  $block-name: &; // #{$block-name}__element

  position: absolute;
  right: 64px;
  top: 0;
  bottom: 0;
  width: 64px;

  &.active {
    width: auto;
  }

  @media (min-width: $screen-xxl) {
    padding-top: 90vh;
  }

  @media (min-width: $screen-3xl) {
    right: 50%;
    margin-right: -780px;
  }


  &__inner {
    width: auto;
    position: sticky;
    top: 88vh;
    left: 64px;
    transform: translateY(-50%);
    z-index: 20;
  }

  .viewing-page-10 & {
    display: none;
  }
}


.page:not(.index) {
  .cart-aside {
    position: fixed;
    right: 20px;
    top: 88vh;
    width: auto;
    padding-top: 0;
    z-index: 99;

    @media (min-width: 1800px) {
      right: 50%;
      margin-right: -900px;
    }

    @media (min-width: 1800px) {
      margin-right: -950px;
    }
  }
  .cart-aside__inner {
    position: absolute;
    right: 20px;
    top: auto;
    left: auto;
  }

}
