//- Все примеси в этом файле должны начинаться c имени блока (compare-card)

mixin compare-card(props={}, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' compare-card--' + modsList[i].trim();
      }
    }

  .compare-card(class=allMods)&attributes(attributes)
    block
