// В этом файле должны быть стили для БЭМ-блока compare-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.compare-card {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  background-color: $tw-gray-100;

  .compare-slider & {
    height: 100%;
  }

  &__title {
    min-height: (2 * 30px) + 20px;
    margin-bottom: 20px;
    padding: 20px 20px 0;
    padding-bottom: 0;
    @apply text-xl;
    color: $tw-black;

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
      padding: 40px 40px 0;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }

    @media (min-width: $screen-lg) {
      padding: 20px 20px 0;
    }
  }

  &__content {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @media (min-width: $screen-md) {
      padding: 0 40px 40px;
      font-size: 24px;
      line-height: 32px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 20px 20px;
    }
  }

  &__icon {
    flex-shrink: 0;
    margin-bottom: 12px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    line-height: 36px;

    @media (min-width: $screen-md) {
      margin-bottom: 30px;
    }
  }

  &__price-val {
    @apply text-36px;
    font-weight: 700;
    color: $tw-black;
    text-transform: uppercase;
  }

  &__price-unit {
    font-size: 23px;
    color: $tw-gray-500;
    white-space: nowrap;
  }

  &__subtitle {
    min-height: 56px;
    font-size: 18px;
    line-height: 22px;
    color: $tw-black;
    align-self: start;
  }

  &__list {
    padding: 0;
    margin-bottom: 20px;
    list-style: none !important;
    align-self: start;

    @media (min-width: $screen-md) {
      margin-bottom: 40px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 10px;
    }


    &--minus {
      #{$block-name}__list-item {
        &::before {
          background-color: #F07474;
          background-image: url('../img/minus.svg');
        }
      }
    }

    &--plus {
      #{$block-name}__list-item {
        &::before {
          background-color: #72CB6B;
          background-image: url('../img/plus.svg');
        }
      }
    }
  }

  &__list-item {
      position: relative;
      margin-bottom: 18px;
      padding-left: 32px;
      font-size: 17px;
      line-height: 20px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 20px / 2;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        // transform: translateY(-50%);
      }
    }

  &__add {
    align-self: start;
    margin-top: auto;
    @apply text-sm;
    min-height: 3 * 24px;

    @media (min-width: $screen-md) {
    }
  }

}
